{% load i18n %}
{% load mtp_common %}

{% sortable_cell _('Date received') form.cleaned_data 'received_at' %}

<th scope="col">{% trans 'Payment source (from)' %}</th>

{% if link_prisoner %}
  {% sortable_cell _('Prisoner (to)') form.cleaned_data 'prisoner_number' %}
{% else %}
  <th scope="col">
    {% trans 'Prisoner (to)' %}
  </th>
{% endif %}

<th scope="col">{% trans 'Prison' %}</th>

{% sortable_cell _('Amount') form.cleaned_data 'amount' cell_classes='govuk-table__header--numeric' %}

<th class="govuk-table__header--numeric" scope="col">{% trans 'Details' %}</th>
