{% load i18n %}
{% load security %}

<th class="{{ form|ordering_classes:'received_at' }}">
  <a href="?{{ form|query_string_with_reversed_ordering:'received_at' }}">
    <span>
      {% trans 'Date received' %}
      {% describe_ordering_for_screenreader form 'received_at' %}
    </span>
  </a>
</th>

{% if link_prisoner %}
  <th class="{{ form|ordering_classes:'prisoner_number' }}">
    <a href="?{{ form|query_string_with_reversed_ordering:'prisoner_number' }}">
      <span>
        {% trans 'Prisoner' %}
        {% describe_ordering_for_screenreader form 'prisoner_number' %}
      </span>
    </a>
  </th>
{% else %}
  <th>
    {% trans 'Prisoner' %}
  </th>
{% endif %}

<th>
  <span class="visually-hidden">{% trans 'Method' %}</span>
</th>

<th>{% trans 'Payment source' %}</th>

<th class="{{ form|ordering_classes:'amount' }} number">
  <a href="?{{ form|query_string_with_reversed_ordering:'amount' }}">
    <span>
      {% trans 'Amount' %}
      {% describe_ordering_for_screenreader form 'amount' %}
    </span>
  </a>
</th>

<th>{% trans 'Prison' %}</th>

<th>{% trans 'Credited status' %}</th>
