{% load i18n %}
{% load security %}

<td class="mtp-numeric-left">
  {{ disbursement.created|date:'SHORT_DATE_FORMAT' }}
</td>

<td>
  {% if link_prisoner and disbursement.prisoner_number %}
    <a href="{{ disbursement|prisoner_profile_search_url }}" title="{% trans 'View prisoner details' %}" class="mtp-print-url-hidden">
      {{ disbursement.prisoner_number }}
    </a>
    <br/>
  {% elif disbursement.prisoner_number %}
    {{ disbursement.prisoner_number }}
    <br/>
  {% endif %}
  {{ disbursement.prisoner_name|default_if_none:'—' }}
</td>

<td>
  {{ disbursement.recipient_first_name }} {{ disbursement.recipient_last_name }}
  <br/>
  {% blocktrans trimmed with payment_method=disbursement.method|disbursement_method|lower %}
    by {{ payment_method }}
  {% endblocktrans %}
</td>

<td class="numeric">
  <span class="mtp-sortable-cell--pad">
    {{ disbursement.amount|currency }}
  </span>
</td>

<td>
  {{ disbursement.prison_name|default:'—' }}
</td>

<td class="numeric">
  {{ disbursement.resolution|format_disbursement_resolution }}
  <br/>
  <a href="{% url 'security:disbursement_detail' disbursement_id=disbursement.id %}" aria-label="{% trans 'View disbursement details' %}" class="print-hidden">
    {% trans 'View details' %}
  </a>
</td>
