{% load security %}
{% load i18n %}

<tr>
  <td>{{ disbursement.created|date:'SHORT_DATE_FORMAT' }}</td>
  <td>{{ disbursement.amount|currency }}</td>
  <td>
    {{ disbursement.prisoner_name }}<br/>
    {{ disbursement.prisoner_number }}
  </td>
  <td>{{ disbursement.prison_name|default_if_none:'—' }}</td>
  <td>{{ disbursement.recipient_first_name }} {{ disbursement.recipient_last_name }}</td>
  <td>
  {% if disbursement.method == 'bank_transfer' %}
    {{ disbursement.account_number|default:'—' }}
  {% elif disbursement.method == 'cheque' %}
    {% trans 'Cheque' %}
  {% else %}
    —
  {% endif %}
  </td>
  <td><a href="{% url 'security:disbursement_detail' disbursement.id %}" title="{% trans 'View disbursement details' %}">{% trans 'View' %}</td>
</tr>
