{% load i18n %}
{% load mtp_common %}

{% sortable_cell _('Date entered') form.cleaned_data 'created' %}

{% if link_prisoner %}
  {% sortable_cell _('Prisoner (from)') form.cleaned_data 'prisoner_number' %}
{% else %}
  <th>
    {% trans 'Prisoner (from)' %}
  </th>
{% endif %}

<th>
  <span class="visually-hidden">{% trans 'Method' %}</span>
</th>

<th>{% trans 'Recipient (to)' %}</th>

{% sortable_cell _('Amount') form.cleaned_data 'amount' cell_classes='numeric' %}

<th>{% trans 'Prison' %}</th>

<th class="numeric">{% trans 'Details' %}</th>
