{% load i18n %}
{% load mtp_common %}

{% if form.total_count <= view.export_download_limit %}

  <a class="js-FormAnalytics-click" href="{{ export_view }}?{{ request.GET.urlencode }}" data-click-track="export-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}" data-click-as-pageview="true">{% trans 'Export' %}</a>

{% elif form.total_count <= view.export_email_limit %}

  <a class="js-dialogue-open js-FormAnalytics-click" href="#export-dialogue" data-click-track="export-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Export' %}</a>

  {% dialoguebox html_id="export-dialogue" title=_('Export') %}
    <p>
      {{ export_message }}
      {% blocktrans trimmed with email=request.user.email %}
        We can email you the spreadsheet at {{ email }}.
      {% endblocktrans %}
    </p>
    <p>
      {% trans 'This may take a few minutes.' %}
    </p>
    <p>
      <a href="{{ email_export_view }}?{{ request.GET.urlencode }}" class="button" role="button">{% trans 'Email me the file' %}</a>
      <a href="#" class="button button-secondary {{ dialogue_close_class }}" role="button">{% trans 'Close' %}</a>
    </p>
  {% enddialoguebox %}

{% else %}

  <a class="js-dialogue-open js-FormAnalytics-click" href="#export-dialogue" data-click-track="export-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Export' %}</a>

  {% dialoguebox html_id="export-dialogue" title=_('Export') %}
    <p>
      {{ export_message }}
      {% trans 'Try filtering the results to get a shorter list.' %}
    </p>
    <p>
      <a href="#" class="button button-secondary {{ dialogue_close_class }}" role="button">{% trans 'Close' %}</a>
    </p>
  {% enddialoguebox %}

{% endif %}
