{% load i18n %}
{% load security %}

<div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-!-display-none-print">
  {% if form.existing_search %}
    <a class="govuk-button" data-module="govuk-button" role="button" href="?{{ form|query_string_with_additional_parameter:'unpin' }}">
      {{ unpin_label|default:_('Stop monitoring this profile') }}
    </a>
  {% else %}
    <a class="govuk-button" data-module="govuk-button" role="button" href="?{{ form|query_string_with_additional_parameter:'pin' }}">
      {{ pin_label|default:_('Monitor this profile on your home page') }}
    </a>
  {% endif %}
</div>
