.mtp-check-form-spacing > div.govuk-form-group {
  // There's an issue here with the margins stacking
  // for some elements but not others
  margin-top: 1em !important;
  margin-bottom: 0em !important;
  position: relative;
}
