.mtp-prisoner-image {
  margin-right: 30px;
  width: 160px;
  height: 200px;
  background: file-url('placeholder-image.png') no-repeat;

  @include device-pixel-ratio {
    background-image: file-url('placeholder-image@2x.png');
    background-size: contain;
  }

  img {
    width: 160px;
    height: 200px;
  }

  @include media($min-width: $desktop-breakpoint) {
    float: left;
  }
}

.mtp-prisoner-summary {
  margin: 0;

  .column-one-quarter {
    padding-left: 0;
    padding-right: 30px;
    width: auto;
  }

  @media print {
    .column-one-quarter {
      display: block;
    }
  }
}

.mtp-prisoner-summary__details {
  overflow: hidden;
  margin-bottom: 1em;
}

.mtp-object-list-toggle {
  display: flex;
  justify-content: flex-end;
}
