// app-specific styles

.mtp-results-list {
  margin: govuk-spacing(6) 0;

  h2 {
    margin-top: 0;
    display: inline-block;
  }

  .mtp-table {
    td:last-child,
    th:last-child {
      padding-right: 0;
    }
  }

  @media print {
    td {
      padding-top: 2px;
      padding-bottom: 2px;

      p {
        margin-bottom: 0;
      }
    }

    p {
      font-size: 14px;
    }
  }

  .mtp-credit-arrow-cell {
    width: 8em;
    padding: 0;
    vertical-align: middle;
  }
}

.mtp-result-detail {
  td {
    padding-left: 0;
    border-top: 1px solid $border-colour;
    border-bottom: none;
    vertical-align: top;
  }
}

.mtp-credit-arrow, .mtp-disbursement-arrow {
  display: inline-block;
  min-width: 33px;
  padding-top: 30px;
  background: file-url('credit-arrow.png') no-repeat scroll 50% 0;
  text-align: center;

  @include device-pixel-ratio {
    background-image: file-url('credit-arrow@2x.png');
    background-size: 32px 22px;
  }
}

.mtp-disbursement-arrow {
  background-image: file-url('disbursement-arrow.png');

  @include device-pixel-ratio {
    background-image: file-url('disbursement-arrow@2x.png');
  }
}

@media print {
  .mtp-credit-arrow, .mtp-disbursement-arrow {
    padding-top: 0;
    background: none;
  }
}

.mtp-results-list-wrapper {
  margin-top: 50px;
}

.mtp-search-highlight {
  margin-right: 1px;
  background-color: #fff2d3;
  padding: 2px 0 0;

  @media print {
    margin-right: 0;
    background-color: transparent;
    padding: 0;
  }
}

#simple-search-prisoners .mtp-results-list-wrapper {
  margin-bottom: $gutter;
}
