// app-specific styles

select[disabled] {
  border-color: $secondary-text-colour;
  color: $secondary-text-colour;
}

#id_received_at__gte, #id_received_at__lt, #id_created__gte, #id_created__lt {
  width: 8em;
}

#id_sender_name, #id_sender_email, #id_recipient_name, #id_recipient_email {
  max-width: 16em;
  width: 100%;
}

#id_sender_account_number, #id_account_number, #id_sender_ip_address {
  width: 10em;
}

#id_card_number_last_digits-wrapper {
  width: 14em;
}

#id_prisoner_name {
  max-width: 16em;
  width: 100%;
}

#id_prisoner_number {
  width: 10em;
}

#id_prisoner_name-wrapper,
#id_prisoner_number-wrapper {
  width: 18em;
  display: inline-block;
}

#id_amount_exact-wrapper,
#id_amount_pence-wrapper {
  border-left: 10px solid $border-colour;
  display: none;
  padding-left: 15px;
}

#id_invoice_number {
  max-width: 12em;
  width: 100%;
}

#id_source,
#id_amount_pattern,
#id_method,
#id_prison,
#id_prison_region,
#id_prison_population,
#id_prison_category {
  width: 100%;
}

.column-narrow {
  width: 4em;
  display: block;
  float: left;
}

.narrow {
  width: 28%;
}

// govuk elements overrides

.mtp-security-form {
  .form-label {
    font-weight: bold;

    &.sublabel {
      font-weight: normal;
    }
  }

  #id_sender_account_number-wrapper,
  #id_sender_sort_code-wrapper,
  #id_card_number_last_digits-wrapper,
  #id_sender_email-wrapper,
  #id_sender_postcode-wrapper,
  #id_sender_ip_address-wrapper,
  #id_account_number-wrapper,
  #id_sort_code-wrapper {
    @include media(tablet) {
      padding-left: 1em;
    }
  }
}

#simple-search-payment-sources {
  .govuk-grid-column-one-third {
    .mtp-info-box {
      padding: 1em;

      @include media(mobile) {
        margin-top: 1em;
      }

      .mtp-info-box__heading {
        font-size: 19px;
      }

      p {
        margin-top: em(20, 16);
        margin-bottom: 0;
        font-size: 16px;
      }
    }
  }
}

.mtp-security-form--simple {
  margin-bottom: 32px;

  @include media(mobile) {
    margin-bottom: 22px;
  }

  #id_simple_search-label {
    font-size: 27px;

    @include media(mobile) {
      font-size: 18px;
    }
  }

  #id_simple_search {
    width: 100%;
  }

  #id_simple_search-hint {
    margin-bottom: 10px;

    @include media(mobile) {
      margin-top: 5px;
    }
  }
}


.mtp-security-advanced-search {
  #id_sender_name, #id_sender_email, #id_sender_postcode, #id_prison, #id_prisoner_name,
  #id_prisoner_number, #id_recipient_name, #id_recipient_email, #id_postcode, #id_invoice_number {
    max-width: 402px;
    width: 100%;
  }

  #id_card_number_last_digits, #id_account_number, #id_sort_code, #id_sender_ip_address,
  #id_account_number, #id_sort_code {
    max-width: 226px;
    width: 100%;
  }

  #id_card_number_last_digits-wrapper, #id_prisoner_name-wrapper, #id_prisoner_number-wrapper,
  #id_sender_ip_address-wrapper, #id_account_number-wrapper, #id_sort_code-wrapper {
    width: 100%;
  }

  #id_prisoner_name-wrapper, #id_prisoner_number-wrapper {
    display: block;
  }

  .mtp-form-group-year {
    max-width: 88px;
    width: 100%;
  }

  .mtp-split-date-legend {
    font-weight: bold;
  }

  .mtp-split-date-to-wrapper {
    @include media(mobile) {
      margin-top: 20px;
    }
  }

  .mtp-conditional-wrapper {
    @extend .govuk-inset-text;
    border-left-width: 5px;
    margin-left: 18px;
    padding: 0 0 0 26px;
    display: none;
  }

  .mtp-invoice-nr-header {
    margin-top: 15px;
  }

  #id_amount_exact-wrapper,
  #id_amount_pence-wrapper,
  #id_prison-wrapper,
  #id_account_number-wrapper,
  #id_sort_code-wrapper,
  #id_card_number_last_digits-wrapper {
    border: 0;
    display: block;
    padding: 0;
  }
}
