// app-specific styles
.mtp-security-search {
  margin-top: 0;
}

.mtp-security-form {
  margin: 0;

  .govuk-form-group {
    float: none;
    min-height: 70px;
  }
}

.mtp-links {
  float: right;
  display: inline-block;

  &--no-panel {
    @extend .mtp-links;

    margin-bottom: em(15, 19);
  }
}

// tabs

.mtp-results-form__submit {
  margin-top: $gutter;

  button {
    margin-right: 1em;
  }

  .mtp-tab-container--collapsed & {
    margin-top: 0;

    button {
      display: none;
    }
  }

  a {
    display: inline-block;
    margin: .526315em 0 .263157em;

    @include media(mobile) {
      margin: 1em 0 0;
    }
  }
}
