{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-login{% endblock %}
{% block page_title %}{% trans 'Sign in' %} – {{ block.super }}{% endblock %}

{% block proposition_extra %}{% endblock %}

{% block content %}

  <div class="mtp-login__header">
    <div class="mtp-login__content">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% language_switch %}
        </div>
      </div>

      <div class="govuk-grid-row">
        <header class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            {% trans 'Monitor prisoner money' %}
          </h1>

          <aside>
            <p>
              {% blocktrans trimmed %}
                Use this tool to monitor and investigate money sent using the <a href="{{ start_page_url }}">Send money to someone in prison</a> service.
              {% endblocktrans %}
            </p>
            {% trans 'The tool also gives insight into the digital movement of money, not only in your prison, but in all other public sector prisons in England and Wales.' %}
          </aside>
        </header>

        <div class="govuk-grid-column-one-third">
          <img alt="{% trans 'Prisoner money intelligence' %}" src="{% static 'images/landing-noms-ops.png' %}" srcset="{% static 'images/landing-noms-ops@2x.png' %} 2x"/>
        </div>
      </div>
    </div>
  </div>

  <div class="mtp-login__content">
    {% notification_banners request 'noms_ops_login' %}

    <div class="govuk-grid-row">
      <section class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">{% trans 'How to get access' %}</h2>
        <p>
          {% trans 'Your head of security can set up an account for you if you don’t have access already.' %}
        </p>
        <p>
          <a href="{% url 'submit_ticket' %}">
            {% trans 'Need more help?' %}
          </a>
        </p>

        <h2 class="govuk-heading-m">{% trans 'New disbursement tool' %}</h2>
        <p>
          {% trans 'We’ve launched a new digital disbursement tool which tracks money sent out of prisons.' %}
        </p>
        <p>
          {% trans 'All public UK prisons now have access.' %}
        </p>
      </section>

      <section class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">{% trans 'Sign in' %}</h2>

        {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

        <form action="{{ app_path }}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">

          {% include 'mtp_common/forms/field.html' with field=form.username input_classes='govuk-input--width-10' only %}
          {% include 'mtp_common/forms/field.html' with field=form.password input_classes='govuk-input--width-10' only %}

          <div class="govuk-form-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" name="signin">{% trans 'Sign in' %}</button>
          </div>
        </form>

        <p><a href="{% url 'reset_password' %}">{% trans 'Forgotten your password?' %}</a></p>

      </section>
    </div>
  </div>

{% endblock %}
