{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}


{% block inner_content %}
  <header>
    <h1 class="heading-xlarge">{{ view.title }}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}

  <form method="post">
    {% csrf_token %}
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <h2 class="heading-medium">{% trans 'Credit details' %}</h2>
    <div class="mtp-results-list table-font-xsmall mtp-check-list">
      <table class="mtp-table mtp-table--review">
        <thead>
          <tr>
            <th class="mtp-compact-cell">
              <span class="visually-hidden">{% trans 'Needs attention?' %}</span>
            </th>
            <th>{% trans 'Date sent' %}</th>
            <th>{% trans 'Debit card (from)' %}</th>
            <th>{% trans 'Prisoner (to)' %}</th>
            <th>{% trans 'Amount' %}</th>
            <th class="print-hidden">{% trans 'Actions' %}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mtp-check-row">
            <td class="mtp-compact-cell">
              {% if check.needs_attention %}
                <span class="visually-hidden">
                  {% trans 'This credit needs attention today!' %}
                </span>
                <span class="mtp-check-needs-attention" aria-hidden="true">!</span>
              {% else %}
                <span class="visually-hidden">
                  {% trans 'This credit does not need attention today.' %}
                </span>
              {% endif %}
            </td>
            <td class="mtp-check-date">
              {{ check.credit.started_at|date:'SHORT_DATETIME_FORMAT'}}
            </td>
            <td>
              <a href="{{ check.credit|sender_profile_search_url }}" class="mtp-print-url-hidden">{{ check.credit.sender_name }}</a>
              <br/>
              {{ check.credit|format_card_number }} &nbsp; {{ check.credit.card_expiry_date }}
              <br />
              {{ check.credit.sender_email }}
              <br />
              {{ check.credit.billing_address.postcode }}
            </td>
            <td>
              <a href="{{ check.credit|prisoner_profile_search_url }}" class="mtp-print-url-hidden">{{ check.credit.prisoner_name }}</a>
              <br/>
              {{ check.credit.prisoner_number }}
              <br />
              {{ check.credit.prison_name }}
            </td>
            <td>
              {{ check.credit.amount|currency }}
            </td>
            <td class="print-hidden">
              {{ check.status|title }}
            </td>
          </tr>
          <tr class="mtp-check-description-row">
            <td colspan="2"></td>
            <td colspan="4">{{ check.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3 class="heading-medium">{% trans 'Credit decisions matching debit card or prisoner' %}</h3>
    <div class="mtp-results-list table-font-xsmall mtp-check-list">
      <table class="mtp-table mtp-table--review">
        <caption class=visually-hidden> {% trans 'This is a table showing any previous credit decisions involving the prisoner or debit card in question' %s} </caption>
        <thead>
          <tr>
            <th>{% trans 'Date sent' %}</th>
            <th>{% trans 'Debit card (from)' %}</th>
            <th>{% trans 'Prisoner (to)' %}</th>
            <th>{% trans 'Amount' %}</th>
            <th>{% trans 'Decision' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for credit in related_credits %}
            <tr class="mtp-check-row">
              <td class="mtp-check-date">
                {{ credit.started_at|date:'SHORT_DATETIME_FORMAT'}}
              </td>
              <td>
                <a href="{{ credit|sender_profile_search_url }}" class="mtp-print-url-hidden">{{ credit.sender_name }}</a>
                <br/>
                {{ credit|format_card_number }}
                <br />
                {{ credit.card_expiry_date }}
                <br />
                {{ credit.sender_email }}
                <br />
                {{ credit.billing_address.postcode }}
              </td>
              <td>
                <a href="{{ credit|prisoner_profile_search_url }}" class="mtp-print-url-hidden">{{ credit.prisoner_name }}</a>
                <br/>
                {{ credit.prisoner_number }}
                <br />
                {{ credit.prison_name }}
              </td>
              <td>
                {{ credit.amount|currency }}
              </td>
              <td>
                <span class="mtp-check-status-tag mtp-check-status-tag--{{ credit.security_check.status }}">
                  {{ credit.security_check.status|title }}
                </span>
                <br />
                {% trans 'by' %}
                {{ credit.security_check.actioned_by_name }}
              </td>
            </tr>
            <tr class="mtp-check-description-row">
              <td></td>
              <td colspan="4">
                {{ credit.security_check.description }}
                <br />
                <br />
                <strong>{% trans 'Decision details' %}:</strong>
                {% if credit.security_check.decision_reason %}
                  {{ credit.security_check.decision_reason }}
                {% else %}
                  {% trans 'No decision reason entered' %}
                {% endif %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">{% trans 'There are no credits matching sender or prisoner profile.' %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="form-group">
      <h2 class="heading-medium">{% trans 'Your decision' %}</h2>
      {% include 'mtp_common/forms/textarea.html' with field=form.decision_reason input_classes='form-control-3-4' %}
      <button type="submit" class="button" name="fiu_action" value="accept">
        {% trans 'Accept credit' %}
      </button>
      <button type="submit" class="button button-warning" name="fiu_action" value="reject">
        {% trans 'Reject credit' %}
      </button>
    </div>
  </form>

{% endblock %}
