{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block before_content %}
  {{ block.super }}
  {% include 'security/includes/checks-sub-navigation.html' with current_view=view.get_class_name %}
{% endblock %}

{% block content %}
  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  {% notification_banners request %}

  <p class="govuk-!-font-size-36">
    {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
    {{ number }} auto accept
    {% plural %}
    {{ number }} auto accepts
    {% endblocktrans %}
  </p>

  <div class="mtp-table__container mtp-results-list">
    <table class="mtp-table mtp-table--small">
      <thead>
        <tr>
          <th scope="col">{% trans 'Debit card (from)' %}</th>
          <th scope="col">{% trans 'Prisoner (to)' %}</th>
          {% sortable_cell _('Started by') request_params 'states__added_by__first_name' %}
          {% sortable_cell _('Start date') request_params 'states__created' %}
          <th scope="col">{% trans 'Reason' %}</th>
          <th scope="col">{% trans 'Action' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for auto_accept_rule in objects %}
        <tr>
          <td>
            {{ auto_accept_rule.debit_card_sender_details|format_card_number }}
            <br/>
            <a href="{{ auto_accept_rule.debit_card_sender_details|sender_profile_search_dcsd_url }}" class="mtp-link--print-plain">
              {{auto_accept_rule.debit_card_sender_details.cardholder_names|get_abbreviated_cardholder_names_from_list}}
            </a>
          </td>
          <td>
            {{ auto_accept_rule.prisoner_profile.prisoner_number }}
            <br/>
            <a href="{{ auto_accept_rule.prisoner_profile|prisoner_profile_search_id_url }}" class="mtp-link--print-plain">{{ auto_accept_rule.prisoner_profile.prisoner_name }}</a>
          </td>
          <td>
            {{ auto_accept_rule.states|get_latest_auto_accept_state_field:'added_by'|format_name }}
          </td>
          <td class="mtp-check-date">
            {{ auto_accept_rule.states|get_latest_active_auto_accept_state_field:'created'|date:'SHORT_DATETIME_FORMAT' }}
          </td>
          <td>
            {{ auto_accept_rule.states|get_latest_active_auto_accept_state_field:'reason'|hide_long_text:7 }}
          </td>
          <td>
            <a class="govuk-button govuk-button--secondary govuk-!-display-none-print"
               href="{% url 'security:auto_accept_rule_detail' auto_accept_rule_id=auto_accept_rule.id %}"
               aria-label="{% trans 'View auto-accept details' %}" data-module="govuk-button" role="button">
              {% trans 'Review' %}
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">{% trans 'There are no auto accepts' %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="mtp-page-list__container">{% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}
    <p class="mtp-page-list__count">
      {% blocktrans trimmed count count=form.total_count with initial=form.initial_index final=form.final_index number=form.total_count|separate_thousands %}
        {{ number }} auto accept
      {% plural %}
        {{ number }} auto accepts
      {% endblocktrans %}
    </p>
  </div>
{% endblock %}
