{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block content %}
  <header>
    <h1 class="govuk-heading-xl">
      {{ view.title }}
    </h1>
  </header>

  <h2 class="govuk-heading-m">
    {% trans 'Auto accept history' %}
  </h2>

  <div class="mtp-table__container mtp-results-list">
    <table class="mtp-table mtp-table--small">
      <caption class="govuk-visually-hidden">
        {{ view.title }}
      </caption>
      <thead>
        <th>
          {% trans 'Date' %}
        </th>
        <th>
          {% trans 'Started by' %}
        </th>
        <th>
          {% trans 'Action' %}
        </th>
        <th>
          {% trans 'Reason' %}
        </th>
      </thead>
      <tbody>
        {% for auto_accept_state in auto_accept_rule.states %}
          <tr>
            <td>
            {{ auto_accept_state.created | date:'SHORT_DATETIME_FORMAT' }}
            </td>
            <td>
            {{ auto_accept_state.added_by.last_name }}, {{ auto_accept_state.added_by.first_name }}
            </td>
            <td>
            {% if auto_accept_state.active %}
              {% trans 'Start' %}
            {% else %}
              {% trans 'Stop' %}
            {% endif %}
            </td>
            <td>
            {{ auto_accept_state.reason }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if auto_accept_rule_is_active %}
    {% include 'govuk-frontend/components/error-summary.html' with form=form only %}
    <form class="js-FormAnalytics form-group" method="post">
      {% csrf_token %}
      <h2 class="govuk-heading-m">
        {% trans 'To stop auto accept:' %}
      </h2>
      {% include 'mtp_common/forms/textarea.html' with field=form.deactivation_reason input_classes='form-control-3-4' %}
      <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
        {% trans 'Stop auto accept' %}
      </button>
    </form>
  {% endif %}


{% endblock %}
