{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block phase_banner %}
  {{ block.super }}
  {% include "security/forms/prison-switcher.html" %}
{% endblock %}

{% comment %}TODO: Move body_classes block to base.html when search V2 goes live to make all the existing pages consistent.{% endcomment %}
{% block body_classes %}{{ block.super }} mtp-with-spaced-header{% endblock body_classes %}

{% block inner_content %}
  <form class="mtp-security-advanced-search js-FormAnalytics" method="get">
    <input type="hidden" name="{{ form.advanced.html_name }}" value="True" />
    <input type="hidden" name="{{ search_form_submitted_input_name }}" value="1" />
    {{ form.prison_selector.as_hidden }}

    <div class="grid-row">
      <div class="column-two-thirds">
        <header>
          <h1 class="heading-xlarge">
            <span class="heading-secondary">{{ view.title }}</span>
            {% trans 'Advanced search' %}
          </h1>
        </header>

        {% block advanced_search_fields %}{% endblock advanced_search_fields %}

        <button type="submit" class="button" value="submit">{% blocktrans with object_name=view.object_name_plural %}Search {{ object_name }}{% endblocktrans %}</button>
      </div>
    </div>

  </form>
{% endblock %}
