{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block content %}
  <form id="advanced-search-{{ view.object_name_plural|slugify }}" class="mtp-security-advanced-search mtp-form-analytics" method="get">
    <input type="hidden" name="{{ form.advanced.html_name }}" value="True" />
    <input type="hidden" name="{{ search_form_submitted_input_name }}" value="1" />

    {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <header>
          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">{{ view.title }}</span>
            {% trans 'Advanced search' %}
          </h1>
        </header>

        {% block advanced_search_fields %}{% endblock advanced_search_fields %}

        <button type="submit" class="govuk-button" data-module="govuk-button" value="submit">{% blocktrans with object_name=view.object_name_plural %}Search {{ object_name }}{% endblocktrans %}</button>
      </div>
    </div>

  </form>
{% endblock %}
