{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}


{% block inner_content %}
  <header>
    <h1 class="heading-xlarge">{{ view.title }}</h1>
  </header>

  <aside class="mtp-object-list-toggle print-hidden">
    <a href="{% url 'security:credits_history' %}" class="button-secondary"> {% trans 'View decision history' %}</a>
  </aside>

  {% include 'mtp_common/includes/message_box.html' %}

  <p class="font-large">
    {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
      {{ number }} credit
    {% plural %}
      {{ number }} credits
    {% endblocktrans %}
  </p>

  {% if form.need_attention_count %}
    <p class="font-medium">
      <span class="mtp-check-needs-attention" aria-hidden="true">!</span>
      <strong>
        {% blocktrans trimmed count count=form.need_attention_count with number=form.need_attention_count|separate_thousands %}
          Warning: {{ number }} credit needs attention today
        {% plural %}
          Warning: {{ number }} credits need attention today
        {% endblocktrans %}
      </strong>
      <br />
      {% trans 'Credits with a warning are 3 days old or more and will expire soon.' %}
    </p>
    <br />
  {% endif %}

  <div class="mtp-results-list mtp-check-list">
    <table class="mtp-table table-font-xsmall">
      <thead>
        <tr>
          <th class="mtp-compact-cell">
            <span class="visually-hidden">{% trans 'Needs attention?' %}</span>
          </th>
          <th>{% trans 'Date sent' %}</th>
          <th>{% trans 'Debit card (from)' %}</th>
          <th>{% trans 'Prisoner (to)' %}</th>
          <th>{% trans 'Amount' %}</th>
          <th class="print-hidden">{% trans 'Actions' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for check in objects %}
        <tr class="mtp-check-row">
          <td class="mtp-compact-cell">
            {% if check.needs_attention %}
              <span class="visually-hidden">
                {% trans 'This credit needs attention today!' %}
              </span>
              <span class="mtp-check-needs-attention" aria-hidden="true">!</span>
            {% else %}
              <span class="visually-hidden">
                {% trans 'This credit does not need attention today.' %}
              </span>
            {% endif %}
          </td>
          <td class="mtp-check-date">
            {{ check.credit.started_at|date:'SHORT_DATETIME_FORMAT'}}
          </td>
          <td>
            {{ check.credit.sender_name }}
            <br/>
            {{ check.credit|format_card_number }} &nbsp; {{ check.credit.card_expiry_date }}
          </td>
          <td>
            {{ check.credit.prisoner_name }}
            <br/>
            {{ check.credit.prisoner_number }}
            <br/>
            {{ check.credit.prison_name }}
          </td>
          <td>
            {{ check.credit.amount|currency }}
          </td>
          <td class="print-hidden">
            <a href="{% url 'security:resolve_check' check_id=check.id %}">{% trans 'Review' %} <span class="visually-hidden">{% trans 'credit to' %} {{ check.credit.prisoner_name }}</span></a>
          </td>
        </tr>
        <tr class="mtp-check-description-row">
          <td colspan="2"></td>
          <td colspan="4">{{ check.description }}</td>
        </tr>
        {% empty %}
          <tr>
            <td colspan="6">{% trans 'There are no credits to check.' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="mtp-page-list__container">
    {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

    <p class="mtp-page-list__count">
      {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
        {{ number }} credit
      {% plural %}
        {{ number }} credits
      {% endblocktrans %}
    </p>
  </div>
{% endblock %}
