{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}


{% block content %}
  <nav class="moj-sub-navigation" aria-label="{% trans 'Sub navigation' %}">
    <ul class="moj-sub-navigation__list">
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link"
           {% if view.get_class_name == 'CheckListView' %}
             aria-current="page"
           {% endif %}
           href="{% url 'security:check_list' %}">
            {% trans 'Credits to action' %}
        </a>
      </li>
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link"
           {% if view.get_class_name == 'MyListCheckView' %}
             aria-current="page"
           {% endif %}
           href="{% url 'security:my_check_list' %}">
            {% trans 'My list' %} ({{ form.my_list_count }})
        </a>
      </li>
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="{% url 'security:credits_history' %}" >{% trans 'Decision history' %}</a>
      </li>
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="{% url 'security:auto_accept_rule_list' %}" >{% trans 'Auto Accepts' %}</a>
      </li>
    </ul>
  </nav>
  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  {% notification_banners request %}

  <p class="govuk-!-font-size-36">
    {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
      {{ number }} credit
    {% plural %}
      {{ number }} credits
    {% endblocktrans %}
  </p>

  {% if form.need_attention_count %}
    <p class="govuk-body-l">
      <span class="mtp-check-needs-attention" aria-hidden="true">!</span>
      <strong>
        {% blocktrans trimmed count count=form.need_attention_count with number=form.need_attention_count|separate_thousands %}
          Warning: {{ number }} credit needs attention today
        {% plural %}
          Warning: {{ number }} credits need attention today
        {% endblocktrans %}
      </strong>
      <br />
      {% trans 'Credits with a warning are 3 days old or more and will expire soon.' %}
    </p>
    <br />
  {% endif %}

  <div class="mtp-results-list mtp-check-list">
    <table class="mtp-table table-font-xsmall">
      <thead>
        <tr>
          <th class="mtp-compact-cell">
            <span class="govuk-visually-hidden">{% trans 'Needs attention?' %}</span>
          </th>
          <th>{% trans 'Date sent' %}</th>
          <th>{% trans 'Debit card (from)' %}</th>
          <th>{% trans 'Prisoner (to)' %}</th>
          <th>{% trans 'Amount' %}</th>
          <th class="print-hidden">{% trans 'Actions' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for check in objects %}
        <tr id="check-row-{{ check.id }}" class="mtp-check-row">
          <td class="mtp-compact-cell">
            {% if check.needs_attention %}
              <span class="govuk-visually-hidden">
                {% trans 'This credit needs attention today!' %}
              </span>
              <span class="mtp-check-needs-attention" aria-hidden="true">!</span>
            {% else %}
              <span class="govuk-visually-hidden">
                {% trans 'This credit does not need attention today.' %}
              </span>
            {% endif %}
          </td>
          <td class="mtp-check-date">
            {{ check.credit.started_at|date:'SHORT_DATETIME_FORMAT'}}
          </td>
          <td>
            {{ check.credit.sender_name }}
            <br/>
            {{ check.credit|format_card_number }} &nbsp; {{ check.credit.card_expiry_date }}
          </td>
          <td>
            {{ check.credit.prisoner_name }}
            <br/>
            {{ check.credit.prisoner_number }}
            <br/>
            {{ check.credit.prison_name }}
          </td>
          <td>
            {{ check.credit.amount|currency }}
          </td>
          <td>
            <div class="mtp-check-cell__actions">
              <a class="button print-hidden" href="{% url 'security:resolve_check' check_id=check.id %}">{% trans 'Review' %} <span class="govuk-visually-hidden">{% trans 'credit to' %} {{ check.credit.prisoner_name }}</span></a>
              {% if view.get_class_name == 'CheckListView' %}
                <span class="mtp-check-cell__list-status">
                  {% if check.assigned_to == form.request.user.pk %}
                    <span class="mtp-check-cell__list-status--my-list">
                      {% trans 'Added to my list' %}
                    </span>
                  {% elif check.assigned_to != None %}
                    <span class="mtp-check-cell__list-status--text">
                      {% blocktrans trimmed with assigned_to_name=check.assigned_to_name|genitive %}
                        Added to {{ assigned_to_name }} list
                      {% endblocktrans %}
                    </span>
                  {% else %}
                    <form class="mtp-check-cell__list-form" action="{% url 'security:assign_check' check_id=check.id current_page=current_page list='list' %}" method="post">
                      {% csrf_token %}
                      <button type="submit" name="assignment" class="button-secondary" value="assign">
                        {% blocktrans trimmed with credit_to=check.credit.prisoner_name %}
                          Add <span class="govuk-visually-hidden">credit to {{credit_to}}</span> to my list
                        {% endblocktrans %}
                      </button>
                    </form>
                  {% endif %}
                </span>
              {% endif %}
            </div>
          </td>
        </tr>
        <tr class="mtp-check-description-row">
          <td colspan="2"></td>
          <td colspan="4">
            {{ check|check_description }}
          </td>
        </tr>
        {% empty %}
          <tr>
            <td colspan="6">{% trans 'There are no credits to check.' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="mtp-page-list__container">
    {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

    <p class="mtp-page-list__count">
      {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
        {{ number }} credit
      {% plural %}
        {{ number }} credits
      {% endblocktrans %}
    </p>
  </div>
{% endblock %}
