{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block inner_content %}

  <header>
    <h1 class="heading-xlarge mtp-unpadded-heading">{{ view.title }}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}

  <form class="mtp-security-search" method="get">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <p class="lede">{{ form.search_description.description }}</p>

    <div class="print-hidden">
      {% include view.form_template_name with view=view form=form only %}
    </div>

    {% if form.is_valid %}
      <div class="mtp-results-list">
        <div class="print-hidden mtp-links--no-panel">
          <a class="js-print-trigger" href="#print-dialog">{% trans 'Print' %}</a>
          &nbsp;
          {% url 'security:credits_export' as export_view %}
          {% url 'security:credits_email_export' as email_export_view %}
          {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many credits to download.') %}
        </div>

        <table>
          <caption class="visually-hidden">{{ form.search_description.description }}</caption>
          <thead>
            <tr>
              <th class="{{ form|ordering_classes:'received_at' }}">
                <a href="?{{ form|query_string_with_reversed_ordering:'received_at' }}">
                  <span>
                    {% trans 'Date received' %}
                    {% describe_ordering_for_screenreader form 'received_at' %}
                  </span>
                </a>
              </th>
              <th>{% trans 'Payment source and type' %}</th>
              <th class="{{ form|ordering_classes:'amount' }} number">
                <a href="?{{ form|query_string_with_reversed_ordering:'amount' }}">
                  <span>
                    {% trans 'Amount' %}
                    {% describe_ordering_for_screenreader form 'amount' %}
                  </span>
                </a>
              </th>
              <th class="{{ form|ordering_classes:'prisoner_number' }}">
                <a href="?{{ form|query_string_with_reversed_ordering:'prisoner_number' }}">
                  <span>
                    {% trans 'Prisoner' %}
                    {% describe_ordering_for_screenreader form 'prisoner_number' %}
                  </span>
                </a>
              </th>
              <th>{% trans 'Prison' %}</th>
              <th>{% trans 'Credited status' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for credit in credits %}
              <tr {% if forloop.last %}class="no-border"{% endif %}>
                <td>
                  {{ credit.received_at|date:'DATE_FORMAT' }}
                </td>
                <td>
                  {% with known_sender=credit|credit_sender_identifiable %}
                    <p class="mtp-credit__{% if credit.source == 'online' %}card{% else %}transfer{% endif %}">
                      <strong>
                        {% if known_sender %}
                          <a href="{{ credit|sender_profile_search_url }}" class="mtp-print-url-hidden">{{ credit.sender_name|default:'—' }}</a>
                        {% else %}
                          {% trans 'Sender details not recorded' %}
                        {% endif %}
                      </strong><br/>
                      {% if credit.source == 'online' %}
                        {% trans 'by debit card' %}
                      {% else %}
                        {% trans 'by bank transfer' %}
                      {% endif %}
                    </p>
                  {% endwith %}
                </td>
                <td class="number">
                  <strong>{{ credit.amount|currency }}</strong>
                </td>
                <td>
                  {% if credit.prisoner_number %}
                    <strong><a href="{{ credit|prisoner_profile_search_url }}" class="mtp-print-url-hidden">{{ credit.prisoner_number }}</a></strong><br/>
                    {{ credit.prisoner_name|default_if_none:'—' }}
                  {% endif %}
                </td>
                <td>
                  {{ credit.prison_name|default:'—' }}
                </td>
                <td>
                  {% if credit.resolution == 'credited' %}
                      {{ credit.credited_at.date }}<br />
                      {% blocktrans trimmed with name_of_clerk=credit.owner_name|default:'—' %}
                        by {{ name_of_clerk }}
                      {% endblocktrans %}
                  {% elif credit.resolution == 'refunded' %}
                      {% trans 'Refunded' %}<br />
                      {{ credit.refunded_at.date }}
                  {% else %}
                    {% trans 'No' %}
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr class="no-border">
                <td colspan="6">{% trans 'No matching credits found' %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}
      </div>
    {% endif %}

  </form>

{% endblock %}
