{% load i18n %}

<div class="SecurityForm CreditsForm">
  {% include 'security/received-range-field.html' %}

  {% include 'security/select-field.html' with field=form.prison %}

  {% include 'mtp_common/forms/field.html' with field=form.prisoner_number %}
  {% include 'mtp_common/forms/field.html' with field=form.prisoner_name %}

  {% include 'mtp_common/forms/field.html' with field=form.sender_name %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_sort_code %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_account_number %}
</div>
