{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block inner_content %}

  <header>
    <h1 class="heading-xlarge mtp-unpadded-heading">{{ view.title }}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}

  <div class="mtp-results-list mtp-result-detail">
    <table>
      <caption class="visually-hidden">{% trans 'Credit details' %}</caption>
      <tbody>
        <tr>
          <td>

            {% labelled_data _('Prisoner number') credit.prisoner_number url=credit|prisoner_profile_search_url %}
            <br/>
            {% labelled_data _('Prisoner name') credit.prisoner_name|default:_('Unknown prisoner') %}
            <br/>
            {% labelled_data _('Prison') credit.prison_name|default:'–' %}
            <br/>

            {% if credit.intended_recipient %}
              {% labelled_data _('Name given by sender') credit.intended_recipient %}
              <br/>
            {% endif %}

          </td>
          <td class="mtp-credit-arrow-cell">

            <div class="mtp-credit-arrow">{{ credit.source|credit_source }}</div>

          </td>
          <td>
            {% labelled_data _('Sender name') credit.sender_name url=credit|sender_profile_search_url %}
            <br/>

            {% if credit.source == 'online' %}

              {% labelled_data _('Debit card number') credit|format_card_number %}
              <br/>
              {% labelled_data _('Expiry date') credit.card_expiry_date|default:'—' %}
              <br/>
              {% if credit.short_payment_ref %}
                {% labelled_data _('Confirmation number') credit.short_payment_ref %}
                <br/>
              {% endif %}

            {% elif credit.source == 'bank_transfer' %}

              {% labelled_data _('Account number') credit.sender_account_number|default:'—' %}
              <br/>
              {% labelled_data _('Sort code') credit.sender_sort_code|format_sort_code|default:'—' %}
              <br/>
              {% if credit.sender_roll_number %}
                {% labelled_data _('Roll number (for building societies)') credit.sender_roll_number %}
                <br/>
              {% endif %}

            {% endif %}
          </td>
          <td>

            {% if credit.billing_address %}
              {% labelled_data _('Address') credit.billing_address|format_address %}
              <br/>
            {% endif %}
            {% if credit.sender_email %}
              {% labelled_data _('Email') credit.sender_email %}
              <br/>
            {% endif %}
            {% if credit.ip_address %}
              {% labelled_data _('IP') credit.ip_address %}
              <br/>
            {% endif %}

          </td>
        </tr>

        <tr>
          <td colspan="2">

            {% labelled_data _('Status') credit.resolution|format_resolution %}
            <br/>
            {% if credit.nomis_transaction_id %}
              {% labelled_data _('NOMIS ID') credit.nomis_transaction_id %}
              <br/>
            {% endif %}

          </td>
          <td colspan="2">

            {% random_string as comment_label %}
            <div id="mtp-label-{{ comment_label }}" class="mtp-detail-label">{% trans 'History' %}</div>
            <div aria-labelledby="mtp-label-{{ comment_label }}">
              {% if credit.source == 'online' %}
                {{ credit.started_at|date:'SHORT_DATETIME_FORMAT'|default:'–' }}
                –
                {% trans 'Payment started' %}
                <br/>
                {{ credit.received_at|date:'SHORT_DATETIME_FORMAT'|default:'–' }}
                –
                {% trans 'HMPPS received money' %}
                <br/>
              {% else %}
                {{ credit.received_at|date:'SHORT_DATE_FORMAT'|default:'–' }}
                –
                {% trans 'HMPPS received money' %}
                <br/>
              {% endif %}
              {% if credit.credited_at %}
                {{ credit.credited_at|date:'SHORT_DATE_FORMAT'|default:'–' }}
                –
                {% blocktrans trimmed with name_of_clerk=credit.owner_name|default:_('Unknown') %}
                  {{ name_of_clerk }} credited to NOMIS
                {% endblocktrans %}
                <br/>
              {% endif %}
            </div>

          </td>
        </tr>

        {% if credit.comments %}
          <tr>
            <td colspan="4">

              {% random_string as comment_label %}
              <div id="mtp-label-{{ comment_label }}" class="mtp-detail-label">{% trans 'Security check' %}</div>
              <div aria-labelledby="mtp-label-{{ comment_label }}">
                {% for comment in credit.comments %}
                  <cite>{{ comment.user_full_name }}</cite>:
                  <q>{{ comment.comment }}</q>
                {% endfor %}
              </div>

            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

{% endblock %}
