{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block phase_banner %}
  {{ block.super }}
  {% include "security/forms/prison-switcher.html" %}
{% endblock %}

{% comment %}TODO: Move body_classes block to base.html when search V2 goes live to make all the existing pages consistent.{% endcomment %}
{% block body_classes %}{{ block.super }} mtp-with-spaced-header{% endblock body_classes %}

{% block inner_content %}
  <form id="filter-credits" class="mtp-security-search js-FormAnalytics" method="get">

    <div class="grid-row">
        <div class="column-two-thirds">
          {% include 'security/forms/top-area-object-list.html' %}
        </div>
    </div>

    {% if form.is_valid %}
      <div class="mtp-results-list-v2">
        <div class="print-hidden mtp-links--no-panel">
          <a class="js-print-trigger js-FormAnalytics-click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print' %}</a>
          &nbsp;
          {% url 'security:credits_export' as export_view %}
          {% url 'security:credits_email_export' as email_export_view %}
          {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many credits to download.') %}
        </div>

        <table class="mtp-table table-font-xsmall">
          <caption class="visually-hidden">{{ form.search_description.description }}</caption>
          <thead>
            <tr>
              {% sortable_cell _('Date received') form.cleaned_data 'received_at' %}
              <th>{% trans 'Payment source (from)' %}</th>
              <th>{% trans 'Prisoner (to)' %}</th>
              {% sortable_cell _('Amount') form.cleaned_data 'amount' cell_classes='numeric' %}
              <th class="numeric print-hidden">{% trans 'Action' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for credit in credits %}
              <tr>
                <td class="mtp-numeric-left">
                  {{ credit.received_at|date:'j F Y' }}
                </td>

                <td>
                  {{ credit.sender_name|default:_('Sender details not recorded') }}
                  {% if credit.sender_email %}
                    <br/>
                    {{ credit.sender_email }}
                  {% endif %}
                </td>

                <td>
                  {{ credit.prisoner_name|default:_('Unknown prisoner') }}
                  <br/>
                  {{ credit.prisoner_number }}
                </td>

                <td class="numeric">
                  <span class="mtp-sortable-cell--pad">
                    {{ credit.amount|currency }}
                  </span>
                </td>

                <td class="numeric print-hidden">
                  <a href="{% url 'security:credit_detail' credit_id=credit.id %}" aria-label="{% trans 'View credit details' %}">
                    {% trans 'View details' %}
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">{% trans 'No matching credits found' %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="mtp-page-list__container">
        {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

        <p class="mtp-page-list__count">
          {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
            {{ number }} credit
          {% plural %}
            {{ number }} credits
          {% endblocktrans %}
        </p>
      </div>
    {% endif %}

  </form>

{% endblock %}
