{% extends 'security/base_search_results.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block inner_content %}

  {% if not is_search_results %}
    <div class="mtp-notification mtp-notification--info mtp-notification--open">
      <h2 class="mtp-notification__headline">
        <a href="{% url 'security:policy_change' %}">{% trans 'No more bank transfers' %}</a>
      </h2>
    </div>
  {% endif %}

  <form id="simple-search-{{ view.object_name_plural|slugify }}" class="mtp-security-search js-FormAnalytics" method="get">

    <div class="grid-row">
        <div class="column-two-thirds">
          {% include 'security/forms/top-area-object-list.html' %}

          {% if not is_search_results %}
          <a href="{% url 'security:credit_advanced_search' %}">{% trans 'Advanced search' %}</a>
          {% endif %}
        </div>
    </div>

    {% if form.is_valid and credits %}{% setup_highlight %}
      <div class="mtp-results-list">
        <div class="print-hidden mtp-links--no-panel">
          <a class="js-print-trigger js-FormAnalytics-click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print' %}</a>
          &nbsp;
          {% url 'security:credit_export' as export_view %}
          {% url 'security:credit_email_export' as email_export_view %}
          {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many credits to download.') %}
        </div>

        <table class="mtp-table table-font-xsmall">
          <caption class="visually-hidden">{{ form.search_description.description }}</caption>
          <thead>
            <tr>
              {% sortable_cell _('Date received') form.cleaned_data 'received_at' %}
              <th>{% trans 'Payment source (from)' %}</th>
              <th>{% trans 'Prisoner (to)' %}</th>
              {% if is_advanced_search_results or is_all_prisons_simple_search_results %}
              <th>{% trans 'Prison' %}</th>
              {% endif %}
              {% sortable_cell _('Amount') form.cleaned_data 'amount' cell_classes='numeric' %}
              <th class="numeric">{% trans 'Details' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for credit in credits %}
              <tr>
                <td class="mtp-numeric-left">
                  {{ credit.received_at|date:'j F Y' }}
                </td>

                <td>
                  {% search_highlight credit.sender_name default=_('Sender details not recorded') %}
                  <br/>
                  {% search_highlight credit.sender_email default=_('Email not provided') %}
                </td>

                <td>
                  {{ credit.prisoner_name|default:_('Unknown prisoner') }}
                  <br/>
                  {% search_highlight credit.prisoner_number %}
                </td>

                {% if is_advanced_search_results or is_all_prisons_simple_search_results %}
                <td>{{ credit.prison_name }}</td>
                {% endif %}

                <td class="numeric">
                  <span class="mtp-sortable-cell--pad">
                    {{ credit.amount|currency }}
                  </span>
                </td>

                <td class="numeric">
                  {{ credit.resolution|format_resolution }}
                  <br />
                  <a href="{% url 'security:credit_detail' credit_id=credit.id %}" aria-label="{% trans 'View credit details' %}" class="print-hidden">
                    {% trans 'View details' %}
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="mtp-page-list__container">
        {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

        <p class="mtp-page-list__count">
          {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
            {{ number }} credit
          {% plural %}
            {{ number }} credits
          {% endblocktrans %}
        </p>
      </div>
    {% endif %}

  {% if is_search_results %}
    <p>
    {% with search_form_item=breadcrumbs|slice:":-1"|last %}
      <a href="{{ search_form_item.url }}" class="button print-hidden">{% trans 'Start new search' %}</a>
    {% endwith%}
    </p>

    {% if all_prisons_simple_search_link %}
    <p>
      <a href="{{ all_prisons_simple_search_link }}" class="print-hidden js-FormAnalytics-click" data-click-track="all-prisons-simple-search,credits">
        {% trans 'See results from all prisons' %}
      </a>
    </p>
    {% endif %}
  {% endif %}
  </form>

{% endblock %}
