{% load i18n %}

<div class="mtp-security-form CreditsForm">
  {% include 'security/received-range-field.html' %}

  {% include 'security/select-field.html' with field=form.amount_pattern %}
  {% include 'mtp_common/forms/field.html' with field=form.amount_exact %}
  {% include 'mtp_common/forms/field.html' with field=form.amount_pence %}

  {% include 'security/select-field.html' with field=form.prison %}
  {% include 'security/select-field.html' with field=form.prison_region %}
  {% include 'security/select-field.html' with field=form.prison_population %}
  {% include 'security/select-field.html' with field=form.prison_category %}

  {% include 'mtp_common/forms/field.html' with field=form.prisoner_number %}
  {% include 'mtp_common/forms/field.html' with field=form.prisoner_name %}

  {% include 'mtp_common/forms/field.html' with field=form.sender_name %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_sort_code %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_account_number %}

  {% if standalone %}{{ form.ordering.as_hidden }}{% endif %}
</div>
