{% extends 'base.html' %}
{% load i18n %}
{% load security %}

{% block inner_content %}
  <header class="ContentHeader">
    <h1 class="heading-large">{{ view.title }}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}
  {% include view.help_template_name %}

  <form method="get">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <input type="hidden" name="page" value="1">

    <div class="grid-row">
      <aside class="ResultsFormWrapper column-third">
        <h2 class="heading-medium">{% trans 'Edit your search' %}</h2>

        {% include view.form_template_name with view=view form=form only %}

        <div class="form-group ResultsFormSubmit">
          <button type="submit" class="button">{% trans 'Update search' %}</button>
        </div>
      </aside>

      <div class="ResultsList column-two-thirds">
        <h2 class="heading-large">{% trans 'Results' %}</h2>

        <div class="print-hidden">
          {% include 'security/select-field.html' with field=form.ordering only %}
        </div>
        <p class="search-description-text">
          {{ form.search_description }}
        </p>

        <p class="print-hidden">
          <a href="{% url 'security:credits_export' %}?{{ request.GET.urlencode }}">{% trans 'Export the data you’ve found as a CSV file' %}</a>
        </p>

        <table>
          <thead>
            <tr>
              <th>{% trans 'Sender' %}</th>
              <th>{% trans 'Prisoner' %}</th>
              <th>{% trans 'Prison' %}</th>
              <th>{% trans 'Prisoner name' %}
                <span class="font-xsmall">{%trans '(as entered by sender)' %}</span>
              </th>
              <th>{% trans 'Amount (£)' %}</th>
              <th>{% trans 'Payment method' %}</th>
              <th>{% trans 'Date received' %}</th>
              <th>{% trans 'Credited by' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for credit in credits|parse_date_fields %}
              <tr {% if forloop.last %}class="no-border"{% endif %}>
                <td>{{ credit.sender_name | default_if_none:'-' }}</td>
                <td>
                  {{ credit.prisoner_name|default_if_none:'—' }}
                  {% if credit.prisoner_number %}
                    (<a href="{% url 'security:credits' %}?page=1&amp;prisoner_number={{ credit.prisoner_number }}">{{ credit.prisoner_number }}</a>)
                  {% endif %}
                </td>
                <td>{{ credit.prison_name|default_if_none:'—' }}</td>
                <td>{{ credit.intended_recipient|default:'—' }}</td>
                <td>{{ credit.amount|currency }}</td>
                <td>
                  {% if credit.source == 'online' %}
                    {% trans 'Debit card' %}
                  {% else %}
                    {% trans 'Bank transfer' %}
                  {% endif %}
                </td>
                <td>{{ credit.received_at|date:'DATE_FORMAT' }}</td>
                <td>
                  {% if credit.resolution == 'credited' %}
                    {{ credit.owner_name|default_if_none:'—' }}
                  {% else %}
                    {{ credit.resolution|format_resolution }}
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr class="no-border">
                <td colspan="7">{% trans 'No matching credits found' %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% include 'security/pagination.html' with page=form.cleaned_data.page page_count=form.page_count page_range=form.page_range query_string=form.query_string %}
      </div>
    </div>

  </form>

{% endblock %}
