{% extends 'base.html' %}
{% load i18n %}

{% block inner_content %}
  <p>{% trans 'Home' %}</p>

  <ul class="SummaryBoxes">
    <li class="SummaryBoxes--variant-1">
      <a href="{% url 'security:sender_grouped' %}">
        <h2 class="SummaryBoxes--small-title">{% trans 'Search by sender' %}</h2>
        <p>{% trans '1 sender' %}<br/>{% trans 'many prisoners' %}</p>
      </a>
    </li>

   <li class="SummaryBoxes--variant-2">
      <a href="{% url 'security:prisoner_grouped' %}">
        <h2 class="SummaryBoxes--small-title">{% trans 'Search by prisoner' %}</h2>
        <p>{% trans 'Many senders' %}<br/>{% trans '1 prisoner' %}</p>
      </a>
    </li>

   <li class="SummaryBoxes--variant-3">
      <a href="{% url 'security:credits' %}">
        <h2 class="SummaryBoxes--small-title">{% trans 'Search by other' %}</h2>
        <p>{% trans 'Eg by prison, bank details, amount patterns' %}</p>
      </a>
    </li>
  </ul>

{% endblock %}
