{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block content %}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  {% notification_banners request %}

  <div class="mtp-table__container mtp-results-list mtp-result-detail">
    <table class="govuk-table">
      <caption class="govuk-visually-hidden">{% trans 'Disbursement details' %}</caption>
      <tbody>
        <tr>
          <td>

            {% labelled_data _('Prisoner number') disbursement.prisoner_number url=disbursement|prisoner_profile_search_url %}
            <br/>
            {% labelled_data _('Prisoner name') disbursement.prisoner_name %}
            <br/>
            {% labelled_data _('Prison') disbursement.prison_name %}
            <br/>

          </td>
          <td class="mtp-credit-arrow-cell">

            <div class="mtp-disbursement-arrow">{{ disbursement.method|disbursement_method }}</div>

          </td>
          <td>

            {% labelled_data _('Recipient name') disbursement.recipient_name %}
            <br/>
            {% if disbursement.method == 'bank_transfer' %}
              {% labelled_data _('Account number') disbursement.account_number %}
              <br/>
              {% labelled_data _('Sort code') disbursement.sort_code|format_sort_code %}
              <br/>
              {% if disbursement.sender_roll_number %}
                {% labelled_data _('Roll number (for building societies)') disbursement.sender_roll_number %}
                <br/>
              {% endif %}
            {% endif %}

          </td>
          <td>

            {% labelled_data _('Address') disbursement|format_address %}
            <br/>
            {% if disbursement.recipient_email %}
              {% labelled_data _('Email') disbursement.recipient_email %}
              <br/>
            {% endif %}

          </td>
        </tr>
        <tr>

          <td colspan="4">
            {% random_string as comment_label %}
            <div id="mtp-label-{{ comment_label }}" class="mtp-detail-label">{% trans 'Payment description on remittance advice' %}</div>
            <div aria-labelledby="mtp-label-{{ comment_label }}">
              {% if disbursement.remittance_description %}
                {{ disbursement.remittance_description }}
              {% else %}
                <span class="govuk-body-m--secondary">({% trans 'None given' %})</span>
              {% endif %}
            </div>
          </td>

        </tr>
        <tr>
          <td colspan="2">

            {% labelled_data _('Status') disbursement.resolution|format_disbursement_resolution %}
            <br/>
            {% if disbursement.nomis_transaction_id %}
              {% labelled_data _('NOMIS ID') disbursement.nomis_transaction_id %}
              <br/>
            {% endif %}
            {% if disbursement.resolution == 'sent' %}
              {% labelled_data _('Invoice number') disbursement.invoice_number %}
              <span class="mtp-detail-label">
                {% trans 'Use this to track the disbursement in AP or SOP.' %}
              </span>
              <br/>
            {% endif %}

          </td>
          <td colspan="2">

            {% random_string as comment_label %}
            <div id="mtp-label-{{ comment_label }}" class="mtp-detail-label">{% trans 'History' %}</div>
            <div aria-labelledby="mtp-label-{{ comment_label }}">
              {% for log_item in disbursement.log_set %}
                {% if log_item.action == 'created' %}
                  {{ log_item.created|date:'SHORT_DATETIME_FORMAT' }}
                  –
                  {% blocktrans trimmed with staff_name=log_item.staff_name %}
                    Entered by {{ staff_name }}
                  {% endblocktrans %}
                  <br/>

                {% elif log_item.action == 'edited' %}
                  {{ log_item.created|date:'SHORT_DATETIME_FORMAT' }}
                  –
                  {% blocktrans trimmed with staff_name=log_item.staff_name %}
                    Edited by {{ staff_name }}
                  {% endblocktrans %}
                  <br/>

                {% elif log_item.action == 'confirmed' %}
                  {{ log_item.created|date:'SHORT_DATETIME_FORMAT' }}
                  –
                  {% blocktrans trimmed with staff_name=log_item.staff_name %}
                    Confirmed by {{ staff_name }}
                  {% endblocktrans %}
                  <br/>

                {% elif log_item.action == 'sent' %}
                  {{ log_item.created|date:'SHORT_DATE_FORMAT' }}
                  –
                  {% blocktrans trimmed %}
                    Sent by SSCL
                  {% endblocktrans %}
                  <br/>

                {% elif log_item.action == 'rejected' %}
                  {{ log_item.created|date:'SHORT_DATETIME_FORMAT' }}
                  –
                  {% blocktrans trimmed with staff_name=log_item.staff_name %}
                    Cancelled by {{ staff_name }}
                  {% endblocktrans %}
                  <br/>
                  {% with rejection_reason=disbursement.comments|find_rejection_reason %}
                    <span class="govuk-body-s--secondary">
                      {{ rejection_reason|truncatewords:5 }}
                    </span>
                    <br/>
                  {% endwith %}

                {% endif %}
              {% endfor %}
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}
