{% extends 'security/base_advanced_search.html' %}
{% load i18n %}

{% block advanced_search_fields %}
  <div class="heading-large">{% trans 'Date entered' %}</div>
  <p>{% trans 'We only keep transaction data for 7 years.' %}

  <div class="grid-row">
    <div class="column-one-half">
      {% include 'security/forms/split-date-field.html' with field=form.created__gte %}
    </div>

    <div class="column-one-half mtp-split-date-to-wrapper">
      {% include 'security/forms/split-date-field.html' with field=form.created__lt %}
    </div>
  </div>

  <div class="heading-large">{% trans 'Amounts' %}</div>
  {% with field=form.amount_pattern choices=form.amount_pattern.field.choices %}
    <fieldset>
      <legend id="{{ field.id_for_label }}-label" class="visually-hidden">
        <strong>{{ field.label }}</strong>
      </legend>

      <div class="{% if field.errors %}form-group-error{% endif %}">
        {% for value, label in choices %}
          <div class="multiple-choice">
            <input id="{{ field.html_name }}-{{ value }}" type="radio" name="{{ field.html_name }}" value="{{ value }}" {% if value == field.value %}checked{% endif %}>
            <label for="{{ field.html_name }}-{{ value }}">{{ label }}</label>
          </div>

          {% if value == 'exact' %}
            {% include 'mtp_common/forms/field.html' with field=form.amount_exact only %}
          {% endif %}

          {% if value == 'pence' %}
            {% include 'mtp_common/forms/field.html' with field=form.amount_pence only %}
          {% endif %}
        {% endfor %}
      </div>
    </fieldset>
  {% endwith %}

  <div class="heading-large">{% trans 'Recipient' %}</div>
  {% include 'mtp_common/forms/field.html' with field=form.recipient_name %}
  {% include 'mtp_common/forms/field.html' with field=form.recipient_email %}
  {% include 'mtp_common/forms/field.html' with field=form.postcode %}

  <div class="heading-large">{% trans 'Payment method' %}</div>
  <div class="heading-medium">{% trans 'Bank transfer' %}</div>
  {% include 'mtp_common/forms/field.html' with field=form.account_number %}
  {% include 'mtp_common/forms/field.html' with field=form.sort_code %}

  <div class="heading-large">{% trans 'Prisoner' %}</div>
  {% include 'mtp_common/forms/field.html' with field=form.prisoner_number %}
  {% include 'mtp_common/forms/field.html' with field=form.prisoner_name %}

  <div class="heading-large">{% trans 'Invoice number' %}</div>
  {% include 'mtp_common/forms/field.html' with field=form.invoice_number %}

{% endblock advanced_search_fields %}
