{% extends 'security/base_advanced_search.html' %}
{% load i18n %}

{% block advanced_search_fields %}
  <div class="heading-large">{% trans 'Date entered' %}</div>
  <p>{% trans 'We only keep transaction data for 7 years.' %}

  <div class="grid-row">
    <div class="column-one-half">
      {% include 'security/forms/split-date-field.html' with field=form.created__gte %}
    </div>

    <div class="column-one-half mtp-split-date-to-wrapper">
      {% include 'security/forms/split-date-field.html' with field=form.created__lt %}
    </div>
  </div>

  {% include 'security/forms/amount-pattern-fieldset.html' %}

  <div class="heading-large">{% trans 'Recipient' %}</div>
  {% include 'mtp_common/forms/field.html' with field=form.recipient_name %}
  {% include 'mtp_common/forms/field.html' with field=form.recipient_email %}
  {% include 'mtp_common/forms/field.html' with field=form.postcode %}

  <div class="heading-large">{% trans 'Payment method' %}</div>
  {% include 'security/forms/payment-method-fieldset.html' %}

  <div class="heading-large">{% trans 'Prisoner' %}</div>
  {% include 'mtp_common/forms/field.html' with field=form.prisoner_number %}
  {% include 'mtp_common/forms/field.html' with field=form.prisoner_name %}

  {% include 'security/forms/prison-selector-fieldset.html' %}

  <div class="heading-large mtp-invoice-nr-header">{% trans 'Invoice number' %}</div>
  {% include 'mtp_common/forms/field.html' with field=form.invoice_number %}

{% endblock advanced_search_fields %}
