{% extends 'base.html' %}
{% load i18n %}

{% block inner_content %}

  <h1 class="heading-xlarge">{{ view.title }}</h1>

  {% include 'mtp_common/includes/message_box.html' %}
  {% include view.help_template_name %}

  <form method="get">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <input type="hidden" name="page" value="1">

    <div class="grid-row">
      <aside class="mtp-results-form__wrapper column-third">
        <h2 class="heading-medium">{% trans 'Edit your search' %}</h2>

        {% include view.form_template_name with view=view form=form only %}

        <div class="form-group mtp-results-form__submit">
          <button type="submit" class="button">{% trans 'Update search' %}</button>
        </div>
      </aside>

      <div class="mtp-results-list column-two-thirds">
        <h2 class="heading-large">{% trans 'Results' %}</h2>

        <div class="print-hidden">
          {% include 'security/select-field.html' with field=form.ordering only %}
        </div>
        <p class="mtp-search-description__text">
          {{ form.search_description }}
        </p>

        {% block results_list %}
          {% for group in form.get_object_list %}

            <table id="GroupedResults-{{ forloop.counter }}" class="CollapsingTable">
              {% block group_title %}{% endblock %}
              <thead>
                <tr>{% block group_header_row %}{% endblock %}</tr>
              </thead>
              <tbody>

                {% block group_results %}{% endblock %}
              </tbody>
            </table>

          {% empty %}

            <p>{% trans 'No matching credits found' %}</p>

          {% endfor %}
        {% endblock %}

        {% include 'security/pagination.html' with page=form.cleaned_data.page page_count=form.page_count page_range=form.page_range query_string=form.query_string %}
      </div>
    </div>

  </form>

{% endblock %}
