{% load i18n %}

<div class="form-range-field">
  <span class="form-label">{% trans 'Total sent (£)' %}</span>

  {% include 'security/numeric-range-field.html' with min_field=form.credit_total_0 max_field=form.credit_total_1 %}
</div>

<div class="form-range-field">
  <span class="form-label">{% trans 'Total credits sent' %}</span>

  {% include 'security/numeric-range-field.html' with min_field=form.credit_count_0 max_field=form.credit_count_1 %}
</div>

{% include 'security/received-range-field.html' %}
