{% extends 'base.html' %}
{% load i18n %}
{% load security %}

{% block inner_content %}
  <header class="ContentHeader">
    <a href="{% unserialise_back_url request %}" class="ContentHeader-back ContentHeader-arrow">{% trans 'Back' %}</a>
    <h1 class="heading-large">{% block credit_group_title %}{{ view.title }}{% endblock %}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}

  <div class="ResultsList">
    <table class="ResultsList-alone">
      <caption>
        {% block group_title %}{% endblock %}
      </caption>
      <thead>
        <tr>
          <th>{% trans 'Date received' %}</th>
          <th>{% trans 'Prisoner name' %}</th>
          <th>{% trans 'Prisoner name' %}
            <span class="font-xsmall">{%trans '(as entered by sender)' %}</span>
          </th>
          <th>{% trans 'Amount (£)' %}</th>
          <th>{% trans 'Payment method' %}</th>
          <th>{% trans 'Processed by' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for credit in credits|parse_date_fields %}
          <tr {% if forloop.last %}class="no-border"{% endif %}>
            <td>{{ credit.received_at|date:'DATE_FORMAT' }}</td>
            <td>
              {{ credit.prisoner_name|default_if_none:'—' }}
              {% if credit.prisoner_number %}
                (<a href="{% url 'security:credits' %}?page=1&amp;prisoner_number={{ credit.prisoner_number }}">{{ credit.prisoner_number }}</a>)
              {% endif %}
            </td>
            <td>{{ credit.intended_recipient|default:'—' }}</td>
            <td>{{ credit.amount|currency }}</td>
            <td>
              {% if credit.source == 'online' %}
                {% trans 'Debit card' %}
              {% else %}
                {% trans 'Bank transfer' %}
              {% endif %}
            </td>
            <td>{{ credit.owner_name|default_if_none:'—' }}</td>
          </tr>
        {% empty %}
          <tr class="no-border">
            <td colspan="6">{% trans 'No credits found' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'security/pagination.html' %}
  </div>

{% endblock %}
