{% extends 'base.html' %}
{% load i18n %}

{% block inner_content %}
  <header class="ContentHeader">
    <a href="{% url 'security:dashboard' %}" class="ContentHeader-back">{% trans 'Home' %}</a>
    <h1 class="heading-xlarge">{{ view.title }}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}

  <form method="get">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <input type="hidden" name="page" value="1">

    <div class="grid-row">
      <aside class="ResultsFormWrapper column-third print-hidden">
        <h2 class="heading-medium">{% trans 'Edit your search' %}</h2>

        {% include view.form_template_name with view=view form=form only %}

        <div class="form-group">
          <button type="submit" class="button">{% trans 'Update search' %}</button>
        </div>
      </aside>

      <div class="ResultsList column-two-thirds">
        <h2 class="heading-large">{% trans 'Results' %}</h2>

        <div class="print-hidden">
          {% include 'security/select-field.html' with field=form.ordering only %}
        </div>
        <p class="search-description-text">
          {{ form.search_description }}
        </p>

        {% block results_list %}
          {% for group in form.get_object_list %}

            <table id="GroupedResults-{{ forloop.counter }}" class="CollapsingTable">
              <caption class="CollapsingTableHeader" data-collapse-text="{% trans 'Collapse' %}" data-expand-text="{% trans 'Expand' %}">
                {% block group_title %}{% endblock %}
              </caption>
              <thead>
                <tr>{% block group_header_row %}{% endblock %}</tr>
              </thead>
              <tbody>

                {% block group_results %}{% endblock %}
              </tbody>
            </table>

          {% empty %}

            <p>{% trans 'No matching credits found' %}</p>

          {% endfor %}
        {% endblock %}

        {% include 'security/pagination.html' with page=form.page.value page_count=form.page_count page_range=form.page_range query_string=form.query_string %}
      </div>
    </div>

  </form>

{% endblock %}
