{% load i18n %}

<div class="grid-row">
  <div class="column-half">
    <div id="{{ min_field.id_for_label }}-wrapper" class="form-group {% if min_field.errors %}error{% endif %}">
      <label for="{{ min_field.id_for_label }}" id="{{ min_field.id_for_label }}-label" class="form-label sublabel">{% trans 'Min' %}</label>
      {% include 'mtp_common/forms/field-errors.html' with field=min_field only %}
      {% include 'mtp_common/forms/field-help-text.html' with field=min_field only %}
      <input id="{{ min_field.id_for_label }}" class="form-control" name="{{ min_field.html_name }}" value="{{ min_field.value|default_if_none:'' }}" type="{{ min_field.field.widget.input_type|default:'text' }}" min="0" />
  </div>
  </div>

  <div class="column-half">
    <div id="{{ max_field.id_for_label }}-wrapper" class="form-group {% if max_field.errors %}error{% endif %}">
      <label for="{{ max_field.id_for_label }}" id="{{ max_field.id_for_label }}-label" class="form-label sublabel">{% trans 'Max' %}</label>
      {% include 'mtp_common/forms/field-errors.html' with field=max_field only %}
      {% include 'mtp_common/forms/field-help-text.html' with field=max_field only %}
      <input id="{{ max_field.id_for_label }}" class="form-control" name="{{ max_field.html_name }}" value="{{ max_field.value|default_if_none:'' }}" type="{{ max_field.field.widget.input_type|default:'text' }}" min="0" />
  </div>
  </div>
</div>
