{% load i18n %}

{% if page_count > 1 %}
  <ul class="Pagination print-hidden">
    {% for page in page_range %}
      <li>
        {% if not page %}
          …
        {% else %}
          <a href="?{% if query_string %}{{ query_string }}&amp;{% endif %}page={{ page }}">
            <span class="screenreader-only">{% trans 'Page' %}</span>
            {{ page }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="Pagination-print-description">
    {% blocktrans %}Page {{ page }} of {{ page_count }}.{% endblocktrans %}
  </p>
{% endif %}
