{% extends 'security/grouped-results.html' %}
{% load i18n %}
{% load security %}

{% block group_title %}
  {% trans 'Prisoner' %}:
  <strong>
    {{ group.prisoner_name }}
    ({{ group.prisoner_number }})
  </strong>
{% endblock %}

{% block group_header_row %}
  <th>{% trans 'Sender' %}</th>
  <th>{% trans 'No. of payments' %}</th>
  <th>{% trans 'Total value (£)' %}</th>
  <th>{% trans 'Details' %}</th>
{% endblock %}

{% block group_results %}
  {% for sender in group.senders %}
    <tr {% if not forloop.counter|divisibleby:2 %}class="odd"{% endif %}>
      <td>
        {{ sender.sender_name }}
        {% if sender.sender_sort_code or sender.sender_account_number %}
          <br>
          {{ sender.sender_sort_code|format_sort_code }}
          {{ sender.sender_account_number }}
          {% if sender.sender_roll_number %}
            / {{ sender.sender_roll_number }}
          {% endif %}
        {% endif %}
      </td>
      <td>{{ sender.credit_count }}</td>
      <td>{{ sender.credit_total|currency }}</td>
      {% blocktrans with sender_name=sender.sender_name asvar detail_title %}Sent from {{ sender_name }}{% endblocktrans %}
      <td><a href="{% get_credits_list_url view form group sender %}&amp;detail_title={{ detail_title|urlencode }}&amp;return_to={% serialise_back_url request %}">{% trans 'View' %}</a></td>
    </tr>
  {% endfor %}

  <tr {% if group.senders|length|divisibleby:2 %}class="odd"{% endif %}>
    <td>{% trans 'Total credits' %}</td>
    <td>{{ group.credit_count }}</td>
    <td colspan="2">{{ group.credit_total|currency }}</td>
  </tr>
{% endblock %}
