{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block phase_banner %}
  {{ block.super }}
  {% include "security/forms/prison-switcher.html" %}
{% endblock %}

{% block inner_content %}

  <header>
    <h1 class="heading-xlarge mtp-unpadded-heading">{{ view.title }}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}

  <form id="filter-prisoners" class="mtp-security-search js-FormAnalytics" method="get">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <p class="mtp-search-description">
      {{ form.search_description.description }}
    </p>

    <div class="print-hidden">
      {% include view.form_template_name with view=view form=form only %}
    </div>

    {% if form.is_valid %}
      <div class="mtp-results-list">
        <div class="print-hidden mtp-links--no-panel">
          <a class="js-print-trigger js-FormAnalytics-click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print' %}</a>
          &nbsp;
          {% url 'security:prisoners_export' as export_view %}
          {% url 'security:prisoners_email_export' as email_export_view %}
          {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many prisoners to download.') %}
        </div>

        <table class="mtp-table">
          <caption class="visually-hidden">{{ form.search_description.description }}</caption>
          <thead>
            <tr>
              {% sortable_cell _('Prisoner') form.cleaned_data 'prisoner_number' %}
              <th>{% trans 'Prison' %}</th>
              {% sortable_cell _('Received') form.cleaned_data 'credit_count' %}
              {% sortable_cell _('Payment sources') form.cleaned_data 'sender_count' %}
              {% sortable_cell _('Amount') form.cleaned_data 'credit_total' cell_classes='numeric' %}
            </tr>
          </thead>
          <tbody>
            {% for prisoner in prisoners %}
              <tr>
                <td>
                  <a href="{% url 'security:prisoner_detail' prisoner.id %}" title="{% trans 'View prisoner details' %}" class="mtp-print-url-hidden">
                    {{ prisoner.prisoner_number }}
                  </a>
                  <br/>
                  {{ prisoner.prisoner_name|default_if_none:'—' }}
                </td>
                <td>{{ prisoner.prisons|list_prison_names }}</td>
                <td>
                  {% blocktrans trimmed count count=prisoner.credit_count %}
                    {{ count }} credit received
                  {% plural %}
                    {{ count }} credits received
                  {% endblocktrans %}
                </td>
                <td>
                  {% blocktrans trimmed count count=prisoner.sender_count %}
                    {{ count }} payment source
                  {% plural %}
                    {{ count }} payment sources
                  {% endblocktrans %}
                </td>
                <td class="numeric">
                  <span class="mtp-sortable-cell--pad">
                    {{ prisoner.credit_total|currency }}
                  </span>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">{% trans 'No matching prisoners found' %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="mtp-page-list-container">
        {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

        <p class="mtp-object-count">
          {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
            {{ number }} prisoner
          {% plural %}
            {{ number }} prisoners
          {% endblocktrans %}
        </p>
      </div>
    {% endif %}

  </form>

{% endblock %}
