{% load i18n %}

<div class="help-box">
  <p>{% trans 'Find payments sent to one prisoner from multiple senders.' %}</p>

  <div class="help-box-title" aria-controls="help-box-contents" aria-expanded="true" role="heading">
    <div></div><a href="#">{% trans 'Help' %}</a>
  </div>
  <div class="panel panel-border-narrow help-box-contents">
    <ul>
      <li>{% trans '‘Number of senders’ means the minimum amount of senders from whom a prisoner has received money' %}</li>
      <li>{% trans 'All fields are optional' %}</li>
      <li>{% trans 'Use the search without filling in any fields to bring up all payments' %}</li>
      <li>{% trans 'Keep adding filters to refine your search' %}</li>
    </ul>
 </div>
</div>
