{% extends 'security/grouped.html' %}
{% load i18n %}
{% load security %}

{% block group_title %}
<caption class="CollapsingTableHeader prisoner-header" data-collapse-text="{% trans 'Collapse' %}" data-expand-text="{% trans 'Expand' %}">
  {% trans 'To:' %}
  <strong>
    {{ group.prisoner_name }}
  </strong><br/>
  <span class="CollapsingTableHeader-below">
    {{ group.prisoner_number }}{% if group.current_prison_name %} / {{ group.current_prison_name }}{% endif %}
  </span>
  <span class="mtp-grouped-results__sender-details CollapsingTableHeader-aside CollapsingTableHeader-aside-right">
    {% trans 'Credits:' %} {{ group.credit_count }}<br/>
    {% trans 'Senders:' %} {{ group.sender_count }}<br/>
    {% trans 'Total:' %} £{{ group.credit_total|currency }}
  </span>
</caption>
{% endblock %}

{% block group_header_row %}
  <th>{% trans 'Sender' %}</th>
  <th>{% trans 'No. of credits' %}</th>
  <th>{% trans 'Total received (£)' %}</th>
  <th class="print-hidden">{% trans 'Details' %}</th>
{% endblock %}

{% block group_results %}
  {% with senders=group.senders|clean_dict_values:'sender_name' %}
    {% for sender in senders|dictsort:'sender_name' %}
      <tr>
        <td>
          {{ sender.sender_name }}
          {% if sender.sender_sort_code or sender.sender_account_number %}
            <br>
            {{ sender.sender_sort_code|format_sort_code }}
            / {{ sender.sender_account_number }}
            {% if sender.sender_roll_number %}
              / {{ sender.sender_roll_number }}
            {% endif %}
          {% endif %}
        </td>
        <td>{{ sender.credit_count }}</td>
        <td>{{ sender.credit_total|currency }}</td>
        <td class="print-hidden">
          <a href="{% get_credits_list_url view form group sender %}&amp;return_to={% serialise_back_url request %}"
             class="mtp-credit-detail__link"
             aria-expanded="false"
             data-ajax-url="{% get_credits_list_url view form group sender %}&amp;ajax=1"
             data-show-title="{% trans 'Show' %}"
             data-hide-title="{% trans 'Hide' %}"
             data-loading-title="{% trans 'Loading…' %}">
            {% trans 'Show' %}
          </a>
        </td>
      </tr>
    {% endfor %}
  {% endwith %}
{% endblock %}
