{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}
{% load static %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <div>
    {% if prisoner and nomis_api_available %}
      <div class="mtp-prisoner-image">
        <img src="{% url 'security:prisoner_image' prisoner_number=prisoner.prisoner_number %}" srcset="{% url 'security:prisoner_image' prisoner_number=prisoner.prisoner_number %}?ratio=2x 2x" alt="{% trans 'Photo of the prisoner' %}"/>
      </div>
    {% endif %}

    <div class="mtp-prisoner-summary">
      <header>
        <h1 class="heading-xlarge mtp-unpadded-heading">{{ view.title }}</h1>
      </header>

      <p class="lede">{% blocktrans with prison=prisoner.current_prison.name %}Held at {{ prison }}{% endblocktrans %}</p>

      <div class="mtp-prisoner-summary__details">
        <div class="column-one-quarter">
          {% labelled_data _('Credits received') prisoner.credit_count tag='strong' %}
        </div>

        <div class="column-one-quarter">
          {% labelled_data _('Payment sources')  prisoner.sender_count tag='strong' %}
        </div>

        <div class="column-one-quarter">
          {% labelled_data _('Total amount received') prisoner.credit_total|currency tag='strong' %}
        </div>

        {% if recipient_names %}
          <div class="column-one-quarter">
            {% random_string as profile_label %}
            <div id="mtp-label-{{ profile_label }}" class="mtp-detail-label">{% trans 'Names given by senders' %}</div>
            <span aria-labelledby="mtp-label-{{ profile_label }}">
              {% for recipient_name in recipient_names %}
                <strong>{{ recipient_name }}</strong>{% if not forloop.last %},{% endif %}
              {% endfor %}
            </span>
          </div>
        {% endif %}
      </div>

      {% if request.disbursements_available %}
        <div class="mtp-prisoner-summary__details">
          <div class="column-one-quarter">
            {% labelled_data _('Disbursements sent') disbursement_count|default_if_none:_('Unknown') tag='strong' %}
          </div>
        </div>
      {% endif %}

      {% include 'security/includes/save-search.html' with form=form pin_label=_('Monitor this prisoner on your home page') unpin_label=_('Stop monitoring this prisoner') only %}
    </div>
  </div>

  {% include 'mtp_common/forms/error-summary.html' with form=form only %}

  {% if form.is_valid %}
    <div class="mtp-results-list">
      {% block object_list %}
        {% if request.disbursements_available %}
          <aside class="mtp-object-list-toggle print-hidden">
            <a href="{% url 'security:prisoner_disbursement_detail' prisoner.id %}" class="button-secondary">
              {% trans 'View disbursements' %}
            </a>
          </aside>
        {% endif %}

        <h2 class="heading-large">{% trans 'Credits received' %}</h2>

        <div class="panel panel-border-narrow">
          {% include 'security/forms/search-description.html' with form=form only %}

          <div class="print-hidden mtp-links">
            <a class="js-print-trigger" href="#print-dialog">{% trans 'Print' %}</a>
            &nbsp;
            {% url 'security:prisoner_detail_export' prisoner_id=prisoner.id as export_view %}
            {% url 'security:prisoner_detail_email_export' prisoner_id=prisoner.id as email_export_view %}
            {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many credits to download.') %}
          </div>
        </div>

        <table>
          <caption class="visually-hidden">{{ form.search_description.description }}</caption>
          <thead>
            <tr>
              {% include 'security/includes/credit-header-row.html' %}
            </tr>
          </thead>
          <tbody>
            {% for credit in credits %}
              <tr class="{% if forloop.last %}no-border{% endif %}">
                {% include 'security/includes/credit-row.html' with link_sender=True %}
              </tr>
            {% empty %}
              <tr class="no-border">
                <td colspan="7">{% trans 'No matching credits found' %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endblock %}
    </div>
    {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}
  {% endif %}

{% endblock %}
