{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="mtp-results-profile mtp-results-profile--prisoner">
    <div class="mtp-results-profile__photo govuk-!-margin-right-5 govuk-!-margin-bottom-3">
      <img src="{% url 'security:prisoner_image' prisoner_number=prisoner.prisoner_number %}" srcset="{% url 'security:prisoner_image' prisoner_number=prisoner.prisoner_number %}?ratio=2x 2x" alt="{% trans 'Photo of the prisoner' %}"/>
    </div>

    <div class="mtp-results-profile__summary">
      <header>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">{{ prisoner.prisoner_name|default:_('Unknown prisoner') }}</h1>
        {% if prisoner.prisoner_number %}
          <span class="govuk-heading-l govuk-!-margin-bottom-3">{{ prisoner.prisoner_number }}</span>
          <a class="govuk-!-display-none-print" href="{{ DPS }}prisoner/{{ prisoner.prisoner_number }}" target="_blank">
            {% trans 'View profile on DPS' %}
            ({% trans 'opens in a new tab' %})
          </a>
        {% endif %}
      </header>

      <div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-3">
        <div class="mtp-results-profile__label govuk-grid-column-one-quarter">
          {% labelled_data _('Credits received') prisoner.credit_count tag='strong' %}
        </div>

        <div class="mtp-results-profile__label govuk-grid-column-one-quarter">
          {% labelled_data _('Payment sources')  prisoner.sender_count tag='strong' %}
        </div>

        <div class="mtp-results-profile__label govuk-grid-column-one-quarter">
          {% labelled_data _('Total received') prisoner.credit_total|currency tag='strong' %}
        </div>

        <div class="mtp-results-profile__label govuk-grid-column-one-quarter">
          {% labelled_data _('Disbursements sent') prisoner.disbursement_count tag='strong' %}
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-3">
        {% if provided_names %}
          <div class="mtp-results-profile__label govuk-grid-column-one-half">
            {% captureoutput as names_given_by_senders %}
              {% for provided_name in provided_names %}
                <strong>{{ provided_name }}</strong>{% if not forloop.last %},{% endif %}
              {% endfor %}
            {% endcaptureoutput %}
            {% labelled_data _('Names given by senders') names_given_by_senders tag='strong' %}
          </div>
        {% endif %}

        <div class="mtp-results-profile__label govuk-grid-column-one-quarter">
          {% labelled_data _('Prison') prisoner.current_prison.name tag='strong' %}
        </div>

        <div class="mtp-results-profile__label govuk-grid-column-one-quarter">
          {% captureoutput as current_location %}
            <span class="mtp-async-load" data-path="{% url 'security:prisoner_nomis_info' prisoner_number=prisoner.prisoner_number %}" data-key="housing_location">–</span>
          {% endcaptureoutput %}
          {% labelled_data _('Location') current_location tag='strong' %}
        </div>
      </div>

      {% include 'security/includes/monitor-button.html' with form=form pin_label=_('Monitor this prisoner on your home page') unpin_label=_('Stop monitoring this prisoner') only %}
    </div>
  </div>

  <form class="mtp-form-analytics" method="get">
    {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

    {% if form.is_valid %}
      <div class="mtp-table__container mtp-results-list">
        {% block object_list %}
          <div class="mtp-results-profile__toggle">
            <aside class="govuk-!-display-none-print">
              <a href="{% url 'security:prisoner_disbursement_detail' prisoner.id %}" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" role="button">
                {% trans 'View disbursements' %}
              </a>
            </aside>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">{% trans 'Credits received' %}</h2>
          </div>

          <div class="mtp-results-list-actions govuk-inset-text">
            <p class="mtp-results-list-actions__description">
              {{ form.search_description.description }}
            </p>

            <div class="mtp-results-list-actions__links govuk-!-display-none-print">
              <a class="mtp-print-trigger mtp-form-analytics__click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print' %}</a>
              &nbsp;
              {% url 'security:prisoner_detail_export' prisoner_id=prisoner.id as export_view %}
              {% url 'security:prisoner_detail_email_export' prisoner_id=prisoner.id as email_export_view %}
              {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many credits to download.') %}
            </div>
          </div>

          <table class="mtp-table mtp-table--small">
            <caption class="govuk-visually-hidden">{{ form.search_description.description }}</caption>
            <thead>
              <tr>
                {% include 'security/includes/credit-header-row.html' %}
              </tr>
            </thead>
            <tbody>
              {% for credit in credits %}
                <tr>
                  {% include 'security/includes/credit-row.html' with link_sender=True %}
                </tr>
              {% empty %}
                <tr>
                  <td colspan="7">{% trans 'No matching credits found' %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endblock %}
      </div>

      <div class="mtp-page-list__container">
        {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

        {% block list_object_count %}
          <p class="mtp-page-list__count">
            {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
              {{ number }} credit
            {% plural %}
              {{ number }} credits
            {% endblocktrans %}
          </p>
        {% endblock %}
      </div>
    {% endif %}
  </form>

{% endblock %}
