{% extends 'security/prisoner.html' %}
{% load i18n %}


{% block object_list %}
  <aside class="mtp-object-list-toggle print-hidden">
    <a href="{% url 'security:prisoner_detail' prisoner.id %}" class="button-secondary">
      {% trans 'View credits' %}
    </a>
  </aside>

  <h2 class="heading-large">{% trans 'Disbursements sent' %}</h2>

  <div class="panel panel-border-narrow">
    <p class="mtp-search-description--aside">
      <span class="print-only-inline">{{ form.search_description.description }}</span>
      <span class="print-hidden">{{ form.search_description.simple_description }}</span>
      {% trans 'You can’t see cash or postal orders here.' %}
    </p>

    <div class="print-hidden mtp-links">
      <a class="js-print-trigger js-FormAnalytics-click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print' %}</a>
      &nbsp;
      {% url 'security:prisoner_disbursement_detail_export' prisoner_id=prisoner.id as export_view %}
      {% url 'security:prisoner_disbursement_detail_email_export' prisoner_id=prisoner.id as email_export_view %}
      {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many disbursements to download.') %}
    </div>
  </div>

  <table class="mtp-table">
    <caption class="visually-hidden">{{ form.search_description.description }}</caption>
    <thead>
      <tr>
        {% include 'security/includes/disbursement-header-row.html' %}
      </tr>
    </thead>
    <tbody>
      {% for disbursement in disbursements %}
        <tr>
          {% include 'security/includes/disbursement-row.html' %}
        </tr>
      {% empty %}
        <tr>
          <td colspan="7">{% trans 'No matching disbursements found' %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
