{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}
{% load static %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block content %}
  <div>
    <div class="mtp-prisoner-image">
      <img src="{% url 'security:prisoner_image' prisoner_number=prisoner.prisoner_number %}" srcset="{% url 'security:prisoner_image' prisoner_number=prisoner.prisoner_number %}?ratio=2x 2x" alt="{% trans 'Photo of the prisoner' %}"/>
    </div>

    <div class="mtp-prisoner-summary">
      <header>
        <h1 class="govuk-heading-xl">{{ prisoner.prisoner_name|default:_('Unknown prisoner') }}</h1>
        {% if prisoner.prisoner_number %}
          <h2 class="govuk-heading-l">{{ prisoner.prisoner_number }}</h2>
        {% endif %}
      </header>

      <br />

      <div class="mtp-prisoner-summary__details">
        <div class="column-one-quarter">
          {% labelled_data _('Credits received') prisoner.credit_count tag='strong' %}
        </div>

        <div class="column-one-quarter">
          {% labelled_data _('Payment sources')  prisoner.sender_count tag='strong' %}
        </div>

        <div class="column-one-quarter">
          {% labelled_data _('Total received') prisoner.credit_total|currency tag='strong' %}
        </div>

        <div class="column-one-quarter">
          {% labelled_data _('Disbursements sent') prisoner.disbursement_count tag='strong' %}
        </div>
      </div>

      <div class="mtp-prisoner-summary__details">
        {% if provided_names %}
          <div class="column-one-quarter">
            {% random_string as profile_label %}
            <div id="mtp-label-{{ profile_label }}" class="mtp-detail-label">{% trans 'Names given by senders' %}</div>
            <span aria-labelledby="mtp-label-{{ profile_label }}">
              {% for provided_name in provided_names %}
                <strong>{{ provided_name }}</strong>{% if not forloop.last %},{% endif %}
              {% endfor %}
            </span>
          </div>
        {% endif %}

        <div class="column-one-quarter">
          {% labelled_data _('Prison') prisoner.current_prison.name tag='strong' %}
        </div>

        <div class="column-one-quarter">
          <div id="location-label" class="mtp-detail-label">{% trans 'Location' %}</div>
          <strong class="js-async-load" data-path="{% url 'security:prisoner_nomis_info' prisoner_number=prisoner.prisoner_number %}" data-key="housing_location" aria-labelledby="location-label">–</strong>
        </div>
      </div>

      {% include 'security/includes/save-search.html' with form=form pin_label=_('Monitor this prisoner on your home page') unpin_label=_('Stop monitoring this prisoner') only %}
    </div>
  </div>

  <form class="js-FormAnalytics" method="get">
    {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

    {% if form.is_valid %}
      <div class="mtp-results-list">
        {% block object_list %}
          <aside class="mtp-object-list-toggle print-hidden">
            <a href="{% url 'security:prisoner_disbursement_detail' prisoner.id %}" class="button-secondary">
              {% trans 'View disbursements' %}
            </a>
          </aside>

          <h2 class="govuk-heading-l">{% trans 'Credits received' %}</h2>

          <div class="panel panel-border-narrow">
            <p class="mtp-search-description--aside">
              {{ form.search_description.description }}
            </p>

            <div class="print-hidden mtp-links">
              <a class="js-print-trigger js-FormAnalytics-click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print' %}</a>
              &nbsp;
              {% url 'security:prisoner_detail_export' prisoner_id=prisoner.id as export_view %}
              {% url 'security:prisoner_detail_email_export' prisoner_id=prisoner.id as email_export_view %}
              {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many credits to download.') %}
            </div>
          </div>

          <table class="mtp-table table-font-xsmall">
            <caption class="visually-hidden">{{ form.search_description.description }}</caption>
            <thead>
              <tr>
                {% include 'security/includes/credit-header-row.html' %}
              </tr>
            </thead>
            <tbody>
              {% for credit in credits %}
                <tr>
                  {% include 'security/includes/credit-row.html' with link_sender=True %}
                </tr>
              {% empty %}
                <tr>
                  <td colspan="7">{% trans 'No matching credits found' %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endblock %}
      </div>

      <div class="mtp-page-list__container">
        {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

        {% block list_object_count %}
          <p class="mtp-page-list__count">
            {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
              {{ number }} credit
            {% plural %}
              {{ number }} credits
            {% endblocktrans %}
          </p>
        {% endblock %}
      </div>
    {% endif %}
  </form>

{% endblock %}
