{% extends 'security/grouped-credits.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block credit_group_title %}
  {{ request.GET.prisoner_name|default:_('Cannot be credited') }}
  {% if request.GET.prisoner_number %}
    ({{ request.GET.prisoner_number }})
  {% endif %}
{% endblock %}

{% block group_title %}
  {% trans 'Received from' %}:
  <strong>{{ request.GET.sender_name|default:_('Unknown sender name') }}</strong>
  <br/>
  <span>
    {% stripwhitespace %}
      {{ request.GET.sender_sort_code|format_sort_code }}
      {% if request.GET.sender_account_number %}
        /
        {% if request.GET.sender_roll_number %}
          <small>
            {{ request.GET.sender_account_number }}/{{ request.GET.sender_roll_number }}
          </small>
        {% else %}
          {{ request.GET.sender_account_number }}
        {% endif %}
      {% endif %}
    {% endstripwhitespace %}
  </span>
{% endblock %}
