{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}
{% load static %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <div>
    {% if prisoner and nomis_api_available %}
      <div class="mtp-prisoner-image">
        <img src="{% url 'security:prisoner_image' prisoner_number=prisoner.prisoner_number %}" srcset="{% url 'security:prisoner_image' prisoner_number=prisoner.prisoner_number %}?ratio=2x 2x" alt="{% trans 'Photo of the prisoner' %}"/>
      </div>
    {% endif %}

    <div class="mtp-prisoner-summary">
      <header>
        <h1 class="heading-xlarge mtp-unpadded-heading">{{ view.title }}</h1>
      </header>

      <p class="lede">{% blocktrans with prison=prisoner.current_prison.name %}Held at {{ prison }}{% endblocktrans %}</p>

      <div class="mtp-prisoner-summary__details">
        <div class="column-one-quarter">
          {% labelled_data _('Credits received') prisoner.credit_count tag='strong' %}
        </div>

        <div class="column-one-quarter">
          {% labelled_data _('Payment sources')  prisoner.sender_count tag='strong' %}
        </div>

        <div class="column-one-quarter">
          {% labelled_data _('Total amount received') prisoner.credit_total|currency tag='strong' %}
        </div>

        {% if recipient_names %}
          <div class="column-one-quarter">
            {% random_string as profile_label %}
            <div id="mtp-label-{{ profile_label }}" class="mtp-detail-label">{% trans 'Names given by senders' %}</div>
            <span aria-labelledby="mtp-label-{{ profile_label }}">
              {% for recipient_name in recipient_names %}
                <strong>{{ recipient_name }}</strong>{% if not forloop.last %},{% endif %}
              {% endfor %}
            </span>
          </div>
        {% endif %}
      </div>

      {% include 'security/includes/save-search.html' with form=form pin_label=_('Monitor this prisoner on your home page') unpin_label=_('Stop monitoring this prisoner') only %}
    </div>
  </div>

  {% include 'mtp_common/forms/error-summary.html' with form=form only %}

  {% if form.is_valid %}
    <div class="mtp-results-list mtp-prisoner-credits">
      <h2 class="heading-large">{% trans 'Credits received' %}</h2>

      <div class="panel panel-border-narrow">
        {% include 'security/forms/search-description.html' with form=form only %}

        <div class="print-hidden mtp-links">
          <a class="js-print-trigger" href="#print-dialog">{% trans 'Print' %}</a>
          &nbsp;
          {% url 'security:prisoner_detail_export' prisoner_id=prisoner.id as export_view %}
          {% url 'security:prisoner_detail_email_export' prisoner_id=prisoner.id as email_export_view %}
          {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many credits to download.') %}
        </div>
      </div>

      <table>
        <caption class="visually-hidden">{{ form.search_description.description }}</caption>
        <thead>
          <tr>
            <th class="{{ form|ordering_classes:'received_at' }}">
              <a href="?{{ form|query_string_with_reversed_ordering:'received_at' }}">
                <span>
                  {% trans 'Date received' %}
                  {% describe_ordering_for_screenreader form 'received_at' %}
                </span>
              </a>
            </th>
            <th>{% trans 'Payment source and type' %}</th>
            <th>{% trans 'Name entered by sender' %}</th>
            <th class="{{ form|ordering_classes:'amount' }} number">
              <a href="?{{ form|query_string_with_reversed_ordering:'amount' }}">
                <span>
                  {% trans 'Amount' %}
                  {% describe_ordering_for_screenreader form 'amount' %}
                </span>
              </a>
            </th>
            <th>{% trans 'Received at prison' %}</th>
            <th>{% trans 'Credited status' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for credit in credits %}
            <tr class="mtp-prisoner-credits__credit-row">
              <td>
                <strong>
                  <a href="{% url 'security:credit_detail' credit_id=credit.id %}">
                    {{ credit.received_at|date:'DATE_FORMAT' }}
                  </a>
                </strong>
              </td>
              <td>
                {% with known_sender=credit|credit_sender_identifiable %}
                  {% if credit.source == 'online' %}
                    <div class="mtp-credit__card">
                      <strong>
                        {% if known_sender %}
                          <a href="{{ credit|sender_profile_search_url }}" class="mtp-print-url-hidden">{{ credit.sender_name|default:'—' }}</a>
                        {% else %}
                          {% trans 'Sender details not recorded' %}
                        {% endif %}
                      </strong><br />
                      {% trans 'by debit card' %}
                    </div>
                    <p>—</p>

                    {% labelled_data _('Card number') credit.card_number_last_digits|format_card_number %}
                  {% else %}
                    <div class="mtp-credit__transfer">
                      <strong>
                        {% if known_sender %}
                          <a href="{{ credit|sender_profile_search_url }}" class="mtp-print-url-hidden">{{ credit.sender_name|default:'—' }}</a>
                        {% else %}
                          {% trans 'Sender details not recorded' %}
                        {% endif %}
                      </strong><br />
                      {% trans 'by bank transfer' %}
                    </div>
                    <p>—</p>

                    {% labelled_data _('Account number') credit.sender_account_number %}
                    <br/>
                    {% labelled_data _('Sort code') credit.sender_sort_code|format_sort_code %}
                    {% if credit.sender_roll_number %}
                      <br/>
                      {% labelled_data _('Roll number (for building societies)') credit.sender_roll_number %}
                    {% endif %}
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {{ credit.intended_recipient|default_if_none:'—' }}
              </td>
              <td class="number">
                <strong>{{ credit.amount|currency }}</strong>
              </td>
              <td>
                {{ credit.prison_name|default_if_none:'—' }}
              </td>
              <td>
                <strong>
                  {% if credit.resolution == 'credited' %}
                    {{ credit.credited_at.date }}
                  {% elif credit.resolution == 'refunded' %}
                    {% trans 'Refunded' %}
                  {% else %}
                    {% trans 'No' %}
                  {% endif %}
                </strong>
                <p>—</p>

                {% labelled_data _('Crediting staff') credit.owner_name|default:'—' %}
                <br/>

                {% labelled_data _('NOMIS ID') credit.nomis_transaction_id|default:'—' %}
              </td>
            </tr>
          {% empty %}
            <tr class="no-border">
              <td colspan="6">{% trans 'No matching credits found' %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}
  {% endif %}

{% endblock %}
