{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block phase_banner %}
  {{ block.super }}
  {% include "security/forms/prison-switcher.html" %}
{% endblock %}

{% block content %}
<header>
  <h1 class="heading-xlarge">{{ view.title }}</h1>
</header>

{% notification_banners request %}

<p>
  {% trans 'Credits must be checked by security before cashiers can process them.' %}
  {% trans 'Please check the following credits, add any comments then select ‘Credits checked by security’.' %}
  {% trans 'Comments will be visible to business hub staff in the digital cashbook.' %}
</p>

{% if credits %}
  <form method="post" class="mtp-review js-ConfirmChecked js-FormAnalytics">
    {% csrf_token %}

    <div class="mtp-review__actions print-hidden">
      <button type="submit" name="submit" class="button" value="submit">{% trans 'Credits checked by security' %}</button>
      <a class="js-print-trigger js-FormAnalytics-click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print these credits' %}</a>
    </div>

    <div class="mtp-results-list">
      <table class="mtp-table table-font-xsmall">
        <caption class="visually-hidden">{% trans 'Please check the following credits' %}</caption>

        <thead>
          <tr>
            <th>{% trans 'Payment source' %}</th>
            <th>{% trans 'Prisoner' %}</th>
            <th class="numeric">{% trans 'Amount' %}</th>
            <th>{% trans 'Security comments' %}</th>
          </tr>
        </thead>

        <tbody>
          {% for credit in credits %}
            <tr>
              <td class="font-xsmall">
                <div class="font-small">
                  {% with known_sender=credit|credit_sender_identifiable %}
                    {% if known_sender %}
                      <a class="mtp-print-url-hidden" href="{{ credit|sender_profile_search_url }}">{{ credit.sender_name|default_if_none:'—' }}</a>
                    {% else %}
                      {% trans 'Sender details not recorded' %}
                    {% endif %}
                  {% endwith %}
                </div>
                {% if credit.source == 'online' %}
                  {{ credit.sender_email|default_if_none:'—' }}<br/>
                  {{ credit|format_card_number }} &nbsp; {{ credit.card_expiry_date|default_if_none:'' }}<br/>
                  {% trans 'Debit card payment' %}
                {% else %}
                  {{ credit.sender_account_number }} &nbsp; {{ credit.sender_sort_code|format_sort_code }}<br/>
                  {% trans 'Bank transfer' %}
                {% endif %}
              </td>
              <td class="font-xsmall">
                <div class="font-small"><a class="mtp-print-url-hidden" href="{{ credit|prisoner_profile_search_url }}">{{ credit.prisoner_number }}</a></div>
                {{ credit.prisoner_name|default_if_none:'—' }}
              </td>
              <td class="numeric">
                {{ credit.amount|currency }}
              </td>
              <td>
                {% random_string as comment_label %}
                <label class="visually-hidden" for="mtp-review__comment-{{ comment_label }}">
                  {% blocktrans trimmed with amount=credit.amount|currency prisoner_name=credit.prisoner_name|default_if_none:'—' %}
                    Add security comment for credit of {{ amount }} to {{ prisoner_name }}
                  {% endblocktrans %}
                </label>
                <textarea id="mtp-review__comment-{{ comment_label }}" class="form-control" rows="4" name="comment_{{ credit.id }}"></textarea>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div class="mtp-review__actions print-hidden">
      <button type="submit" name="submit" class="button" value="submit">{% trans 'Credits checked by security' %}</button>
    </div>

    {% dialoguebox html_id='confirm-checked' title=_('Have you checked these credits?') %}
      <p>{% trans 'These credits will be marked as checked in the digital cashbook.' %}</p>
      <p>{% trans 'You can view credits again in ‘Search all prison credits’.' %}</p>
      <br/>
      <button type="submit" class="button" value="override">
        {% trans 'Yes, all credits checked' %}
      </button>
      <button type="button" class="button-secondary {{ dialogue_close_class }}">
        {% trans 'No, continue checking' %}
      </button>
    {% enddialoguebox %}
  </form>

{% else %}

  <p><strong role="alert">{% trans 'No new credits for review.' %}</strong></p>

{% endif %}

{% endblock %}
