{% extends 'base.html' %}
{% load i18n %}

{% block inner_content %}
  <header class="ContentHeader">
    <a href="{% url 'security:dashboard' %}" class="ContentHeader-back">{% trans 'Home' %}</a>
    <h1 class="heading-xlarge">{{ view.title }}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}

  {{ view.intro_text }}
  <p class="panel panel-border-wide">{% trans 'All fields are optional.' %}</p>

  <form method="get" class="SearchFormWrapper">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <input type="hidden" name="page" value="1">

    {% include view.form_template_name with view=view form=form only %}

    <div class="form-group">
      <button type="submit" class="button">{% trans 'Search' %}</button>
    </div>
  </form>

{% endblock %}
