{% extends 'base.html' %}
{% load i18n %}

{% block inner_content %}

  <h1 class="heading-xlarge">{{ view.title }}</h1>

  {% include 'mtp_common/includes/message_box.html' %}
  {% include view.help_template_name %}

  <form method="get">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <input type="hidden" name="page" value="1">

    {% include view.form_template_name with view=view form=form standalone=True only %}

    <div class="form-group">
      <button type="submit" class="button">{% trans 'Search' %}</button>
    </div>
  </form>

{% endblock %}
