{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <p>{% trans "Home" %}</p>

  <ul class="SummaryBoxes">
    <li class="SummaryBoxes--variant-1">
      <a href="">
        <h2 class="SummaryBoxes--small-title">{% trans "Search by sender" %}</h2>
        <p>{% trans "1 sender" %}<br/>{% trans "many prisoners" %}</p>
      </a>
    </li>

    <li>
      <a href="">
        <h2 class="SummaryBoxes--small-title SummaryBoxes--wrapped">{% trans "Search by unknown sender" %}</h2>
        <p>{%trans "Anonymous senders" %}</p>
      </a>
    </li>

   <li class="SummaryBoxes--variant-2">
      <a href="">
        <h2 class="SummaryBoxes--small-title">{% trans "Search by prisoner" %}</h2>
        <p>{%trans "Many senders" %}<br/>{% trans "1 prisoner" %}</p>
      </a>
    </li>

   <li class="SummaryBoxes--variant-3">
      <a href="">
        <h2 class="SummaryBoxes--small-title">{% trans "Search by details" %}</h2>
        <p>{%trans "Search by patterns" %}</p>
      </a>
    </li>


  </ul>

{% endblock content %}
