<div id="{{ field.id_for_label }}-wrapper" class="form-group {% if field.errors %}error{% endif %}">
  {% include 'mtp_common/forms/field-label.html' with field=field only %}
  {% include 'mtp_common/forms/field-errors.html' with field=field only %}
  {% include 'mtp_common/forms/field-help-text.html' with field=field only %}

  {% with selected=field.value|default:field.field.initial %}
    <select id="{{ field.id_for_label }}" class="form-control" name="{{ field.html_name }}"{% if field.field.widget.allow_multiple_selected %} multiple="multiple"{% endif %}>
      {% for key, title in field.field.choices %}
        {% if field.field.widget.allow_multiple_selected %}
          <option value="{{ key }}" {% if key in selected %}selected{% endif %}>{{ title }}</option>
        {% else %}
          <option value="{{ key }}" {% if key == selected %}selected{% endif %}>{{ title }}</option>
        {% endif %}
      {% endfor %}
    </select>
  {% endwith %}
</div>
