{% extends 'security/grouped-results.html' %}
{% load i18n %}
{% load security %}

{% block group_title %}
  {% trans 'Sender' %}:
  {{ group.sender_name }}
  {{ group.sender_sort_code|format_sort_code }}
  {{ group.sender_account_number }}
  {% if group.sender_roll_number %}
    / {{ group.sender_roll_number }}
  {% endif %}

  <span>{% trans 'Total' %}: £{{ group.credit_total|currency }}</span>
{% endblock %}

{% block group_header_row %}
  <th>{% trans 'Prisoner number' %}</th>
  <th>{% trans 'Prisoner name' %}</th>
  <th>{% trans 'Prison' %}</th>
  <th>{% trans 'No. of payments' %}</th>
  <th>{% trans 'Total value (£)' %}</th>
  <th>{% trans 'Details' %}</th>
{% endblock %}

{% block group_results %}
  {% for prisoner in group.prisoners %}
    <tr>
      {% if not prisoner.prisoner_number %}
        <td colspan="3">{% trans 'Unknown prisoner, refunded' %}</td>
      {% else %}
        <td>{{ prisoner.prisoner_number }}</td>
        <td>{{ prisoner.prisoner_name }}</td>
        <td>{{ prisoner.prison_name }}</td>
      {% endif %}
      <td>{{ prisoner.credit_count }}</td>
      <td>{{ prisoner.credit_total|currency }}</td>
      <td><a href="{% get_credits_list_url view form group prisoner %}&amp;back={% serialise_back_url request %}">{% trans 'View' %}</a></td>
    </tr>
  {% endfor %}
{% endblock %}
