{% extends 'security/base_advanced_search.html' %}
{% load i18n %}

{% block advanced_search_fields %}
  <div class="heading-large">{% trans 'Payment source details' %}</div>
  <p>
    {% trans 'Name, email and postcode are supplied by the sender when they make a debit card payment.' %}
    {% trans 'They are not validated.' %}
  </p>
  <p>{% trans 'When the sender makes a bank transfer, the bank supplies the name on the bank account.' %}</p>
  {% include 'mtp_common/forms/field.html' with field=form.sender_name %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_email %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_postcode %}

  <div class="heading-large">{% trans 'Payment method' %}</div>
  {% include 'security/forms/payment-method-fieldset.html' %}

  {% include 'security/forms/prison-selector-fieldset.html' %}
{% endblock advanced_search_fields %}
