{% extends 'security/grouped.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block group_title %}
  {% trans 'Sender' %}:
  <strong>{{ group.sender_name|default:_('Unknown sender name') }}</strong>
  <span class="GroupedResults-sender-details CollapsingTableHeader-aside CollapsingTableHeader-aside-right">
    {% stripwhitespace %}
      {{ group.sender_sort_code|format_sort_code }}
      {% if group.sender_account_number %}
        <br>
        {% if group.sender_roll_number %}
          <small>
            {{ group.sender_account_number }}/{{ group.sender_roll_number }}
          </small>
        {% else %}
          {{ group.sender_account_number }}
        {% endif %}
      {% endif %}
    {% endstripwhitespace %}
  </span>
{% endblock %}

{% block group_header_row %}
  <th colspan="2">{% trans 'Prisoner' %}</th>
  <th>{% trans 'Prison' %}</th>
  <th>{% trans 'No. of payments' %}</th>
  <th>{% trans 'Total sent (£)' %}</th>
  <th>{% trans 'Details' %}</th>
{% endblock %}

{% block group_results %}
  {% for prisoner in group.prisoners %}
    <tr {% if not forloop.counter|divisibleby:2 %}class="odd"{% endif %}>
      {% if not prisoner.prisoner_number %}
        <td colspan="3">{% trans 'Unknown prisoners, refunded' %}</td>
      {% else %}
        <td>{{ prisoner.prisoner_number }}</td>
        <td>{{ prisoner.prisoner_name }}</td>
        <td>{{ prisoner.prison_name }}</td>
      {% endif %}
      <td>{{ prisoner.credit_count }}</td>
      <td>{{ prisoner.credit_total|currency }}</td>
      <td>
        <a href="{% get_credits_list_url view form group prisoner %}&amp;return_to={% serialise_back_url request %}"
           class="CreditDetailLink print-hidden"
           data-show-title="{% trans 'Show' %}"
           data-hide-title="{% trans 'Hide' %}"
           data-loading-title="{% trans 'Loading…' %}">
          {% trans 'Show' %}
        </a>
      </td>
    </tr>
  {% endfor %}

  <tr {% if group.prisoners|length|divisibleby:2 %}class="odd"{% endif %}>
    <td colspan="3"><span title="{% trans 'Excludes payments that could not be credited to a prisoner' %}">{% trans 'Total credits' %}</span></td>
    <td>{{ group.credit_count }}</td>
    <td colspan="2">{{ group.credit_total|currency }}</td>
  </tr>
{% endblock %}
