{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block phase_banner %}
  {{ block.super }}
  {% include "security/forms/prison-switcher.html" %}
{% endblock %}

{% comment %}TODO: Move body_classes block to base.html when search V2 goes live to make all the existing pages consistent.{% endcomment %}
{% block body_classes %}{{ block.super }} mtp-with-spaced-header{% endblock body_classes %}

{% block inner_content %}
  <form id="filter-senders" class="mtp-security-search js-FormAnalytics" method="get">

    <div class="grid-row">
        <div class="column-two-thirds">
          {% include 'security/forms/top-area-object-list.html' %}
        </div>

        <div class="column-one-third print-hidden">
          <div class="mtp-info-box">
            <div class="mtp-info-box__heading">
              {% trans 'About payment source data' %}
            </div>
            <p>
              {% trans 'One person using many cards displays as many payment sources.' %}
            </p>
            <p>
              {% trans "We can’t check names match their cards, we can’t match people by name to different cards and we can’t check if email addresses are real." %}
            </p>
          </div>
        </div>
    </div>

    {% if form.is_valid and senders %}
      <div class="mtp-results-list-v2">
        <div class="print-hidden mtp-links--no-panel">
          <a class="js-print-trigger js-FormAnalytics-click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print' %}</a>
          &nbsp;
          {% url 'security:senders_export' as export_view %}
          {% url 'security:senders_email_export' as email_export_view %}
          {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many payment sources to download.') %}
        </div>

        <table class="mtp-table table-font-xsmall">
          <caption class="visually-hidden">{{ form.search_description.description }}</caption>
          <thead>
            <tr>
              <th>{% trans 'Payment source' %}</th>
              <th>{% trans 'Payment method' %}</th>
              {% sortable_cell _('Number of credits sent') form.cleaned_data 'credit_count' cell_classes='numeric' %}
              {% sortable_cell _('Prisoners sent to') form.cleaned_data 'prisoner_count' cell_classes='numeric' %}
              {% sortable_cell _('Number of prisons sent to') form.cleaned_data 'prison_count' cell_classes='numeric' %}
              {% sortable_cell _('Total amount sent') form.cleaned_data 'credit_total' cell_classes='numeric' %}
              <th class="numeric print-hidden">{% trans 'Action' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for sender in senders %}
              {% with known_sender=sender|sender_identifiable %}
                {% if known_sender %}
                  <tr>
                    <td>
                      {% if sender.bank_transfer_details %}
                        {{ sender.bank_transfer_details.0.sender_name|default:'—' }}
                        <br/>
                        {% trans 'Email not provided' %}
                      {% elif sender.debit_card_details %}
                        {{ sender.debit_card_details.0.cardholder_names.0|default:'—' }}
                        {% comment %}TODO show when there are multiple cardholder names{% endcomment %}
                        <br/>

                        {% if sender.debit_card_details.0.sender_emails %}
                          {{ sender.debit_card_details.0.sender_emails.0 }}
                          {% comment %}TODO show when there are multiple emails{% endcomment %}
                        {% else %}
                          {% trans 'Email not provided' %}
                        {% endif %}

                      {% else %}
                        —
                      {% endif %}
                    </td>
                    <td>
                    {% if sender.bank_transfer_details %}
                      {% trans 'Bank transfer' %}
                    {% elif sender.debit_card_details %}
                      {% trans 'Debit card' %}
                    {% else %}
                      -
                    {% endif %}
                    </td>
                    <td class="numeric">
                      <span class="mtp-sortable-cell--pad">
                        {{ sender.credit_count }}
                      </span>
                    </td>
                    <td class="numeric">
                      <span class="mtp-sortable-cell--pad">
                        {{ sender.prisoner_count }}
                      </span>
                    </td>
                    <td class="numeric">
                      <span class="mtp-sortable-cell--pad">
                        {{ sender.prison_count }}
                      </span>
                    </td>
                    <td class="numeric">
                      <span class="mtp-sortable-cell--pad">
                        {{ sender.credit_total|currency }}
                      </span>
                    </td>
                    <td class="numeric print-hidden">
                      <a href="{% url 'security:sender_detail' sender.id %}" title="{% trans 'View payment source details' %}">
                        {% trans 'View details' %}
                      </a>
                    </td>
                  </tr>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="mtp-page-list__container">
        {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

        <p class="mtp-page-list__count">
          {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
            {{ number }} payment source
          {% plural %}
            {{ number }} payment sources
          {% endblocktrans %}
        </p>
      </div>
    {% endif %}

  </form>

{% endblock %}
