{% extends 'security/grouped.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block group_title %}
<caption class="CollapsingTableHeader sender-header" data-collapse-text="{% trans 'Collapse' %}" data-expand-text="{% trans 'Expand' %}">
  {% trans 'From:' %}
  <strong>{{ group.sender_name|default:_('Unknown sender name') }}</strong><br/>
  <span class="CollapsingTableHeader-below">
    {{ group.sender_sort_code|format_sort_code }}
    {% if group.sender_account_number %}
      /
      {% if group.sender_roll_number %}
        <small>
          {{ group.sender_account_number }} / {{ group.sender_roll_number }}
        </small>
      {% else %}
        {{ group.sender_account_number }}
      {% endif %}
    {% endif %}
  </span>
  <span class="GroupedResults-sender-details CollapsingTableHeader-aside CollapsingTableHeader-aside-right">
    {% trans 'Credits:' %} {{ group.credit_count }}<br/>
    {% trans 'Prisoners:' %} {{ group.prisoner_count }}<br/>
    {% trans 'Total:' %} £{{ group.credit_total|currency }}
  </span>
</caption>
{% endblock %}

{% block group_header_row %}
  <th colspan="2">{% trans 'Prisoner' %}</th>
  <th>{% trans 'Current Prison' %}</th>
  <th>{% trans 'No. of payments' %}</th>
  <th>{% trans 'Total sent (£)' %}</th>
  <th class="print-hidden">{% trans 'Details' %}</th>
{% endblock %}

{% block group_results %}
  {% with prisoners=group.prisoners|clean_dict_values:'prisoner_name' %}
    {% for prisoner in prisoners|dictsort:'prisoner_name' %}
      <tr>
        {% if not prisoner.prisoner_number %}
          <td colspan="3">{% trans 'Cannot be credited' %}</td>
        {% else %}
          <td>{{ prisoner.prisoner_number }}</td>
          <td>{{ prisoner.prisoner_name }}</td>
          <td>{{ prisoner.current_prison_name }}</td>
        {% endif %}
        <td>{{ prisoner.credit_count }}</td>
        <td>{{ prisoner.credit_total|currency }}</td>
        <td class="print-hidden">
          <a href="{% get_credits_list_url view form group prisoner %}&amp;return_to={% serialise_back_url request %}"
             class="CreditDetailLink"
             aria-expanded="false"
             data-ajax-url="{% get_credits_list_url view form group prisoner %}&amp;ajax=1"
             data-show-title="{% trans 'Show' %}"
             data-hide-title="{% trans 'Hide' %}"
             data-loading-title="{% trans 'Loading…' %}">
            {% trans 'Show' %}
          </a>
        </td>
      </tr>
    {% endfor %}
  {% endwith %}
{% endblock %}
