{% load i18n %}

{% include 'mtp_common/forms/field.html' with field=form.prisoner_count_0 %}
{% include 'mtp_common/forms/field.html' with field=form.sender_name %}
{% include 'mtp_common/forms/field.html' with field=form.sender_sort_code %}
{% include 'mtp_common/forms/field.html' with field=form.sender_account_number %}

{% include 'mtp_common/forms/field.html' with field=form.credit_total_0 %}
{% include 'mtp_common/forms/field.html' with field=form.credit_total_1 %}

{% include 'mtp_common/forms/field.html' with field=form.received_at_0 %}
{% include 'mtp_common/forms/field.html' with field=form.received_at_1 %}
