{% extends 'security/grouped-credits-ajax.html' %}
{% load i18n %}
{% load security %}

{% block credit_group_title %}
  {% credit_group_title_for_sender as credit_group_title %}
  {{ credit_group_title|default:_('Unknown sender') }}
{% endblock %}

{% block group_title %}
  {% trans 'Sent to' %}:
  <strong>
    {{ request.GET.prisoner_name|default:_('Cannot be credited') }}
    {% if request.GET.prisoner_number %}
      ({{ request.GET.prisoner_number }})
    {% endif %}
  </strong>
{% endblock %}
