{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <div class="mtp-sender-summary {% if sender.bank_transfer_details %}mtp-sender-summary__bank-transfer{% elif sender.debit_card_details %}mtp-sender-summary__debit-card{% endif %}">
    <header>
      <h1 class="heading-xlarge mtp-unpadded-heading">{{ view.title }}</h1>
    </header>

    {% if sender.bank_transfer_details %}
      <p class="lede">
        {% trans 'Bank transfer payments with these details' %}
      </p>

      <div class="grid-row mtp-sender-summary__details">
        <div class="column-one-third">
          {% labelled_data _('Account number') sender.bank_transfer_details.0.sender_account_number|default:'—' tag='strong' %}
        </div>

        <div class="column-one-third">
          {% labelled_data _('Sort code') sender.bank_transfer_details.0.sender_sort_code|format_sort_code tag='strong' %}
        </div>

        {% if sender.bank_transfer_details.0.sender_roll_number %}
          <div class="column-one-third">
            {% labelled_data _('Roll number (for building societies)') sender.bank_transfer_details.0.sender_roll_number tag='strong' %}
          </div>
        {% endif %}
      </div>

    {% elif sender.debit_card_details %}
      <p class="lede">
        {% trans 'Debit card payments with these details' %}
        &nbsp;
        <a href="#grouping-info-dialogue" class="mtp-grouping-info js-dialogue-open">{% trans 'How are these grouped?' %}</a>
      </p>

      <div class="grid-row mtp-sender-summary__details">
        <div class="column-one-third">
          {% labelled_data _('Last 4 digits of card number') sender.debit_card_details.0.card_number_last_digits|format_card_number tag='strong' %}
        </div>

        <div class="column-one-quarter">
          {% labelled_data _('Expiry date') sender.debit_card_details.0.card_expiry_date|default_if_none:'—' tag='strong' %}
        </div>

        <div class="column-one-quarter">
          {% labelled_data _('Postcode') sender.debit_card_details.0.postcode|default_if_none:'—' tag='strong' %}
        </div>
      </div>

    {% else %}

      <p>—</p>

    {% endif %}

    <div class="grid-row mtp-sender-summary__details">
      <div class="column-two-thirds">
        <div class="column-one-third col-1">
          {% labelled_data _('Credits sent') sender.credit_count tag='strong' %}
        </div>

        <div class="column-one-third">
          {% labelled_data _('Prisoners') sender.prisoner_count tag='strong' %}
        </div>

        <div class="column-one-third">
          {% labelled_data _('Prisons') sender.prison_count tag='strong' %}
        </div>
      </div>

      <div class="column-one-third">
        {% labelled_data _('Total amount sent') sender.credit_total|currency tag='strong' %}
      </div>
    </div>

    {% include 'security/includes/save-search.html' with form=form pin_label=_('Monitor this sender on your home page') unpin_label=_('Stop monitoring this sender') only %}
  </div>

  <form class="js-FormAnalytics" method="get">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {% if form.is_valid %}
      <div class="mtp-results-list">
        <h2 class="heading-large">{% trans 'Credits sent' %}</h2>

        <div class="panel panel-border-narrow">
          <p class="mtp-search-description__text">
            {{ form.search_description.description }}
            {% trans 'You can’t see credits received by post.' %}
          </p>

          <div class="print-hidden mtp-links">
            <a class="js-print-trigger js-FormAnalytics-click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print' %}</a>
            &nbsp;
            {% url 'security:sender_detail_export' sender_id=sender.id as export_view %}
            {% url 'security:sender_detail_email_export' sender_id=sender.id as email_export_view %}
            {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many credits to download.') %}
          </div>
        </div>

        <table class="mtp-table">
          <caption class="visually-hidden">{{ form.search_description.description }}</caption>
          <thead>
            <tr>
              {% include 'security/includes/credit-header-row.html' with link_prisoner=True %}
            </tr>
          </thead>
          <tbody>
            {% for credit in credits %}
              <tr>
                {% include 'security/includes/credit-row.html' with link_prisoner=True %}
              </tr>
            {% empty %}
              <tr>
                <td colspan="7">{% trans 'No matching credits found' %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}
    {% endif %}
  </form>

  {% dialoguebox html_id='grouping-info-dialogue' title=_('How these credits are grouped') html_classes="mtp-grouping-info-dialogue" %}
    <p>
      {% trans 'We group the payment sources by the debit card’s last 4 digits, expiry date and postcode.' %}
      {% trans 'We do this because card industry compliance doesn’t allow using the full card number as a unique ID.' %}
    </p>
    <p>
      {% trans 'In almost all cases, this results in one specific card and cardholder.' %}
      {% trans 'But, for the avoidance of doubt, we’ve listed details for each transaction below.' %}
    </p>
    <div class="mtp-grouping-info-dialogue__button">
      <button type="button" class="button {{ dialogue_close_class }}">{% trans 'OK' %}</button>
    </div>
  {% enddialoguebox %}

{% endblock %}
