{% load i18n %}

<div class="mtp-security-form grid-row">
  <div class="column-one-third">
    {% include 'mtp_common/forms/select-field.html' with field=form.source %}
    {% include 'mtp_common/forms/field.html' with field=form.sender_name %}
  </div>
  <div class="column-two-thirds">
    {% include 'mtp_common/forms/field.html' with field=form.sender_account_number %}
    {% include 'mtp_common/forms/field.html' with field=form.sender_sort_code %}
  </div>
  <div class="column-two-thirds">
    {% include 'mtp_common/forms/field.html' with field=form.card_number_last_digits %}
  </div>
  <div class="column-full">
    {% include 'security/update-search.html' %}
  </div>
</div>
