{% load i18n %}

<div class="mtp-security-form">
  {% include 'mtp_common/forms/field.html' with field=form.prisoner_count__gte %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_name %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_sort_code %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_account_number %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_roll_number %}

  {% include 'security/total-range-fields.html' %}

  {% if standalone %}{{ form.ordering.as_hidden }}{% endif %}

  <div class="form-group">
    <button type="submit" class="button">{% trans 'Search' %}</button>
  </div>
</div>
