{% extends 'security/base_advanced_search.html' %}
{% load i18n %}

{% block advanced_search_fields %}
  <div class="heading-large">{% trans 'Payment source details' %}</div>
  <p>{% trans 'Name, email and postcode are supplied by the payment source when they make a debit card payment. They are not validated.' %}
  <p>{% trans 'When the payment source makes a bank transfer, the bank supplies the name on the bank account.' %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_name %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_email %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_postcode %}

  <div class="heading-large">{% trans 'Payment methods' %}</div>

  <div class="heading-medium">{% trans 'Debit card' %}</div>
  {% include 'mtp_common/forms/field.html' with field=form.card_number_last_digits %}

  <div class="heading-medium">{% trans 'Bank transfer' %}</div>
  {% include 'mtp_common/forms/field.html' with field=form.sender_account_number %}
  {% include 'mtp_common/forms/field.html' with field=form.sender_sort_code %}

  {% include 'security/forms/prison-selector-fieldset.html' %}
{% endblock advanced_search_fields %}
