{% extends 'base.html' %}
{% comment %}TODO: delete after search V2 goes live.{% endcomment %}

{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}


{% block inner_content %}

  <header>
    <h1 class="heading-xlarge mtp-unpadded-heading">{{ view.title }}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}

  <form id="filter-senders" class="mtp-security-search js-FormAnalytics" method="get">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <p class="mtp-search-description">
      {{ form.search_description.description }}
    </p>

    <div class="print-hidden">
      {% include view.form_template_name with view=view form=form request=request object_name=_('payment sources') only %}
    </div>

    {% if form.is_valid %}
      <div class="mtp-results-list">
        <div class="print-hidden mtp-links--no-panel">
          <a class="js-print-trigger js-FormAnalytics-click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print' %}</a>
          &nbsp;
          {% url 'security:senders_export' as export_view %}
          {% url 'security:senders_email_export' as email_export_view %}
          {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many payment sources to download.') %}
        </div>

        <table class="mtp-table">
          <caption class="visually-hidden">{{ form.search_description.description }}</caption>
          <thead>
            <tr>
              <th>{% trans 'Payment source' %}</th>
              {% sortable_cell _('Sent') form.cleaned_data 'credit_count' %}
              {% sortable_cell _('Prisoners') form.cleaned_data 'prisoner_count' %}
              {% sortable_cell _('Prisons') form.cleaned_data 'prison_count' %}
              {% sortable_cell _('Amount') form.cleaned_data 'credit_total' cell_classes='numeric' %}
            </tr>
          </thead>
          <tbody>
            {% for sender in senders %}
              {% with known_sender=sender|sender_identifiable %}
                {% if known_sender %}
                  <tr>
                    <td>
                      {% if sender.bank_transfer_details %}
                        <a href="{% url 'security:sender_detail' sender.id %}" title="{% trans 'View payment source details' %}" class="mtp-print-url-hidden">
                          {{ sender.bank_transfer_details.0.sender_name|default:'—' }}
                        </a>
                        <br />
                        {% trans 'by bank transfer' %}
                      {% elif sender.debit_card_details %}
                        <a href="{% url 'security:sender_detail' sender.id %}" title="{% trans 'View payment source details' %}" class="mtp-print-url-hidden">
                          {{ sender.debit_card_details.0.cardholder_names.0|default:'—' }}
                        </a>
                        <br />
                        {% trans 'by debit card' %}
                      {% else %}
                        —
                      {% endif %}
                    </td>
                    <td>
                      {% blocktrans trimmed count count=sender.credit_count %}
                        {{ count }} credit sent
                      {% plural %}
                        {{ count }} credits sent
                      {% endblocktrans %}
                    </td>
                    <td>
                      {% blocktrans trimmed count count=sender.prisoner_count %}
                        {{ count }} prisoner
                      {% plural %}
                        {{ count }} prisoners
                      {% endblocktrans %}
                    </td>
                    <td>
                      {% blocktrans trimmed count count=sender.prison_count %}
                        {{ count }} prison
                      {% plural %}
                        {{ count }} prisons
                      {% endblocktrans %}
                    </td>
                    <td class="numeric">
                      <span class="mtp-sortable-cell--pad">
                        {{ sender.credit_total|currency }}
                      </span>
                    </td>
                  </tr>
                {% endif %}
              {% endwith %}
            {% empty %}
              <tr>
                <td colspan="5">{% trans 'No matching payment sources found' %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="mtp-page-list__container">
        {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

        <p class="mtp-page-list__count">
          {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
            {{ number }} payment source
          {% plural %}
            {{ number }} payment sources
          {% endblocktrans %}
        </p>
      </div>
    {% endif %}

  </form>

{% endblock %}
