{% extends 'security/base_search_results.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block inner_content %}
  <form id="simple-search-{{ view.object_name_plural|slugify }}" class="mtp-security-search js-FormAnalytics" method="get">

    <div class="grid-row">
        <div class="column-two-thirds">
          {% include 'security/forms/top-area-object-list.html' %}

          {% if not is_search_results %}
          <a href="{% url 'security:sender_advanced_search' %}">{% trans 'Advanced search' %}</a>
          {% endif %}
        </div>

        <div class="column-one-third print-hidden">
          <div class="mtp-info-box">
            <div class="mtp-info-box__heading">
              {% trans 'About payment source data' %}
            </div>
            <p>
              {% trans 'One sender using many cards displays as many payment sources.' %}
            </p>
            <p>
              {% trans "We can’t check names match their cards, we can’t match senders by name to different cards and we can’t check if email addresses are real." %}
            </p>
          </div>
        </div>
    </div>

    {% if form.is_valid and senders %}{% setup_highlight %}
      <div class="mtp-results-list">
        <div class="print-hidden mtp-links--no-panel">
          <a class="js-print-trigger js-FormAnalytics-click" href="#print-dialog" data-click-track="print-{{ view.get_class_name }},{{ view.get_used_request_params|join:'&' }}">{% trans 'Print' %}</a>
          &nbsp;
          {% url 'security:sender_export' as export_view %}
          {% url 'security:sender_email_export' as email_export_view %}
          {% include 'security/includes/export-dialogue.html' with export_message=_('There are too many payment sources to download.') %}
        </div>

        <table class="mtp-table table-font-xsmall">
          <caption class="visually-hidden">{{ form.search_description.description }}</caption>
          <thead>
            <tr>
              <th>{% trans 'Payment source' %}</th>
              <th>{% trans 'Payment method' %}</th>
              {% sortable_cell _('Number of credits sent') form.cleaned_data 'credit_count' cell_classes='numeric' %}
              {% sortable_cell _('Prisoners sent to') form.cleaned_data 'prisoner_count' cell_classes='numeric' %}
              {% if is_advanced_search_results or is_all_prisons_simple_search_results %}
              <th>{% trans 'Prisons sent to' %}</th>
              {% else %}
              {% sortable_cell _('Number of prisons sent to') form.cleaned_data 'prison_count' cell_classes='numeric' %}
              {% endif %}
              {% sortable_cell _('Total amount sent') form.cleaned_data 'credit_total' cell_classes='numeric' %}
              <th class="numeric print-hidden">{% trans 'Details' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for sender in senders %}
              {% with known_sender=sender|sender_identifiable %}
                {% if known_sender %}
                  <tr>
                    <td>
                      {% if sender.bank_transfer_details %}
                        {% search_highlight sender.bank_transfer_details.0.sender_name default='—' %}
                        <br/>
                        {% trans 'Email not provided' %}
                      {% elif sender.debit_card_details %}

                        {% extract_best_match sender.debit_card_details.0.cardholder_names as match %}
                        {% search_highlight match.item default='-' %}

                        {% if match.total_remaining %}
                          <br/>
                          {% blocktrans trimmed count total_remaining=match.total_remaining %}
                            and {{ total_remaining }} more name
                          {% plural %}
                            and {{ total_remaining }} more names
                          {% endblocktrans %}
                        {% endif %}

                        <br/>

                        {% extract_best_match sender.debit_card_details.0.sender_emails as match %}
                        {% search_highlight match.item default=_('Email not provided') %}

                        {% if match.total_remaining %}
                          <br/>
                          {% blocktrans trimmed count total_remaining=match.total_remaining %}
                            and {{ total_remaining }} more email address
                          {% plural %}
                            and {{ total_remaining }} more email addresses
                          {% endblocktrans %}
                        {% endif %}

                      {% else %}
                        —
                      {% endif %}
                    </td>
                    <td>
                    {% if sender.bank_transfer_details %}
                      {% trans 'Bank transfer' %}
                    {% elif sender.debit_card_details %}
                      {% trans 'Debit card' %}
                    {% else %}
                      -
                    {% endif %}
                    </td>
                    <td class="numeric">
                      <span class="mtp-sortable-cell--pad">
                        {{ sender.credit_count }}
                      </span>
                    </td>
                    <td class="numeric">
                      <span class="mtp-sortable-cell--pad">
                        {{ sender.prisoner_count }}
                      </span>
                    </td>
                    {% if is_advanced_search_results or is_all_prisons_simple_search_results %}
                      {% get_split_prison_names sender.prisons 2 as split_prison_names %}
                    <td>
                      {{ split_prison_names.prison_names }}

                      {% if split_prison_names.total_remaining %}
                        {% blocktrans trimmed with total_remaining=split_prison_names.total_remaining %}
                          and {{ total_remaining }} more
                        {% endblocktrans %}
                      {% endif %}
                    </td>
                    {% else %}
                    <td class="numeric">
                      <span class="mtp-sortable-cell--pad">
                        {{ sender.prison_count }}
                      </span>
                    </td>
                    {% endif %}
                    <td class="numeric">
                      <span class="mtp-sortable-cell--pad">
                        {{ sender.credit_total|currency }}
                      </span>
                    </td>
                    <td class="numeric print-hidden">
                      <a href="{% url 'security:sender_detail' sender.id %}" title="{% trans 'View payment source details' %}">
                        {% trans 'View details' %}
                      </a>
                    </td>
                  </tr>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="mtp-page-list__container">
        {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

        <p class="mtp-page-list__count">
          {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
            {{ number }} payment source
          {% plural %}
            {{ number }} payment sources
          {% endblocktrans %}
        </p>
      </div>
    {% endif %}

  {% if is_search_results %}
    <p>
    {% with search_form_item=breadcrumbs|slice:":-1"|last %}
      <a href="{{ search_form_item.url }}" class="button print-hidden">{% trans 'Start new search' %}</a>
    {% endwith%}
    </p>

    {% if all_prisons_simple_search_link %}
    <p>
      <a href="{{ all_prisons_simple_search_link }}" class="print-hidden js-FormAnalytics-click" data-click-track="all-prisons-simple-search,senders">
        {% trans 'See results from all prisons' %}
      </a>
    </p>
    {% endif %}
  {% endif %}
  </form>

{% endblock %}
