{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block proposition_extra %}
  {% if can_navigate_away %}
    {{ block.super }}
  {% else %}
    <nav id="mtp-proposition-extra" class="govuk-grid-column-full govuk-!-display-none-print"></nav>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if prison_choice_available %}
        <header>
          <h1 class="govuk-heading-xl">{{ view.title }}</h1>
        </header>

        <form method="post" class="mtp-confirm-prison">
          {% csrf_token %}

          {% include 'govuk-frontend/components/error-summary.html' %}

          {% if form.all_prisons_code in form.prisons.initial %}
            <div class="mtp-info-box">
              <div class="mtp-info-box__heading">{% trans 'The data you see will be more useful if you confirm prisons relevant to you' %}</div>
              <br/>
              <div>
                {% trans 'If you’re happy with ‘All prisons’, click ‘Confirm prisons’.' %}
              </div>
                <br/>
              <div>
                {% trans 'If not, click ‘Add or remove prisons’.' %}
              </div>
            </div>
          {% endif %}

          <div class="mtp-prison-list">
            {% for prison, label in form.selected_prisons %}
              <div class="mtp-prison-row">
                <strong>{{ label }}</strong>
              </div>
            {% endfor %}
          </div>

          <span class="hidden">
            {{ form.prisons }}
          </span>
          <div class="form-group">
            <button type="submit" name="submit_confirm" class="govuk-button" data-module="govuk-button" data-current-prisons="{{ current_prisons }}">
              {% trans 'Confirm prisons' %}
            </button>
          </div>
        </form>

        <div>
          <a class="govuk-link--no-visited-state" href="{% url 'confirm_prisons_add_remove' %}?{{ change_prison_query }}">
            {% trans 'Add or remove prisons ' %}
          </a>
        </div>

      {% else %}

        <header>
          <h1 class="govuk-heading-l">{% trans 'You cannot choose your prisons at this time' %}</h1>
        </header>

      {% endif %}

    </div>
  </div>
{% endblock %}
