{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <strong class="bold-xlarge">
          {% trans 'Your prisons have been saved' %}
        </strong>
      </div>
      <h3 class="govuk-heading-m">
        {% trans 'You have chosen:' %}
      </h3>
      <ul class="list list-bullet">
        {% if prisons %}
          {% for prison in prisons %}
            <li>{{ prison.name }}</li>
          {% endfor %}
        {% else %}
          <li>{% trans 'All prisons' %}</li>
        {% endif %}
      </ul>
      <p>
        {% url 'confirm_prisons' as link %}
        {% blocktrans trimmed %}
          Go back and <a href="{{ link }}">change this</a> or edit it on your settings page at any time.
        {% endblocktrans %}
      </p>
      <a href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'security:dashboard' %}{% endif %}" class="button">
        {% trans 'Continue' %}
      </a>
    </div>
  </div>
{% endblock %}
