{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block proposition_extra %}
  {% if can_navigate_away %}
    {{ block.super }}
  {% else %}
    <nav id="mtp-proposition-extra" class="govuk-grid-column-full govuk-!-display-none-print"></nav>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if prison_choice_available %}
        <header>
          <h1 class="govuk-heading-xl">{{ view.title }}</h1>
        </header>

        <form method="post" class="mtp-autocomplete mtp-choose-prison">
          {% csrf_token %}

          {% include 'govuk-frontend/components/error-summary.html' %}

          <div class="mtp-prison-selection">
            {% for field in form %}
              {% if field.name == 'all_prisons' %}
                <span class="hidden">{{ form.all_prisons }}</span>
              {% elif field.name == 'template_prison_selection' %}
              {% elif not form.all_prisons.value  %}
                <div class="mtp-prison-selection-row" id="row_{{ field.name }}">
                  <div class="mtp-prison-selection-row__prison">
                    {% include 'mtp_common/forms/select-field.html' with field=field  input_classes='mtp-autocomplete mtp-choose-prison-select' attrs=data_attrs only %}
                  </div>
                  <div class="mtp-prison-selection-row__remove">
                    <input class="mtp-link-submit" type="submit" name="submit_remove_{{ field.name }}" value="{% trans 'Remove' %}"/>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {% if form.all_prisons.value %}
              <div class="mtp-info-box">
                <div class="mtp-info-box__heading">{% trans 'The data you see will be more useful if you confirm prisons relevant to you' %}</div>
                <br/>
                <div>
                  {% trans 'If you’re happy with ‘All prisons’, click ‘Save’.' %}
                </div>
                <br/>
                <div>
                  {% trans 'If not, ‘Remove’ and add the prisons you need.' %}
                </div>
              </div>
              <div class="mtp-prison-list">
                <div class="mtp-prison-row">
                  <div class="mtp-prison-row__prison">
                    <strong>{% trans 'All prisons' %}</strong>
                  </div>
                  <div class="mtp-prison-row__remove">
                    <input class="mtp-link-submit" type="submit" data-analytics="event,PrisonConfirmation,Remove,{{ form.all_prisons_code }}" name="submit_notall" value="{% trans 'Remove' %}"/>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>

          {% if not form.all_prisons.value %}
            <p>
              <input class="mtp-link-submit" type="submit" name="submit_add" value="{% trans 'Add another prison' %}" data-analytics="event,PrisonConfirmation,Add,"/>
            </p>
            <p>{% trans 'Or' %}</p>
            <p>
              <input class="mtp-link-submit" type="submit" name="submit_all" value="{% trans 'Add all prisons' %}" data-analytics="event,PrisonConfirmation,Add,{{ form.all_prisons_code }}"/>
            </p>
          {% endif %}

          <div class="form-group">
            <button type="submit" name="submit_save" class="govuk-button" data-module="govuk-button">
              {% trans 'Save' %}
            </button>
          </div>
        </form>

      {% else %}

        <header>
          <h1 class="govuk-heading-l">{% trans 'You cannot choose your prisons at this time' %}</h1>
        </header>

      {% endif %}

    </div>
  </div>
{% endblock %}


{% block body_end %}
  {{ block.super }}
  <div id="prison-field-template" class="hidden">
    {% with field=form.template_prison_selection %}
      <div class="mtp-prison-selection-row" id="row_{{ field.name }}">
        <div class="mtp-prison-selection-row__prison">
          {% include 'mtp_common/forms/select-field.html' with field=field input_classes='mtp-autocomplete mtp-choose-prison-select' attrs=data_attrs only %}
        </div>
        <div class="mtp-prison-selection-row__remove">
          <input class="mtp-link-submit" type="submit" name="submit_remove_{{ field.name }}" value="{% trans 'Remove' %}"/>
        </div>
      </div>
    {% endwith %}
  </div>
{% endblock %}
