{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}
  {{ view.title }}
  –
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">{{ view.title }}</h1>
      </header>

      {% notification_banners request %}

      <form method="post">
        {% csrf_token %}

        {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

        {% include 'security/forms/job-title-fieldset.html' with field=form.job_title choices_with_conditional_fields='Other' %}
        {% include 'mtp_common/forms/radio-field.html' with field=form.prison_estate label_classes='govuk-fieldset__legend--l' only %}
        {% include 'mtp_common/forms/textarea.html' with field=form.tasks label_classes='govuk-label--l' only %}

        <button type="submit" class="govuk-button" data-module="govuk-button">
          {% trans 'Continue' %}
        </button>
      </form>

    </div>
  </div>

{% endblock %}
