{% extends 'mtp_common/settings.html' %}
{% load i18n %}

{% block extra_settings %}
  {% if request.can_access_notifications %}
    <div class="mtp-settings-item">
      <form method="post">
        {% csrf_token %}
        {% if email_notifications %}
          <h2 class="heading-large">
            {% trans 'Email notifications on' %}
          </h2>
          <p>
            {% trans 'You’re currently receiving email notifications every Monday.' %}
          </p>
          <input type="submit" class="button" name="submit_email_preferences" value="{% trans 'Turn off email notifications' %}"/>
        {% else %}
          <h2 class="heading-large">
            {% trans 'Email notifications off' %}
          </h2>
          <p>
            {% trans 'You’re not currently receiving email notifications.' %}
          </p>
          <input type="hidden" name="toggle" value="True" />
          <input type="submit" class="button" name="submit_email_preferences" value="{% trans 'Turn on email notifications' %}"/>
        {% endif %}
      </form>
    </div>
  {% endif %}

  {% if prison_choice_available %}
    <div class="mtp-settings-item">
      <h2 class="heading-large">
        {% trans 'Your prisons' %}
      </h2>
      <ul class="list list-bullet">
        {% for prison in request.user.user_data.prisons %}
          <li>{{ prison.name }}</li>
        {% empty %}
          <li>{% trans 'All prisons' %}</li>
        {% endfor %}
      </ul>
      <a class="button" href="{% url 'change_prisons' %}">{% trans 'Change prisons' %}</a>
    </div>
  {% endif %}
{% endblock %}
