{% extends 'mtp_common/mtp_base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_end %}
  {{ block.super }}
  {% sentry_js %}
  <!-- {% if request.resolver_match.namespace %}{{ request.resolver_match.namespace }}:{% endif %}{{ request.resolver_match.url_name }} -->
{% endblock %}

{% block page_title %}{% trans 'NOMS admin' %}{% endblock %}

{% block proposition %}{% trans 'NOMS admin' %}{% endblock %}

{% block proposition_menu %}
  {% if request.user.is_authenticated %}
    <ul id="proposition-links" class="print-hidden">
      {% if request.can_access_security and request.can_access_prisoner_location or request.can_access_user_management or request.can_pre_approve %}
        {% if request.can_access_security %}
          {% if request.can_pre_approve %}
            <li><a href="{% url 'security:review_credits' %}">{% trans 'New credits check' %}</a></li>
          {% endif %}
          <li><a href="{% url 'security:dashboard' %}">{% trans 'All prisons’ credit search' %}</a></li>
        {% endif %}
        {% if request.can_access_prisoner_location %}
          <li><a href="{% url 'location_file_upload' %}">{% trans 'Prisoner location upload' %}</a></li>
        {% endif %}
        {% if request.can_access_user_management %}
          <li><a href="{% url 'list-users' %}">{% trans 'Manage users' %}</a></li>
        {% endif %}
      {% endif %}
      <li><a href="{% url 'password_change' %}">{% trans 'Change password' %}</a></li>
      <li>
        <a href="{% url 'logout' %}">
          {% blocktrans trimmed with full_name=request.user.get_full_name|default:request.user.username %}
            Sign out {{ full_name }}
          {% endblocktrans %}
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock %}
