{% extends 'mtp_common/mtp_base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block body_end %}
  <script src="{% url 'js-i18n' %}?{{ APP_GIT_COMMIT_SHORT }}"></script>
  {{ block.super }}
  {% sentry_js %}
  <!-- {{ request.resolver_match.view_name }} -->
{% endblock %}

{% block page_title %}{{ app_title }}{% endblock %}
{% block proposition %}{{ app_title }}{% endblock %}


{% block proposition_extra %}
  <nav id="mtp-proposition-extra" class="column-full print-hidden">
    {% spaceless %}
      <ul id="mtp-proposition-tabs">
        {% if request.user.is_authenticated and request.can_access_security %}
          {% if request.can_pre_approve %}
            {% include 'proposition-tab.html' with view_name='security:review_credits' subview_names='security:review_credits' link_text=_('New credits check') %}
          {% endif %}
          {% include 'proposition-tab.html' with view_name='security:prisoner_list' subview_names='security:prisoner_list security:prisoner_list_legacy security:prisoner_detail security:prisoner_disbursement_detail security:prisoner_search_results security:prisoner_advanced_search' link_text=_('Prisoners') params=initial_params hide_on_mobile=True %}
          {% include 'proposition-tab.html' with view_name='security:sender_list' subview_names='security:sender_list security:sender_list_legacy security:sender_detail security:sender_search_results security:sender_advanced_search' link_text=_('Payment sources') params=initial_params hide_on_mobile=True %}
          {% include 'proposition-tab.html' with view_name='security:credit_list' subview_names='security:credit_list security:credit_detail security:credit_search_results security:credit_advanced_search' link_text=_('Credits') params=initial_params %}
          {% include 'proposition-tab.html' with view_name='security:disbursement_list' subview_names='security:disbursement_list security:disbursement_detail security:disbursement_search_results security:disbursement_advanced_search' link_text=_('Disbursements') params=initial_params %}
          {% include 'proposition-tab.html' with view_name='security:notification_list' subview_names='security:notification_list' link_text=_('Notifications') %}
          {% if request.can_manage_security_checks %}
            {% include 'proposition-tab.html' with view_name='security:check_list' subview_names='security:check_list security:credits_history security:resolve_check' link_text=_('Credits to action') %}
          {% endif %}
        {% elif request.user.is_authenticated and request.can_access_prisoner_location %}
          {% include 'proposition-tab.html' with view_name='location_file_upload' subview_names='location_file_upload' link_text=_('Upload location file') %}
        {% else %}
          {% include 'proposition-tab.html' with view_name='login' subview_names='login' link_text=_('Sign in') %}
        {% endif %}
        {% include 'proposition-tab.html' with view_name='submit_ticket' subview_names='submit_ticket feedback_success' link_text=_('Help and feedback') %}
      </ul>
    {% endspaceless %}
  </nav>
{% endblock %}

{% block licence_message %}
  <p>
    <strong>OFFICIAL</strong> — {% trans 'Permission is required to share this content with individuals who are not direct employees of HMPPS working in an intelligence function' %}.
  </p>
{% endblock %}

{% block footer_support_links %}
  <ul>
    <li><a href="{% url 'submit_ticket' %}">{% trans 'Help and feedback' %}</a></li>
    <li>
      {% trans 'Built by' %}
      <a href="https://mojdigital.blog.gov.uk/">
        <abbr title="{% trans 'Ministry of Justice' %}">MOJ</abbr> Digital
      </a>
    </li>
  </ul>
{% endblock %}
