{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block inner_content %}
  {% notifications_box request 'noms_ops_security_dashboard' %}

  <header>
    <h1 class="heading-xlarge mtp-unpadded-heading">
      {% blocktrans trimmed with full_name=request.user.get_full_name|default:request.user.username %}
        Welcome {{ full_name }}
      {% endblocktrans %}
    </h1>
  </header>

  {% if request.can_access_security %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <p class="lede">
          {% blocktrans trimmed %}
            Use this tool to monitor all credits sent to prisoners using the <a href="{{ start_page_url }}">Send money to someone in prison</a> service.
          {% endblocktrans %}
        </p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third mtp-box">
        <a href="{% url 'security:credit_list'|conditional_fallback_search_view:request %}?{{ initial_params }}">
          {% trans 'Credits' %}
        </a>
      </div>

      <div class="column-one-third mtp-box">
        <a href="{% url 'security:sender_list'|conditional_fallback_search_view:request %}?{{ initial_params }}">
          {% trans 'Payment sources' %}
        </a>
      </div>

      <div class="column-one-third mtp-box">
        <a href="{% url 'security:prisoner_list' %}?{{ initial_params }}">
          {% trans 'Prisoners' %}
        </a>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third mtp-box">
        <a href="{% url 'security:disbursement_list' %}?{{ initial_params }}">
          {% trans 'Disbursements' %}
        </a>
      </div>

      {% if request.can_access_notifications %}
        <div class="column-one-third mtp-box">
          <a href="{% url 'security:notification_list' %}">
            {% trans 'Notifications' %}
          </a>
        </div>
      {% endif %}
    </div>

  {% endif %}

  {% if request.can_access_security and saved_searches|length > 0 %}

    <h2 class="heading-medium">{% trans 'Payment sources and prisoners you are monitoring' %}</h2>
    {% for search in saved_searches %}
      {% if forloop.counter0|divisibleby:3 %}
      <div class="grid-row">
      {% endif %}
        <div class="column-one-third mtp-box mtp-box-pinned">
          <a href="{{ search.site_url }}">
            {{ search.description }}
            {% if search.new_result_count %}
              <span>
                {% blocktrans trimmed count count=search.new_result_count %}
                  1 new credit
                {% plural %}
                  {{ count }} new credits
                {% endblocktrans %}
              </span>
            {% endif %}
          </a>
        </div>
      {% if forloop.counter|divisibleby:3 or forloop.last %}
      </div>
      {% endif %}
    {% endfor %}

  {% endif %}

  {% if request.can_access_security and request.can_pre_approve or request.can_access_user_management or request.can_access_prisoner_location %}

    <h2 class="heading-medium">{% trans 'Admin options' %}</h2>

    <div class="grid-row">
      {% if request.can_access_security and request.can_pre_approve %}
        <div class="column-one-third mtp-box">
          <a href="{% url 'security:review_credits' %}">
            {% trans 'New credits check' %}
          </a>
        </div>
      {% endif %}

      {% if request.can_access_user_management %}
        <div class="column-one-third mtp-box">
          <a href="{% url 'list-users' %}">
            {% trans 'Manage users' %}
          </a>
        </div>
      {% endif %}

      {% if request.can_access_prisoner_location %}
        <div class="column-one-third mtp-box">
          <a href="{% url 'location_file_upload' %}">
            {% trans 'Upload prisoner location file' %}
          </a>
        </div>
      {% endif %}
    </div>

  {% endif %}

{% endblock %}
