{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load security %}

{% block phase_banner %}
  {{ block.super }}

  {% include 'security/includes/prison-switcher.html' %}
{% endblock %}

{% block content %}
  {% notification_banners request 'noms_ops_security_dashboard' %}
  {% include 'security/includes/account-requests-banner.html' %}

  <header>
    <h1 class="govuk-heading-xl">
      {% blocktrans trimmed with full_name=request.user.get_full_name|default:request.user.username %}
        Welcome {{ full_name }}
      {% endblocktrans %}
    </h1>
  </header>

  {% if link_cards %}
    {% card_group link_cards %}
  {% endif %}

  {% if saved_search_cards %}
    <h2 class="govuk-heading-m">{% trans 'Payment sources and prisoners you are monitoring' %}</h2>
    {% card_group saved_search_cards %}
  {% endif %}

  {% if admin_cards %}
    <h2 class="govuk-heading-m">{% trans 'Admin options' %}</h2>
    {% card_group admin_cards %}
  {% endif %}

{% endblock %}
