{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block proposition_extra %}
  <nav id="mtp-proposition-extra" class="column-full print-hidden"></nav>
{% endblock %}

{% block content %}

  <header>
    <h1 class="heading-xlarge">{{ view.title }}</h1>
  </header>

  {% notification_banners request %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>
        {% blocktrans trimmed with job_title=_('direct employee of HMPPS or a contracted prison and working in an intelligence function')|wrapwithtag:'strong' %}
          To continue using the intelligence tool, you must be a {{ job_title }}.
        {% endblocktrans %}
        {% trans 'Police intelligence officers (PIOs and PLOs) are not eligible to use this tool.' %}
      </p>

      <form method="post">
        {% csrf_token %}
        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        {% with field=form.next %}
          <input type="hidden" name="{{ field.html_name }}" value="{{ field.value|default:field.field.initial|default:'' }}" />
        {% endwith %}

        {% with field=form.confirmation choices=form.confirmation.field.choices %}
          <fieldset>
            <legend id="{{ field.id_for_label }}-label">
              <strong>{{ field.label }}</strong>
            </legend>

            <div class="form-group {% if field.errors %}form-group-error{% endif %}">
              {% for value, label in choices %}
                <div class="multiple-choice">
                  <input id="{{ field.html_name }}-{{ value }}" type="radio" name="{{ field.html_name }}" value="{{ value }}">
                  <label for="{{ field.html_name }}-{{ value }}">{{ label }}</label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        {% endwith %}

        <div class="form-group">
          <button type="submit" class="button">
            {% trans 'Next' %}
          </button>
        </div>
      </form>

    </div>
  </div>

{% endblock %}
