{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block content %}

  <header>
    <h1 class="heading-xlarge">{{ view.title }}</h1>
  </header>

  {% notification_banners request %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% trans 'Sorry, you’re not eligible to use this intelligence tool due to data restrictions.' %}
      {% url 'submit_ticket' as link %}
      {% blocktrans trimmed %}
        Please <a href="{{ link }}">contact us</a> for further information.
      {% endblocktrans %}

    </div>
  </div>

{% endblock %}
