{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Upload prisoner location file' %} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">{% trans 'Upload prisoner location file' %}</h1>
      </header>

      {% notification_banners request %}

      <form action="{% url 'location_file_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

        <p>
          {% trans 'Run the ‘Electronic Credits and Prisoner Establishment Locations’ report in P-NOMIS, then upload the file on this page in CSV format (.csv)' %}
        </p>

        <div class="govuk-inset-text">
          <p>
            {% blocktrans trimmed %}
              Ensure you use the full report <strong>including the private estate</strong>.
            {% endblocktrans %}
          </p>
          <p>{% trans 'Please note the uploaded prisoner locations will replace all those currently stored in the system.' %}</p>
        </div>

        {% include 'mtp_common/forms/file-field.html' with field=form.location_file %}

        <input type="submit" value="{% trans 'Upload file' %}" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" />
      </form>

    </div>
  </div>
{% endblock %}
