{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block inner_content %}
<header>
  {% language_switch %}
  <h1 class="heading-xlarge">{% trans 'Upload location file' %}</h1>
</header>

{% include 'mtp_common/includes/message_box.html' %}

<form action="{% url 'location_file_upload' %}"
      method="post"
      enctype="multipart/form-data"
      class="upload-form">
  {% csrf_token %}

  {% include 'mtp_common/forms/error-summary.html' with form=form only %}

  <div class="form-group">
    {% trans 'Run the “Electronic Credits and Prisoner Establishment Locations” report in P-NOMIS, then upload the file on this page in CSV format (.csv)' %}
  </div>

  <div class="panel panel-border-wide">
    {% trans 'Please note that the uploaded prisoner locations will replace all those currently stored in the system.' %}
  </div>

  {% with field=form.location_file %}
    <div class="form-group {% if field.errors %}error{% endif %}">
      {% include 'mtp_common/forms/field-errors.html' with field=field only %}
      <span class="upload-filename"></span><label for="{{ field.id_for_label }}" id="{{ field.id_for_label }}-label" class="upload-choose button button-secondary">{% trans 'Choose file' %}</label>
      {{ field }}
    </div>
  {% endwith %}

  <div class="form-group upload-control">
    <input type="submit" value="{% trans 'Upload file' %}" class="button"/>
  </div>
  <p class="upload-otherfilelink"><a href=".">{% trans 'Upload another file' %}</a></p>
</form>

{% endblock %}
