{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Upload prisoner location file' %} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">{% trans 'Upload prisoner location file' %}</h1>
      </header>

      {% notification_banners request %}

      <div class="govuk-notification-banner mtp-notification-banner--warning" role="region" aria-labelledby="banner-not-required" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="banner-not-required">
            Please note
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Prisoner locations are now loaded automatically
          </p>
          You only need to upload a report here if there was a problem
        </div>
      </div>

      <form action="{% url 'location_file_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

        <ol class="govuk-list govuk-list--number">
          <li>
            {% blocktrans trimmed with report='MIS Electronic Credits and Prisoner Establishment Locations (inc POPs)' %}
              Run the ‘{{ report }}’ report in P-NOMIS.
            {% endblocktrans %}
            <br />
            <br />
            {% blocktrans trimmed with path='Public Folders/NOMIS/Management Information Reports/MIS - HQ Reports/' %}
              This report is in the folder ‘{{ path }}’.
            {% endblocktrans %}
          </li>
          <li>
            {% trans 'Export in CSV format (.csv)' %}
          </li>
          <li>
            {% trans 'Upload the file on this page' %}
          </li>
        </ol>

        <div class="govuk-inset-text">
          <p>{% trans 'Please note the uploaded prisoner locations will replace all those currently stored in the system.' %}</p>
        </div>

        {% include 'mtp_common/forms/file-field.html' with field=form.location_file %}

        <input type="submit" value="{% trans 'Upload file' %}" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" />
      </form>

    </div>
  </div>
{% endblock %}
