table.mtp-table {
  .mtp-check-date {
    white-space: nowrap;
  }

  .mtp-check-row td {
    border-bottom: none;
  }

  .mtp-check-description-row td {
    border-top: none;
    padding-top: 0;
    margin-bottom: 0;
  }
  border-spacing: 0;
  border-collapse: collapse;
}

table.mtp-table--review {
  margin-bottom: 4em;
}

.mtp-check-needs-attention {
  display: inline-block;
  width: 30px;
  height: 20px;
  padding: 3px 0 0 0;
  margin: 0 10px 0 0;
  border-radius: 75px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  background: $red;
  color: $white;
  white-space: nowrap;
}

.mtp-check-details {
  margin: 1em 0 1.5em;
  padding: 1em;

  th, td {
    border: 0;
    font-weight: normal;
    padding: 0 0 0.3em 0;
  }

  th {
    padding-right: 1em;
  }

  tr:last-child {
    th, td {
      padding-bottom: 0;
    }
  }

  td {
    font-weight: bold;
  }

  &.panel {
    margin-left: 1em;
  }
}

.button-warning {
  @include button($red);
}

.moj-sub-navigation {
  margin-bottom: 0.7rem;
}

.moj-sub-navigation__list {
  font-size: 0; // Removes white space when using inline-block on child element.
  box-shadow: inset 0 -1px 0 $grey-2;
  list-style: none;
  margin: 0;
  padding: 0;

}

.moj-sub-navigation__item {
  line-height: 1.31579;
  display: inline-block;

  @include core-19;

  margin-top: -1px;
  margin-right: 20px;

  &:last-child {
    box-shadow: none;
  }
}


.moj-sub-navigation__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0.3rem;
  text-decoration: none;
  position: relative;

  &:focus {
    color: black; // Focus colour on yellow should really be black.
    position: relative; // Ensure focus sits above everything else.
    box-shadow: none;
    outline: 3px solid transparent;
    background-color: $focus-colour;
  }

  &:focus:before {
    background-color: black;
    content: "";
    display: block;
    width: 100%;
    position: absolute; bottom: 0; left: 0; right: 0;
    height: 5px;
  }

}

.moj-sub-navigation__link[aria-current="page"] {
  color: black;
  position: relative;
  text-decoration: none;

  &:before {
    background-color: $govuk-blue;
    content: "";
    display: block;
    position: absolute; bottom: 0; left: 0;
    height: 5px;
    width: 100%;
  }

  &:focus:before {
    background-color: black;
  }

}

.mtp-check-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mtp-check-header + .heading-medium {
  margin-top: 0;
}

.mtp-check-header__list-toggle {
  margin-bottom: 3.25rem;
}

.mtp-check-header__assigned-user {
  color: $red;
}

.mtp-check-cell__actions {
  display: flex;
  align-items: center;

  .button, .button-secondary {
    margin-bottom: 1rem;

    @include media(mobile) {
      width: auto;
    }
  }
}

.mtp-check-cell__list-status {
  margin-left: 1rem;
}

.mtp-check-cell__list-status--my-list, .mtp-check-cell__list-status--text {
  display: inline-block;
  margin-bottom: 0.6rem;
}

.mtp-check-cell__list-status--my-list {
  @extend %mtp-text-with-tick;
}

.mtp-check-cell__list-form {
  display: inline-block;
}

.ignore-input {
  display: none;
}

.mtp-check-form-spacing > div.form-group {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  position: relative;
}
