.mtp-check-list .button {
  margin-bottom: 1em;

  @include media(mobile) {
    margin-left: 0;
  }
}

table.mtp-table {
  .mtp-check-date {
    white-space: nowrap;
  }

  .mtp-check-row td {
    border-bottom: none;
  }

  .mtp-check-description-row td {
    border-top: none;
    padding-top: 0;
    margin-bottom: 0;
  }
}

table.mtp-table--review {
  margin-bottom: 4em;
}

.mtp-check-needs-attention {
  display: inline-block;
  width: 30px;
  height: 20px;
  padding: 3px 0 0 0;
  margin: 0 10px 0 0;
  border-radius: 75px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  background: $red;
  color: $white;
  white-space: nowrap;
}

.mtp-check-details {
  margin: 1em 0 1.5em;
  padding: 1em;

  th, td {
    border: 0;
    font-weight: normal;
    padding: 0 0 0.3em 0;
  }

  th {
    padding-right: 1em;
  }

  tr:last-child {
    th, td {
      padding-bottom: 0;
    }
  }

  td {
    font-weight: bold;
  }

  &.panel {
    margin-left: 1em;
  }
}

.button-warning {
  @include button($red);
}
