.mtp-prison-list {
  margin-bottom: 1.5em;

  .mtp-prison-row {
    border-bottom: 1px solid $border-colour;
    padding: 0.5em 0 0.5em 0;

    .mtp-prison-row__prison {
      width: 50%;
      float: left;
    }

    .mtp-prison-row__remove {
      width: 50%;
      float: left;
      text-align: right;

      a:visited {
        color: $link-colour;
      }
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }
  }
}

.mtp-prison-selection-row {
  width: 80%;
  padding: 0.5em 0 0.5em 0;
  display: table;

  .mtp-prison-selection-row__prison {
    width: 80%;
    display: table-cell;
    vertical-align: middle;
  }

  .mtp-prison-selection-row__remove {
    width: 20%;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
  }

  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

a.mtp-ignore-visited:visited {
  color: $link-colour;
}

.mtp-choose-prison-select {
  width: 100%;
}

.mtp-info-box {
  background-color: $govuk-blue;
  color: white;
  margin-bottom: 1em;
  padding: 1em 1em 1.75em;

  .mtp-info-box__heading {
    font-size: 24px;
    font-weight: bold;
  }
}

input.mtp-link-submit {
  background: none;
  color: $link-colour;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;

  &:active {
    background-color: $focus-colour;
  }

  &:focus {
    outline: none;
  }
}
