.mtp-security-description {
  width: 65%;
}

.mtp-box {
  padding-bottom: 30px;

  a {
    display: block;
    background: $govuk-blue;
    color: $page-colour;
    text-decoration: none;
    padding: 0.8em;
    height: 6em;
    font-size: 1.2em;

    @include breakpoint($mobile) {
      height: 4em;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  &.mtp-box-pinned {
    a {
      background: $turquoise;
      position: relative;

      span {
        display: block;
        font-size: 0.8em;
        position: absolute;
        bottom: 0.8em;
      }
    }
  }
}
