.mtp-job-information-form {
    .mtp-conditional-wrapper {
        @extend .panel;
        border-left-width: 5px;
        margin-left: 18px;
        padding: 0 0 0 26px;
    }
    #id_tasks {
        width: 100%;
    }
}
