.mtp-notifications-current-week {
  margin-top: 1.5em;
  font-size: 1.3em;
}

.mtp-notifications-navigation {
  margin-top: 1em;
  margin-bottom: 1.5em;

  .mtp-notifications-previous-week, .mtp-notifications-next-week {
    float: left;

    a {
      text-decoration: none;

      &:visited {
        color: $link-colour;
      }
    }
  }

  .mtp-notifications-previous-week {
    margin-right: 5em;
  }

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.mtp-notifications-group {
  border-top: 1px solid $border-colour;
  margin-bottom: 2em;

  h2, h3 {
    max-width: 75%;
  }
}

.mtp-fade-out {
  color: $secondary-text-colour;
}
