.mtp-prisoner-summary {
  @media print {
    .column-one-quarter {
      display: inline-block;
    }
  }
}

.mtp-prisoner-credits {
  @media print {
    .column-one-third {
      display: inline-block;
      width: 100%;
    }
  }

  td {
    border-bottom: 0;
    vertical-align: top;
  }

  .mtp-prisoner-credits__credit-row {
    td {
      padding-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
  }

  .mtp-prisoner-credits__sender-row {
    border-bottom: 1px solid $border-colour;

    td {
      padding-top: 0;
    }
  }

  .mtp-credit-details__acc-no {
    padding-left: 3.2em;
    width: 27%;
  }

  .mtp-credit-details__sort-code {
    width: 15%;
  }

  .mtp-credit-details__card {
    padding-left: 3.2em;
  }
}


