.mtp-prison-switcher {
  @extend %site-width-container;

  padding: 10px 0 5px;
  border-bottom: 1px solid $border-colour;

  .mtp-prison-switcher__prison-names {
    float: left;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
  }

  .mtp-prison-switcher__change-link {
    float: left;
    width: 20%;
    text-align: right;
  }

  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
