.mtp-prisoner-image {
  float: left;
  margin-right: 30px;
  width: 160px;
  height: 200px;
  background-image: file-url('placeholder-image.png');
  background-size: contain;
  background-repeat: no-repeat;

  @include device-pixel-ratio {
    background-image: file-url('placeholder-image@2x.png');
  }

  img {
    width: 160px;
    height: 200px;
  }
}

@include media($max-width: 940px) {
  .mtp-prisoner-image {
    float: none;
    padding-bottom: 0.5em;
  }
}

.mtp-prisoner-summary {
  margin: 0;

  .column-one-quarter {
    padding-left: 0;
    padding-right: 30px;
    width: auto;
  }

  .column-full {
    padding: 0;
  }

  @media print {
    .column-one-quarter {
      display: inline-block;
    }
  }
}

.mtp-prisoner-credits {
  @media print {
    .column-one-third {
      display: inline-block;
      width: 100%;
    }
  }

  td {
    border-bottom: 0;
    vertical-align: top;
  }

  .mtp-prisoner-credits__credit-row {
    td {
      padding-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
  }

  .mtp-prisoner-credits__sender-row {
    border-bottom: 1px solid $border-colour;

    td {
      padding-top: 0;
    }
  }

  .mtp-credit-details__acc-no {
    padding-left: 2.7em;
    width: 27%;
  }

  .mtp-credit-details__sort-code {
    width: 15%;
  }

  .mtp-credit-details__card {
    padding-left: 2.7em;
  }
}


