.mtp-review {
  margin: 0;

  .actions {
    margin-top: $gutter;
    margin-bottom: $gutter;

    a {
      line-height: 175%;
      margin-left: $gutter;
    }
  }

  table {
    width: 100%;
    border-top: 1px solid $grey-2;
    border-bottom: 1px solid $grey-2;

    textarea {
      width: 100%;
    }

    tr {
      td {
        border-bottom: 0;
      }
    }

    .numeric {
      font-size: 19px;
    }

    .sender, .prisoner {
      font-size: 16px;

      .line1 {
        font-size: 19px;
      }
    }
  }
}