.SecurityForm {
  overflow: hidden;
  padding-left: 1px;

  .form-control {
    width: 6em;
  }

  select.form-control {
    width: auto;
  }

  @media (max-width: 639px) {
    .form-control {
      width: 100%;
    }
  }

  .form-range-field {
    width: 15em;
    float: left;
    clear: left;
  }
}

.SearchFormWrapper {
  margin-top: 2em;
}

.ResultsFormWrapper {
  padding-bottom: 1em;
  background: $grey-3;

  h2 {
    margin-top: 1em;
  }
}

.ResultsList {
  h2 {
    margin-top: 0;
  }

  table {
    width: 100%;
    margin-bottom: 1.5em;

    th, td {
      padding: 0.5em;
      font-size: 14px;
    }

    td {
      font-size: 0.7em;
    }
  }
}

.CollapsingTableHeader {
  background: #CDE2B7;
  font-weight: normal;

  strong {
    font-weight: bold;
  }

  .GroupedResults-sender-details {
    line-height: 1em;
    text-align: right;

    small {
      font-size: 0.75em;
    }
  }
}

.CreditDetailRow {
  // credit detail tables that are loaded inline

  table {
    margin-bottom: 0;
    border: 1px solid $border-color;
    font-size: 0.85em;

    th, td {
      font-size: 12px;
    }
  }
  table & > td {
    padding: 0 1px 1em 1em;
  }
}
tbody tr.CreditDetailRow table {
  th, td {
    background: $grey-4;
  }

  @media print {
    & {
      th, td {
        background: $page-colour;
      }
    }
  }
}
