// app-specific styles

select[disabled] {
  border-color: $secondary-text-colour;
  color: $secondary-text-colour;
}

#id_sender_name, #id_sender_email {
  max-width: 16em;
  width: 100%;
}

#id_source {
  width: 100%;
}

#id_sender_account_number {
  width: 10em;
}

#id_card_number_last_digits-wrapper {
  width: 14em;
}

#id_prisoner_name {
  max-width: 16em;
  width: 100%;
}

#id_prisoner_number {
  width: 10em;
}

#id_prisoner_name-wrapper,
#id_prisoner_number-wrapper {
  width: 18em;
  display: inline-block;
}

#id_amount_exact-wrapper,
#id_amount_pence-wrapper {
  border-left: 10px solid $grey-2;
  display: none;
  padding-left: 15px;
}

#id_amount_pattern,
#id_prison,
#id_prison_region,
#id_prison_population,
#id_prison_category {
  width: 100%;
}

.column-narrow {
  width: 4em;
  display: block;
  float: left;
}

.narrow {
  width: 28%;
}


// govuk elements overrides

.form-label {
  font-weight: bold;

  &.sublabel {
    font-weight: normal;
  }
}

.mtp-results-form__submit {
  margin-bottom: .3em;
}

.mtp-security-form {
  #id_sender_account_number-wrapper,
  #id_sender_sort_code-wrapper,
  #id_card_number_last_digits-wrapper,
  #id_sender_email-wrapper {
    padding-left: 1em;
    display: none;
  }
}
