// app-specific styles

.mtp-security-form {
  overflow: hidden;
  padding-left: 1px;

  .form-control {
    width: 6em;
  }

  select.form-control {
    width: auto;
  }

  .form-range-field {
    clear: left;
    float: left;
    width: 15em;
  }
}

.mtp-results-form__wrapper {
  background: $grey-3;
  padding-bottom: 1em;
  padding-top: .5em;

  @include breakpoint($mobile) {
    padding-top: .8em;
  }

  h2 {
    margin-top: 0;
  }

  .mtp-results-form__submit {
    float: none;
  }

  @media print {
    display: none;
  }
}

.mtp-results-list {
  h2 {
    margin-top: 0;
  }

  table {
    margin-bottom: 1em;
    width: 100%;

    &.mtp-results-list__alone caption {
      background-color: #CDE2B7;
    }

    th,
    td {
      padding: .5em;

      .mtp-credit-detail__link {
        background-color: $page-colour;
        border: 0;
        color: $link-colour;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .mtp-search-description__text {
    display: none;
    font-size: .8em;

    @media print {
      display: block;
    }
  }
}

.mtp-credit-detail__row {
  // credit detail tables that are loaded inline
  font-size: 1.19em;

  table {
    border: 1px solid $border-color;
    margin-bottom: 0;

    > td {
      padding: 0 1px 1em 1em;
    }
  }
}

tbody tr.mtp-credit-detail__row table {
  th,
  td {
    background: $grey-4;
  }

  @media print {
    th,
    td {
      background: $page-colour;
    }
  }
}

// mtp-common overrides

.CollapsingTableHeader {
  background: $panel-colour;
  font-weight: normal;
  min-height: 2em;

  &.mtp-sender__header {
    background: #CDE2B7;
  }

  &.mtp-prisoner__header {
    background: #FDE4D4;
  }

  .CollapsingTableHeader-below {
    font-size: .75em;
  }

  .CollapsingTableHeader-aside-right {
    top: 1.2em;
  }

  strong {
    font-weight: bold;
  }

  .mtp-grouped-results__sender-details {
    line-height: 1em;
    text-align: right;

    small {
      font-size: .75em;
    }
  }
}
