#id_sender_name {
  width: 100%;
  max-width: 16em;
}
#id_sender_account_number {
  width: 10em;
}

#id_prisoner_name {
  width: 100%;
  max-width: 16em;
}
#id_prisoner_number {
  width: 10em;
}

#id_amount_exact-wrapper, #id_amount_pence-wrapper {
  display: none;
  padding-left: 15px;
  border-left: 10px solid $grey-2;
}
