// app-specific styles

.mtp-results-list {
  width: 100%;
  margin-top: 1.25em;

  h2 {
    margin-top: 0;
    display: inline-block;
  }

  table {
    margin-bottom: 1em;
    width: 100%;
  }

  thead {
    border-top: 1px solid $grey-2;
  }

  th,
  td {
    vertical-align: top;
    padding: .8em;
  }

  .number {
    padding-right: 1.2em;
    text-align: right;
  }

  @media print {
    td {
      padding-top: 2px;
      padding-bottom: 2px;

      p {
        margin-bottom: 0;
      }
    }

    p {
      font-size: 14px;
    }
  }

  .mtp-results-ordering {
    height: 100%;
    padding: 0;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $text-colour;
      text-decoration: none;

      &:hover, &:focus {
        background: $focus-colour;
        outline: 0;
      }

      span {
        display: block;
        margin: .8em 0 .8em .8em;
        padding-right: 1.2em;
      }
    }

    &.mtp-results-ordering--asc, &.mtp-results-ordering--desc {
      border-left: 1px solid $grey-2;
      border-right: 1px solid $grey-2;

      span {
        background: transparent file-url('ordering-asc.png') no-repeat 92% 50%;

        @include device-pixel-ratio {
          background-image: file-url('ordering-asc@2x.png');
          background-size: 9px 9px;
        }
      }
    }

    &.mtp-results-ordering--desc span {
      background-image: file-url('ordering-desc.png');

      @include device-pixel-ratio {
        background-image: file-url('ordering-desc@2x.png');
      }
    }
  }

  .mtp-search-description__text {
    float: left;
    margin-bottom: 0;
    width: 80%;

    @include media (mobile) {
      width: 100%;
    }
  }

  a:link:after, a:visited:after {
    content: '';
    display: none;
  }
}

.mtp-credit__card, .mtp-credit__transfer, .mtp-credit__post {
  display: inline-block;
  width: 70%;
  min-height: 2.5em;
  margin-left: 0;
  margin-top: 0;
  padding-left: 2em;
  background: file-url('icon-card.png') no-repeat scroll 0 0;

  @include device-pixel-ratio {
    background-image: file-url('icon-card-2x.png');
    background-size: 30px 30px;
  }
}

.mtp-credit__transfer {
  background: file-url('icon-bank.png') no-repeat scroll 0 0;

  @include device-pixel-ratio {
    background-image: file-url('icon-bank-2x.png');
    background-size: 30px 30px;
  }
}

.mtp-credit__post {
  background: file-url('icon-post.png') no-repeat scroll 0 0;

  @include device-pixel-ratio {
    background-image: file-url('icon-post-2x.png');
    background-size: 30px 30px;
  }
}

@media print {
  .mtp-credit__card, .mtp-credit__transfer, .mtp-credit__post {
    padding-left: 0;
    background: none;
    min-height: 0;
    width: auto;
  }
}
