// app-specific styles

#id_sender_name {
  max-width: 16em;
  width: 100%;
}

#id_sender_account_number {
  width: 10em;
}

#id_prisoner_name {
  max-width: 16em;
  width: 100%;
}

#id_prisoner_number {
  width: 10em;
}

#id_amount_exact-wrapper,
#id_amount_pence-wrapper {
  border-left: 10px solid $grey-2;
  display: none;
  padding-left: 15px;
}

.mtp-credits {

  #id_amount_pattern,
  #id_prison,
  #id_prison_region,
  #id_prison_population,
  #id_prison_category,
  #id_prisoner_number {
    width: 100%;
  }

  .column-narrow {
    width: 4em;
    display: block;
    float: left;
  }

  .narrow {
    width: 28%;
  }
}

// govuk elements overrides

.form-label {
  font-weight: bold;

  &.sublabel {
    font-weight: normal;
  }
}

.mtp-results-form__submit {
  margin-bottom: .3em;
}
