// app-specific styles
.mtp-security-search {
  margin-top: 0;
}

.mtp-security-form {
  margin: 0;
  overflow: hidden;
  padding-left: 1px;

  .form-control {
    width: 6em;
  }

  .form-group {
    float: none;
  }

  select.form-control {
    width: auto;
  }

  .form-range-field {
    clear: left;
    width: 15em;
  }

  span {
    padding-right: 2em;
  }
}

.mtp-links {
  float: right;
  display: inline-block;
}

// tabs

.tabs {
  .tabs-nav {
    display: block;

    .tab-item {
      display: inline-block;

      a.tab {
        border: 3px solid transparent;
        border-bottom-width: 0;
        display: block;
        outline: none;
        padding: em(9.5);

        @include media(mobile) {
          border-bottom-width: 3px;
        }

        &.selected {
          background: $page-colour;
          border-color: $border-colour;

          &:focus {
            background: $focus-colour;
          }
        }
      }
    }
  }

  .tabs-contents {
    margin-top: -3px;

    @include media(mobile) {
      margin-top: .5em;
    }

    .tabcontent {
      border: 3px solid $border-color;
      padding: 1em;
    }
  }

  &.collapsed-tabs {
    display: inline-block;

    .tabs-nav {
      border: 3px solid $border-color;

      .tab-item {
        a.tab {
          border-top: 0;

          &.first-tab {
            border-left: 0;
          }
          &.last-tab {
            border-right: 0;
          }
        }
      }
    }

    .tabs-contents {
      display: none;
    }
  }
}
