// app-specific styles

.mtp-results-list {
  @extend %table-container;
  width: 100%;
  margin-top: 1.25em;

  h2 {
    margin-top: 0;
    display: inline-block;
  }

  table {
    margin-bottom: 1em;
    width: 100%;
  }

  thead {
    border-top: 1px solid $border-colour;
  }

  th,
  td {
    vertical-align: top;
    padding: .8em;
  }

  address {
    @include core-19;
    font-style: normal;
  }

  .number {
    padding-right: 1.2em;
    text-align: right;
  }

  @media print {
    td {
      padding-top: 2px;
      padding-bottom: 2px;

      p {
        margin-bottom: 0;
      }
    }

    p {
      font-size: 14px;
    }
  }

  .mtp-results-ordering {
    height: 100%;
    padding: 0;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $text-colour;
      text-decoration: none;

      &:hover, &:focus {
        background: $focus-colour;
        outline: 0;
      }

      span {
        display: block;
        margin: .8em 0 .8em .8em;
        padding-right: 1.2em;
      }
    }

    &.mtp-results-ordering--asc, &.mtp-results-ordering--desc {
      border-left: 1px solid $border-colour;
      border-right: 1px solid $border-colour;

      span {
        background: transparent file-url('ordering-asc.png') no-repeat 92% 50%;

        @include device-pixel-ratio {
          background-image: file-url('ordering-asc@2x.png');
          background-size: 9px 9px;
        }
      }
    }

    &.mtp-results-ordering--desc span {
      background-image: file-url('ordering-desc.png');

      @include device-pixel-ratio {
        background-image: file-url('ordering-desc@2x.png');
      }
    }
  }

  .mtp-search-description__text {
    float: left;
    margin-bottom: 0;
    width: 80%;

    @include media (mobile) {
      width: 100%;
    }
  }

  .mtp-credit-arrow-cell {
    width: 8em;
    padding: 0;
    vertical-align: middle;
  }
}

.mtp-result-detail {
  td {
    padding-left: 0;
    border-top: 1px solid $border-colour;
    border-bottom: none;
  }

  small {
    color: $secondary-text-colour;
  }

  cite, q {
    font-style: normal;
  }
}

.mtp-detail-label {
  color: $secondary-text-colour;
  font-size: 16px;
}

.mtp-credit-arrow, .mtp-disbursement-arrow {
  display: inline-block;
  min-width: 33px;
  padding-top: 30px;
  background: file-url('credit-arrow.png') no-repeat scroll 50% 0;
  text-align: center;

  @include device-pixel-ratio {
    background-image: file-url('credit-arrow@2x.png');
    background-size: 32px 22px;
  }
}

.mtp-disbursement-arrow {
  background-image: file-url('disbursement-arrow.png');

  @include device-pixel-ratio {
    background-image: file-url('disbursement-arrow@2x.png');
  }
}

@media print {
  .mtp-credit-arrow, .mtp-disbursement-arrow {
    padding-top: 0;
    background: none;
  }
}
