.mtp-sender-summary {
  margin: 0;

  .col-1 {
    width: 25%;
  }

  .col-2 {
    width: 20%;
  }

  .col-3 {
    width: 50%;

    .column-one-half {
      padding-left: 0;
    }
  }
}


.mtp-sender-summary__transfer {

  margin-top: 1em;
  margin-left: 0;
  width: 70%;

  background: url('/static/images/icon-bank-2x.png') no-repeat scroll 0 0;
  display: inline-block;
  min-height: 2.5em;
  padding-left: 4em;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: url('/static/images/icon-bank-2x.png');
    background-size: 30px 39px;
  }
}

.mtp-sender-summary__debit {

  margin-top: 1em;
  margin-left: 0;
  width: 70%;

  background: url('/static/images/icon-card-2x.png') no-repeat scroll 0 0;
  display: inline-block;
  min-height: 2.5em;
  padding-left: 4em;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: url('/static/images/icon-bank-2x.png');
    background-size: 30px 39px;
  }
}