@import 'mtp-internal';

@import 'elements/mailcheck-warning';
@import 'elements/date-picker';
@import 'elements/autocomplete';

@import 'views/login';
@import 'views/dashboard';
@import 'views/security-forms';
@import 'views/security-form-fields';
@import 'views/security-results';
@import 'views/senders-detail';
@import 'views/prisoners-detail';
@import 'views/review';
@import 'views/save-search';
@import 'views/choose-prisons';

// govuk elements overrides

form .form-group .form-hint {
  margin-top: 0;
}

// mtp header overrides

.mtp-internal-site #global-header #logo {
  padding-top: 8px;
  font-size: 24px;
}

.mtp-unpadded-heading {
  margin-bottom: 0;
}
.mtp-unpadded-subheading {
  margin: 0;
}

.mtp-slim-heading {
  margin-bottom: 0.8em;
}

// app-specific styles

%table-container {
  @include media($max-width: $desktop-breakpoint, $ignore-for-ie: true) {
    @media screen {
      overflow-x: scroll;

      table {
        min-width: 900px;
      }
    }
  }
}

@include media($max-width: $mtp-proposition-tab-breakpoint, $ignore-for-ie: true) {
  #mtp-proposition-tabs li.mtp-proposition-tab__show-on-desktop {
    display: none;
  }
}

.print-only-inline {
  display: none;

  @media print {
    display: inline;
  }
}
