{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Upload location file" %}</h1>

{% include "mtp_common/includes/message_box.html" %}

<form action="{% url "location_file_upload" %}"
      method="post"
      enctype="multipart/form-data"
      class="js-uploadSubmit">
  {% csrf_token %}

  {% include 'mtp_common/forms/error-summary.html' with form=form only %}

  <p>{% trans 'Please note that the uploaded prisoner locations will replace all those currently stored in the system.' %}</p>

  {% with field=form.location_file %}
    <div class="form-group Upload {% if field.errors %}error{% endif %}">
      <div class="screenreader-only">{% include 'mtp_common/forms/field-label.html' with field=field only %}</div>
      {% include 'mtp_common/forms/field-errors.html' with field=field only %}
      {{ field }}
    </div>
  {% endwith %}

  <div class="form-group">
    <input type="submit" value="{% trans "Upload file" %}" class="button" data-value-uploading="{% trans "Uploading" %}"/>
  </div>
</form>
{% endblock %}
