{% extends 'security/forms/filter-form.html' %}
{% load i18n %}
{% load security %}

{% block search_description %}
  {{ block.super }}
  {% trans 'You can’t see credits received by post.' %}
{% endblock %}

{% block filters %}

  <div class="grid-row">
    <div class="column-half">

      {% filtergroup form=form group='received_at' %}
        {% include 'security/forms/date-range-field.html' with range_label=form.group_labels.received_at since_field=form.received_at__gte until_field=form.received_at__lt %}
      {% endfiltergroup %}

      {% filtergroup form=form group='amount' %}
        {% include 'security/forms/select-field.html' with field=form.amount_pattern %}
        {% include 'mtp_common/forms/field.html' with field=form.amount_exact %}
        {% include 'mtp_common/forms/field.html' with field=form.amount_pence %}
      {% endfiltergroup %}

      {% filtergroup form=form group='sender' %}
        {% include 'mtp_common/forms/select-field.html' with field=form.source %}
        {% include 'mtp_common/forms/field.html' with field=form.sender_name %}
        <div class="form-group mtp-payment-method-options--bank-transfer">
          {% include 'mtp_common/forms/field.html' with field=form.sender_account_number %}
          {% include 'mtp_common/forms/field.html' with field=form.sender_sort_code %}
        </div>
        <div class="form-group mtp-payment-method-options--debit-card">
          {% include 'mtp_common/forms/field.html' with field=form.card_number_last_digits %}
          {% include 'mtp_common/forms/field.html' with field=form.sender_email %}
          {% include 'mtp_common/forms/field.html' with field=form.sender_postcode %}
          {% include 'mtp_common/forms/field.html' with field=form.sender_ip_address %}
        </div>
      {% endfiltergroup %}

    </div>
    <div class="column-half">

      {% filtergroup form=form group='prisoner' %}
        {% include 'mtp_common/forms/field.html' with field=form.prisoner_name %}
        {% include 'mtp_common/forms/field.html' with field=form.prisoner_number %}
      {% endfiltergroup %}

      {% filtergroup form=form group='prison' %}
        {% include 'security/forms/prison-select-field.html' with field=form.prison %}
        {% include 'security/forms/select-field.html' with field=form.prison_population %}
        {% include 'security/forms/select-field.html' with field=form.prison_category %}
        {% include 'security/forms/select-field.html' with field=form.prison_region %}
      {% endfiltergroup %}

    </div>
  </div>

{% endblock %}
