{% extends 'security/forms/filter-form.html' %}
{% load i18n %}
{% load security %}

{% block filters %}

  {% filtergroup form=form fields='created__gte created__lt' group='date' label=_('Date entered') %}
    {% include 'security/forms/date-range-field.html' with range_label=_('Date entered') since_field=form.created__gte until_field=form.created__lt %}
  {% endfiltergroup %}

  {% filtergroup form=form fields='amount_pattern amount_exact amount_pence' group='amount' label=_('Amount (£)') %}
    {% include 'security/forms/select-field.html' with field=form.amount_pattern %}
    {% include 'mtp_common/forms/field.html' with field=form.amount_exact %}
    {% include 'mtp_common/forms/field.html' with field=form.amount_pence %}
  {% endfiltergroup %}

  {% filtergroup form=form fields='method recipient_name recipient_email postcode account_number sort_code' group='recipient' label=_('Recipient') %}
    {% include 'mtp_common/forms/select-field.html' with field=form.method %}
    {% include 'mtp_common/forms/field.html' with field=form.recipient_name %}
    {% include 'mtp_common/forms/field.html' with field=form.recipient_email %}
    {% include 'mtp_common/forms/field.html' with field=form.postcode %}
    <div class="form-group mtp-payment-method-options--bank-transfer">
      {% include 'mtp_common/forms/field.html' with field=form.account_number %}
      {% include 'mtp_common/forms/field.html' with field=form.sort_code %}
    </div>
  {% endfiltergroup %}

  {% filtergroup form=form fields='prisoner_number prisoner_name' group='prisoner' label=_('Prisoner') %}
    {% include 'mtp_common/forms/field.html' with field=form.prisoner_name %}
    {% include 'mtp_common/forms/field.html' with field=form.prisoner_number %}
  {% endfiltergroup %}

  {% filtergroup form=form fields='prison prison_region prison_population prison_category' group='prison' label=_('Prison') %}
    {% include 'security/forms/prison-select-field.html' with field=form.prison %}
    {% include 'security/forms/select-field.html' with field=form.prison_population %}
    {% include 'security/forms/select-field.html' with field=form.prison_category %}
    {% include 'security/forms/select-field.html' with field=form.prison_region %}
  {% endfiltergroup %}

  {% filtergroup form=form fields='invoice_number' group='invoice' label=_('Invoice number') %}
    {% include 'mtp_common/forms/field.html' with field=form.invoice_number %}
  {% endfiltergroup %}

{% endblock %}
