{% extends 'security/forms/filter-form.html' %}
{% load i18n %}
{% load security %}

{% block search_description %}
  {{ block.super }}
  {% trans 'You can’t see cash or postal orders here.' %}
{% endblock %}

{% block filters %}

  <div class="grid-row">
    <div class="column-half">

      {% filtergroup form=form group='created' %}
        {% include 'security/forms/date-range-field.html' with range_label=form.group_labels.created since_field=form.created__gte until_field=form.created__lt %}
      {% endfiltergroup %}

      {% filtergroup form=form group='amount' %}
        {% include 'security/forms/select-field.html' with field=form.amount_pattern %}
        {% include 'mtp_common/forms/field.html' with field=form.amount_exact %}
        {% include 'mtp_common/forms/field.html' with field=form.amount_pence %}
      {% endfiltergroup %}

      {% filtergroup form=form group='recipient' %}
        {% include 'mtp_common/forms/select-field.html' with field=form.method %}
        {% include 'mtp_common/forms/field.html' with field=form.recipient_name %}
        {% include 'mtp_common/forms/field.html' with field=form.recipient_email %}
        {% include 'mtp_common/forms/field.html' with field=form.postcode %}
        <div class="form-group mtp-payment-method-options--bank-transfer">
          {% include 'mtp_common/forms/field.html' with field=form.account_number %}
          {% include 'mtp_common/forms/field.html' with field=form.sort_code %}
        </div>
      {% endfiltergroup %}

      {% filtergroup form=form group='invoice' %}
        {% include 'mtp_common/forms/field.html' with field=form.invoice_number %}
      {% endfiltergroup %}

    </div>
    <div class="column-half">

      {% filtergroup form=form group='prisoner' %}
        {% include 'mtp_common/forms/field.html' with field=form.prisoner_name %}
        {% include 'mtp_common/forms/field.html' with field=form.prisoner_number %}
      {% endfiltergroup %}

      {% filtergroup form=form group='prison' %}
        {% include 'security/forms/prison-select-field.html' with field=form.prison %}
        {% include 'security/forms/select-field.html' with field=form.prison_population %}
        {% include 'security/forms/select-field.html' with field=form.prison_category %}
        {% include 'security/forms/select-field.html' with field=form.prison_region %}
      {% endfiltergroup %}

    </div>
  </div>

{% endblock %}
