{% load i18n %}

<script>
  var prisonData={{ form.prison_list.mapping_as_json }};
</script>

{{ form.ordering.as_hidden }}

<div class="form-group">
  {% block filters %}{% endblock %}
</div>

<div class="form-group">
  <button type="submit" class="button">{% trans 'Filter list' %}</button>
  {% if form.search_description.has_filters %}
    <a href="?{% if form.ordering.value %}ordering={{ form.ordering.value }}{% endif %}" role="button" class="mtp-cancel-button">
      {% trans 'Clear filters' %}
    </a>
  {% endif %}
</div>
