{% load i18n %}

<script>
  var prisonData={{ form.prison_list.mapping_as_json }};
</script>

{% include 'mtp_common/forms/error-summary.html' with form=form only %}

{% if not form.errors %}
  <p class="mtp-search-description">
    {% block search_description %}
      <span class="print-only-inline">{{ form.search_description.description }}</span>
      <span class="print-hidden">{{ form.search_description.simple_description }}</span>
    {% endblock %}
  </p>

  <a href="#" class="button js-filters-trigger print-hidden" data-target="js-hidden-filters">
    {% if form.search_description.has_filters %}
      {% trans 'Edit filters' %}
    {% else %}
      {% trans 'Add filters' %}
    {% endif %}
  </a>
{% endif %}

<div id="js-hidden-filters" class="print-hidden {% if not form.errors %}js-hidden{% endif %}">
  <div class="form-group">
    {{ form.ordering.as_hidden }}

    {% block filters %}{% endblock %}
  </div>

  <div class="form-group">
    <button type="submit" class="button">{% trans 'Filter list' %}</button>
    {% if form.search_description.has_filters %}
      <a href="?{% if form.ordering.value %}ordering={{ form.ordering.value }}{% endif %}" role="button" class="mtp-cancel-button">
        {% trans 'Clear filters' %}
      </a>
    {% endif %}
  </div>
</div>
