{% extends 'security/forms/radio-fieldset-with-conditional.html' %}
{% load i18n %}

{% block conditional_fields %}
  {% if choice == 'bank_transfer' %}
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="{{ field.id_for_label }}-{{ choice_slug }}-conditional">
      {% include 'mtp_common/forms/field.html' with field=form.account_number input_classes='govuk-input--width-10' only %}
      {% include 'mtp_common/forms/field.html' with field=form.sort_code input_classes='govuk-input--width-5' only %}
    </div>
  {% elif choice == 'online' %}
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="{{ field.id_for_label }}-{{ choice_slug }}-conditional">
      {% include 'mtp_common/forms/field.html' with field=form.card_number_last_digits input_classes='govuk-input--width-5' only %}
    </div>
  {% endif %}
{% endblock %}
