{% extends 'security/forms/radio-fieldset.html' %}
{% load i18n %}

{% block radio_item %}
  {% if not user.user_data.prisons and choice == form.PRISON_SELECTOR_ALL_PRISONS_CHOICE_VALUE %}
    {# User's prisons is already all prisons so we don't want to have two repeated choices. #}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block radio_label %}
  {% if choice == PRISON_SELECTOR_USER_PRISONS_CHOICE_VALUE %}
    {% include 'security/forms/user-prison-names-ellipsis.html' %}
  {% else %}
    {{ label }}
  {% endif %}
{% endblock %}

{% block conditional_fields %}
  {% if choice == 'exact' %}
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="{{ field.id_for_label }}-{{ choice_slug }}-conditional">
      {% with field=form.prison %}
        <div id="{{ field.id_for_label }}-wrapper" class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">
          {% include 'mtp_common/forms/field-label.html' with field=field only %}
          {% include 'mtp_common/forms/field-errors.html' with field=field only %}

          <select id="{{ field.id_for_label }}" class="govuk-select {% if field.errors %}govuk-select--error{% endif %} mtp-autocomplete" name="{{ field.html_name }}">
            <option value=""></option>
            {% for key, title in field.field.choices %}
              <option value="{{ key }}" {% if key in field.value %}selected{% endif %}>{{ title }}</option>
            {% endfor %}
          </select>

        </div>
      {% endwith %}
    </div>
  {% endif %}
{% endblock %}
