{% load i18n %}

<div class="govuk-heading-l">{% trans 'Prison' %}</div>
{% with field=form.prison_selector choices=form.prison_selector.field.choices %}
  <fieldset class="form-group mtp-conditional-container">
    <legend id="{{ field.id_for_label }}-label" class="visually-hidden">
      <strong>{{ field.label }}</strong>
    </legend>

    <div class="{% if field.errors %}form-group-error{% endif %}">
      {% for value, label in choices %}
        {% if not user.user_data.prisons and value == form.PRISON_SELECTOR_ALL_PRISONS_CHOICE_VALUE %}
          {% comment %}User's prisons is already all prisons so we don't want to have two repeated choices.{% endcomment %}
        {% else %}
        <div class="multiple-choice">
          <input id="{{ field.html_name }}-{{ value }}" type="radio" name="{{ field.html_name }}" value="{{ value }}" {% if value == field.value %}checked{% endif %}>

          <label for="{{ field.html_name }}-{{ value }}">
            {% if value == PRISON_SELECTOR_USER_PRISONS_CHOICE_VALUE %}
              {% include 'security/forms/user-prison-names-ellipsis.html' %}
            {% else %}
              {{ label }}
            {% endif %}
          </label>

        </div>
        {% endif %}
      {% endfor %}

      {% with sub_field=form.prison %}
      <div class="mtp-conditional-wrapper" id="mtp-conditional-prison_selector-exact">
        <div id="{{ sub_field.id_for_label }}-wrapper" class="form-group {% if sub_field.errors %}form-group-error{% endif %}">

          {% include 'mtp_common/forms/field-label.html' with field=sub_field only %}
          {% include 'mtp_common/forms/field-errors.html' with field=sub_field only %}

          <select id="{{ sub_field.id_for_label }}" class="form-control {% if sub_field.errors %}form-control-error{% endif %} mtp-autocomplete" name="{{ sub_field.html_name }}">
              <option value=""></option>
            {% for key, title in sub_field.field.choices %}
              <option value="{{ key }}" {% if key in sub_field.value %}selected{% endif %}>{{ title }}</option>
            {% endfor %}
          </select>

        </div>
        {% endwith %}
      </div>
    </div>
  </fieldset>
{% endwith %}
