{% extends 'security/forms/radio-fieldset.html' %}
{% load i18n %}

{% block radio_item %}
  {% if not user.user_data.prisons and choice == form.PRISON_SELECTOR_ALL_PRISONS_CHOICE_VALUE %}
    {# User's prisons is already all prisons so we don't want to have two repeated choices. #}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block radio_label %}
  {% if choice == PRISON_SELECTOR_USER_PRISONS_CHOICE_VALUE %}
    {% include 'security/forms/user-prison-names-ellipsis.html' %}
  {% else %}
    {{ label }}
  {% endif %}
{% endblock %}

{% block conditional_fields %}
  {% if choice == 'exact' %}
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="{{ field.id_for_label }}-{{ choice_slug }}-conditional">
      {% include 'mtp_common/forms/select-field.html' with field=form.prison input_classes='mtp-select--autocomplete govuk-input--width-10' only %}
    </div>
  {% endif %}
{% endblock %}
