{% load i18n %}
{% load security %}

<div id="{{ field.id_for_label }}-wrapper" class="form-group {% if field.errors %}form-group-error{% endif %}">
  {% include 'mtp_common/forms/field-label.html' with field=field only %}
  {% include 'mtp_common/forms/field-errors.html' with field=field only %}
  {% include 'mtp_common/forms/field-help-text.html' with field=field only %}

  {% with selected=field.value|default:field.field.initial %}
    <select id="{{ field.id_for_label }}" class="form-control {% if field.errors %}form-control-error{% endif %}" name="{{ field.html_name }}">
      <option value="">{% trans 'All prisons' %}</option>
      {% if selected|length > 1 %}
          <optgroup label="{% trans 'Multiple prisons' %}:">
            <option value="{{ selected|join:',' }}" selected>{{ form.describe_field_prison }}</option>
          </optgroup>
        {% for key, title in field.field.choices %}
          <option value="{{ key }}">{{ title }}</option>
        {% endfor %}
      {% else %}
        {% for key, title in field.field.choices %}
          <option value="{{ key }}" {% if key in selected %}selected{% endif %}>{{ title }}</option>
        {% endfor %}
      {% endif %}
    </select>
  {% endwith %}
</div>
