{% load i18n %}
{% load security %}

<div class="mtp-security-form">
  {{ form.ordering.as_hidden }}

  <div class="mtp-tab-container mtp-tab-container--collapsed" data-tab-cookie-name="mtp-tab-senders">
    {% spaceless %}
      <ul class="mtp-tab-wrapper" role="tablist">
        <li class="mtp-tab-item" role="presentation"><a class="mtp-tab mtp-tab--first" {% tab_aria_atts 'sender' %}>{% trans 'Payment source' %}</a></li>
        <li class="mtp-tab-item" role="presentation"><a class="mtp-tab mtp-tab--last" {% tab_aria_atts 'prison' %}>{% trans 'Prison' %}</a></li>
      </ul>
    {% endspaceless %}

    <div class="mtp-tabpanels" aria-expanded="false">
      <div class="mtp-tabpanel" {% panel_aria_atts 'sender' %}>
        <div class="grid-row">
          <div class="column-one-third">
            {% include 'mtp_common/forms/select-field.html' with field=form.source %}
            {% include 'mtp_common/forms/field.html' with field=form.sender_name %}
          </div>
          <div class="column-two-thirds">
            {% include 'mtp_common/forms/field.html' with field=form.sender_account_number %}
            {% include 'mtp_common/forms/field.html' with field=form.sender_sort_code %}
          </div>
          <div class="column-two-thirds">
            {% include 'mtp_common/forms/field.html' with field=form.card_number_last_digits %}
            {% include 'mtp_common/forms/field.html' with field=form.sender_email %}
          </div>
        </div>
      </div>

      <div class="mtp-tabpanel" {% panel_aria_atts 'prison' %}>
        <script>
          var prisonData={{ form.prison_list.mapping_as_json }};
        </script>
        <div class="grid-row">
          <div class="column-one-third">
            {% include 'security/forms/select-field.html' with field=form.prison %}
            {% include 'security/forms/select-field.html' with field=form.prison_population %}
          </div>
          <div class="column-one-third">
            {% include 'security/forms/select-field.html' with field=form.prison_category %}
            {% include 'security/forms/select-field.html' with field=form.prison_region %}
          </div>
        </div>
      </div>
    </div>
    <div class="mtp-filter-list">
      {% include 'security/forms/update-search.html' with search_description=form.search_description only %}
    </div>
  </div>
</div>
