{% load i18n %}
{% load mtp_common %}
{% load security %}

<div class="mtp-security-form">
  {{ form.ordering.as_hidden }}

  {% tabbedpanel cookie_name='mtp-tab-senders' tab_label=_('Filter by') %}

    {% paneltab name='sender' title=_('Payment source') %}
      <div class="grid-row">
        <div class="column-one-third">
          {% include 'mtp_common/forms/select-field.html' with field=form.source %}
          {% include 'mtp_common/forms/field.html' with field=form.sender_name %}
        </div>
        <div class="column-two-thirds mtp-payment-method-options--bank-transfer">
          {% include 'mtp_common/forms/field.html' with field=form.sender_account_number %}
          {% include 'mtp_common/forms/field.html' with field=form.sender_sort_code %}
        </div>
        <div class="column-one-third mtp-payment-method-options--debit-card">
          {% include 'mtp_common/forms/field.html' with field=form.card_number_last_digits %}
          {% include 'mtp_common/forms/field.html' with field=form.sender_email %}
        </div>
        <div class="column-one-third mtp-payment-method-options--debit-card">
          {% include 'mtp_common/forms/field.html' with field=form.sender_postcode %}
        </div>
      </div>
    {% endpaneltab %}

    {% paneltab name='prison' title=_('Prison') %}
      <script>
        var prisonData={{ form.prison_list.mapping_as_json }};
      </script>
      <div class="grid-row">
        <div class="column-one-third">
          {% include 'security/forms/prison-select-field.html' with field=form.prison %}
          {% include 'security/forms/select-field.html' with field=form.prison_population %}
        </div>
        <div class="column-one-third">
          {% include 'security/forms/select-field.html' with field=form.prison_category %}
          {% include 'security/forms/select-field.html' with field=form.prison_region %}
        </div>
      </div>
    {% endpaneltab %}

    {% include 'security/forms/update-search.html' with search_description=form.search_description only %}

  {% endtabbedpanel %}
</div>
