{% extends 'mtp_common/email_base.html' %}
{% load i18n %}

{% block inner_content %}
  <p>
    {% trans 'The upload of the prisoner location file failed, with the following errors:' %}
  </p>

  <ul>
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>

  <p>
    {% trans 'You may need to try uploading the prisoner location report again.' %}
  </p>

  <p>
    <a href="{{ feedback_url }}">
      {% blocktrans %}If you are unsure what the problem might be, please contact us at {{ feedback_url }}{% endblocktrans %}
    </a>
  </p>
{% endblock %}
